Repository hyperledger-identus/cloud-agent, changes with the owners that .github/CODEOWNERS names for each.
All owners: @patlo-iog, @yshyn-iohk, @bvoiturier, @FabioPinheiro, @mineme0110, @CryptoKnightIOG, @shotexa, @amagyar-iohk, @davidpoltorak-io, @BS-IO

wip: fix compilation issue
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/agent/server/CloudAgentApp.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/agent/server/MainApp.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/oid4vci/VerifiablePresentationEndpoints.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/oid4vci/VerifiablePresentationServerEndpoints.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/oid4vci/controller/VerifiablePresentationController.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/oid4vci/http/AuthorizationRequest.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/oid4vci/http/VerifiablePresentationSubmissionForm.scala
Owners: none

update holder did and keys in demo scripts
  examples/st-oid4vci/demo/main.py
  examples/st-oid4vp/demo.py
  pollux/vc-jwt/src/main/scala/org/hyperledger/identus/pollux/vc/jwt/JWTVerification.scala
Owners: @patlo-iog, @CryptoKnightIOG, @mineme0110

endpoint verificatio and demo script
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/oid4vci/VerifiablePresentationServerEndpoints.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/oid4vci/controller/VerifiablePresentationController.scala
  cloud-agent/service/server/src/test/scala/org/hyperledger/identus/api/util/Tapir2StaticOAS.scala
  examples/.nickel/root.ncl
  examples/.nickel/stack.ncl
  examples/.nickel/versions.ncl
  examples/mt-keycloak-vault/compose.yaml
  examples/mt-keycloak/compose.yaml
  examples/mt/compose.yaml
  examples/st-multi/compose.yaml
  examples/st-oid4vci/compose.yaml
  examples/st-oid4vp/compose.yaml
  examples/st-oid4vp/demo.py
  examples/st-vault/compose.yaml
  examples/st/compose.yaml
  pollux/prex/src/main/scala/org/hyperledger/identus/pollux/prex/PresentationDefinition.scala
  pollux/prex/src/main/scala/org/hyperledger/identus/pollux/prex/PresentationSubmission.scala
  pollux/prex/src/main/scala/org/hyperledger/identus/pollux/prex/PresentationSubmissionVerification.scala
Owners: @patlo-iog, @CryptoKnightIOG, @mineme0110

oid4vp service
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/agent/server/MainApp.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/oid4vci/controller/VerifiablePresentationController.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/OID4VPService.scala
Owners: @patlo-iog, @CryptoKnightIOG, @mineme0110

last commit
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/OID4VPService.scala
Owners: @patlo-iog, @CryptoKnightIOG, @mineme0110

docs: refactor links from 'docs' to `home`
  README.md
  docs/docusaurus/connections/connection.md
  docs/docusaurus/credentialdefinition/create.md
  docs/docusaurus/credentialdefinition/delete.md
  docs/docusaurus/credentials/connectionless/issue.md
  docs/docusaurus/credentials/didcomm/issue.md
  docs/docusaurus/credentials/didcomm/present-proof.md
  docs/docusaurus/credentials/oid4vci/issue.md
  docs/docusaurus/dids/create.md
  docs/docusaurus/dids/deactivate.md
  docs/docusaurus/dids/publish.md
  docs/docusaurus/dids/update.md
  docs/docusaurus/index.md
  docs/docusaurus/multitenancy/admin-authz-ext-iam.md
  docs/docusaurus/multitenancy/tenant-migration.md
  docs/docusaurus/multitenancy/tenant-onboarding-ext-iam.md
  docs/docusaurus/multitenancy/tenant-onboarding-self-service.md
  docs/docusaurus/multitenancy/tenant-onboarding.md
  docs/docusaurus/schemas/create.md
  docs/docusaurus/schemas/credential-schema.md
  docs/docusaurus/schemas/delete.md
  docs/docusaurus/schemas/update.md
Owners: @davidpoltorak-io, @yshyn-iohk, @BS-IO

style: apply linters automatic fixes
  docs/docusaurus/multitenancy/admin-authz-ext-iam.md
  docs/docusaurus/multitenancy/tenant-migration.md
  docs/docusaurus/multitenancy/tenant-onboarding-ext-iam.md
  docs/docusaurus/multitenancy/tenant-onboarding-self-service.md
Owners: @davidpoltorak-io, @yshyn-iohk, @BS-IO

fixes fail on condition
  .github/workflows/oasdiff.yml
Owners: @mineme0110

build: try to publish with publish
  cloud-agent/client/generator/publish-clients.sh
Owners: none

build: clean up package.json in the TS project
  cloud-agent/client/typescript/package.json
Owners: none

node publication
  .github/workflows/release-clients.yml
Owners: @mineme0110

add tag to npm publication
  .github/workflows/release-clients.yml
  cloud-agent/client/generator/publish-clients.sh
Owners: @mineme0110

add always-auth for npm
  .github/workflows/release-clients.yml
Owners: @mineme0110

fixes npm publication
  .github/workflows/release-clients.yml
Owners: @mineme0110

changes to publish to npmjs
  .github/workflows/release-clients.yml
  cloud-agent/client/generator/publish-clients.sh
  cloud-agent/client/typescript/package.json
Owners: @mineme0110

updates release clients
  .github/workflows/release-clients.yml
Owners: @mineme0110

updates node auth token
  .github/workflows/release-clients.yml
Owners: @mineme0110

add verbosity to yarn publish
  cloud-agent/client/generator/publish-clients.sh
Owners: none

build: fix the typo in the issueManagement
  cloud-agent/client/kotlin/build.gradle.kts
Owners: none

build: replace gradle-build-action with setup-gradle
  .github/workflows/release-clients.yml
Owners: @mineme0110

build: upgrade download-arifact to v4
  .github/workflows/release-clients.yml
Owners: @mineme0110

fix docker compose to pass enable API_KEY_ENABLED flag
  infrastructure/shared/docker-compose-combined.yml
  infrastructure/shared/docker-compose-demo.yml
  infrastructure/shared/docker-compose-mt-keycloak.yml
  infrastructure/shared/docker-compose-with-kafka.yml
  infrastructure/shared/docker-compose.yml
Owners: none

style: apply linters automatic fixes
  infrastructure/shared/docker-compose-mt-keycloak.yml
  infrastructure/shared/docker-compose-with-kafka.yml
Owners: none

build: migrate to the hyperledger-identus organization
  cloud-agent/client/kotlin/build.gradle
  cloud-agent/client/kotlin/settings.gradle
  cloud-agent/client/typescript/package.json
Owners: none

build: migrate to the hyperledger-identus organization 2
  cloud-agent/client/kotlin/build.gradle
  tests/integration-tests/build.gradle.kts
Owners: @amagyar-iohk, @yshyn-iohk, @patlo-iog, @mineme0110

fix: docker image and package version
  tests/integration-tests/build.gradle.kts
  tests/integration-tests/src/test/resources/containers/agent.yml
Owners: @amagyar-iohk, @yshyn-iohk, @patlo-iog, @mineme0110

fix: change prism-node docker image
  tests/integration-tests/src/test/resources/containers/vdr.yml
Owners: @amagyar-iohk, @yshyn-iohk, @patlo-iog, @mineme0110

fix: increase Kafka container healthcheck retries to 10
  tests/integration-tests/src/test/resources/containers/agent.yml
Owners: @amagyar-iohk, @yshyn-iohk, @patlo-iog, @mineme0110

fix: add SDJWT value to the OAS enum validation in IssueCredentialRecord and CreateIssueCredentialRecordRequest
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/issue/controller/http/CreateIssueCredentialRecordRequest.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/issue/controller/http/IssueCredentialRecord.scala
Owners: none

docs: fix broken documentation link
  README.md
Owners: none

build: configure NPMJS and Maven Central publishing
  .github/workflows/build.yml
  .github/workflows/release-clients.yml
  cloud-agent/client/generator/publish-clients.sh
  cloud-agent/client/kotlin/build.gradle.kts
  cloud-agent/client/kotlin/gradle.properties
  cloud-agent/client/typescript/package.json
Owners: @mineme0110

style: megalinter
  CONTRIBUTING.md
  cloud-agent/client/generator/publish-clients.sh
  cloud-agent/client/kotlin/build.gradle.kts
Owners: none

build: allow to compare the OAS diff in the PR from the forked branches
  .github/workflows/oasdiff.yml
Owners: @mineme0110

.github/CODEOWNERS:

# Castor:
/castor/ @patlo-iog @yshyn-iohk

# Connect:
/connect/ @bvoiturier @FabioPinheiro @mineme0110

# Pollux:
/pollux/ @patlo-iog @CryptoKnightIOG @mineme0110

# PRISM Agent:
/prism-agent/ @bvoiturier @yshyn-iohk @patlo-iog

# CI pipelines:
/.github/ @mineme0110

# PRISM Node:
/prism-node/ @shotexa

# Shared:
/shared/ @patlo-iog @FabioPinheiro @mineme0110 @yshyn-iohk @bvoiturier @shotexa @CryptoKnightIOG

# E2E tests:
/tests/ @amagyar-iohk @yshyn-iohk @patlo-iog @mineme0110

# Docs:
/docs/ @davidpoltorak-io @yshyn-iohk @BS-IO
