Repository hyperledger-identus/cloud-agent, changes with the labels that .github/labeler.yml gives for each.
All labels: castor, mercury, connect, pollux, prism-agent, prism-node, shared, infra, build, ci, docs

wip: fix compilation issue
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/agent/server/CloudAgentApp.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/agent/server/MainApp.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/oid4vci/VerifiablePresentationEndpoints.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/oid4vci/VerifiablePresentationServerEndpoints.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/oid4vci/controller/VerifiablePresentationController.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/oid4vci/http/AuthorizationRequest.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/oid4vci/http/VerifiablePresentationSubmissionForm.scala
Labels: none

update holder did and keys in demo scripts
  examples/st-oid4vci/demo/main.py
  examples/st-oid4vp/demo.py
  pollux/vc-jwt/src/main/scala/org/hyperledger/identus/pollux/vc/jwt/JWTVerification.scala
Labels: pollux

endpoint verificatio and demo script
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/oid4vci/VerifiablePresentationServerEndpoints.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/oid4vci/controller/VerifiablePresentationController.scala
  cloud-agent/service/server/src/test/scala/org/hyperledger/identus/api/util/Tapir2StaticOAS.scala
  examples/.nickel/root.ncl
  examples/.nickel/stack.ncl
  examples/.nickel/versions.ncl
  examples/mt-keycloak-vault/compose.yaml
  examples/mt-keycloak/compose.yaml
  examples/mt/compose.yaml
  examples/st-multi/compose.yaml
  examples/st-oid4vci/compose.yaml
  examples/st-oid4vp/compose.yaml
  examples/st-oid4vp/demo.py
  examples/st-vault/compose.yaml
  examples/st/compose.yaml
  pollux/prex/src/main/scala/org/hyperledger/identus/pollux/prex/PresentationDefinition.scala
  pollux/prex/src/main/scala/org/hyperledger/identus/pollux/prex/PresentationSubmission.scala
  pollux/prex/src/main/scala/org/hyperledger/identus/pollux/prex/PresentationSubmissionVerification.scala
Labels: pollux

oid4vp service
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/agent/server/MainApp.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/oid4vci/controller/VerifiablePresentationController.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/OID4VPService.scala
Labels: pollux

last commit
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/OID4VPService.scala
Labels: pollux

docs: refactor links from 'docs' to `home`
  README.md
  docs/docusaurus/connections/connection.md
  docs/docusaurus/credentialdefinition/create.md
  docs/docusaurus/credentialdefinition/delete.md
  docs/docusaurus/credentials/connectionless/issue.md
  docs/docusaurus/credentials/didcomm/issue.md
  docs/docusaurus/credentials/didcomm/present-proof.md
  docs/docusaurus/credentials/oid4vci/issue.md
  docs/docusaurus/dids/create.md
  docs/docusaurus/dids/deactivate.md
  docs/docusaurus/dids/publish.md
  docs/docusaurus/dids/update.md
  docs/docusaurus/index.md
  docs/docusaurus/multitenancy/admin-authz-ext-iam.md
  docs/docusaurus/multitenancy/tenant-migration.md
  docs/docusaurus/multitenancy/tenant-onboarding-ext-iam.md
  docs/docusaurus/multitenancy/tenant-onboarding-self-service.md
  docs/docusaurus/multitenancy/tenant-onboarding.md
  docs/docusaurus/schemas/create.md
  docs/docusaurus/schemas/credential-schema.md
  docs/docusaurus/schemas/delete.md
  docs/docusaurus/schemas/update.md
Labels: docs

style: apply linters automatic fixes
  docs/docusaurus/multitenancy/admin-authz-ext-iam.md
  docs/docusaurus/multitenancy/tenant-migration.md
  docs/docusaurus/multitenancy/tenant-onboarding-ext-iam.md
  docs/docusaurus/multitenancy/tenant-onboarding-self-service.md
Labels: docs

fixes fail on condition
  .github/workflows/oasdiff.yml
Labels: ci

build: try to publish with publish
  cloud-agent/client/generator/publish-clients.sh
Labels: none

build: clean up package.json in the TS project
  cloud-agent/client/typescript/package.json
Labels: none

node publication
  .github/workflows/release-clients.yml
Labels: ci

add tag to npm publication
  .github/workflows/release-clients.yml
  cloud-agent/client/generator/publish-clients.sh
Labels: ci

add always-auth for npm
  .github/workflows/release-clients.yml
Labels: ci

fixes npm publication
  .github/workflows/release-clients.yml
Labels: ci

changes to publish to npmjs
  .github/workflows/release-clients.yml
  cloud-agent/client/generator/publish-clients.sh
  cloud-agent/client/typescript/package.json
Labels: ci

updates release clients
  .github/workflows/release-clients.yml
Labels: ci

updates node auth token
  .github/workflows/release-clients.yml
Labels: ci

add verbosity to yarn publish
  cloud-agent/client/generator/publish-clients.sh
Labels: none

build: fix the typo in the issueManagement
  cloud-agent/client/kotlin/build.gradle.kts
Labels: none

build: replace gradle-build-action with setup-gradle
  .github/workflows/release-clients.yml
Labels: ci

build: upgrade download-arifact to v4
  .github/workflows/release-clients.yml
Labels: ci

fix docker compose to pass enable API_KEY_ENABLED flag
  infrastructure/shared/docker-compose-combined.yml
  infrastructure/shared/docker-compose-demo.yml
  infrastructure/shared/docker-compose-mt-keycloak.yml
  infrastructure/shared/docker-compose-with-kafka.yml
  infrastructure/shared/docker-compose.yml
Labels: infra

style: apply linters automatic fixes
  infrastructure/shared/docker-compose-mt-keycloak.yml
  infrastructure/shared/docker-compose-with-kafka.yml
Labels: infra

build: migrate to the hyperledger-identus organization
  cloud-agent/client/kotlin/build.gradle
  cloud-agent/client/kotlin/settings.gradle
  cloud-agent/client/typescript/package.json
Labels: none

build: migrate to the hyperledger-identus organization 2
  cloud-agent/client/kotlin/build.gradle
  tests/integration-tests/build.gradle.kts
Labels: none

fix: docker image and package version
  tests/integration-tests/build.gradle.kts
  tests/integration-tests/src/test/resources/containers/agent.yml
Labels: none

fix: change prism-node docker image
  tests/integration-tests/src/test/resources/containers/vdr.yml
Labels: none

fix: increase Kafka container healthcheck retries to 10
  tests/integration-tests/src/test/resources/containers/agent.yml
Labels: none

fix: add SDJWT value to the OAS enum validation in IssueCredentialRecord and CreateIssueCredentialRecordRequest
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/issue/controller/http/CreateIssueCredentialRecordRequest.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/issue/controller/http/IssueCredentialRecord.scala
Labels: none

.github/labeler.yml:

castor:
  - castor/**/*
mercury:
  - mercury/**/*
connect:
  - connect/**/*
pollux:
  - pollux/**/*
prism-agent:
  - prism-agent/**/*
prism-node:
  - prism-node/**/*
shared:
  - shared/**/*
infra:
  - infrastructure/**/*
build:
  - project/**/*
  - build.sbt
  - version.sbt
  - package*.json
ci:
  - .github/**/*
docs:
  - docs/**/*
  - README.md
