Repository hyperledger-identus/cloud-agent, pull requests merged in 2023-10, with the labels that each got.

#730 docs: add ADR on keycloak authorisation service for multitenancy [skip ci]
  docs/decisions/20230926-use-keycloak-authorisation-service-for-managing-wallet-permissions.md
Labels: docs

#740 fix(prism-agent): check issuing DID validity when creating a VC offer
  build.sbt
  castor/lib/core/src/main/scala/io/iohk/atala/castor/core/service/MockDIDService.scala
  pollux/lib/core/src/main/scala/io/iohk/atala/pollux/core/model/IssueCredentialRecord.scala
  pollux/lib/core/src/main/scala/io/iohk/atala/pollux/core/repository/CredentialRepository.scala
  pollux/lib/core/src/main/scala/io/iohk/atala/pollux/core/repository/CredentialRepositoryInMemory.scala
  pollux/lib/core/src/main/scala/io/iohk/atala/pollux/core/repository/PresentationRepository.scala
  pollux/lib/core/src/main/scala/io/iohk/atala/pollux/core/repository/PresentationRepositoryInMemory.scala
  pollux/lib/core/src/main/scala/io/iohk/atala/pollux/core/service/CredentialService.scala
  pollux/lib/core/src/main/scala/io/iohk/atala/pollux/core/service/CredentialServiceImpl.scala
  pollux/lib/core/src/main/scala/io/iohk/atala/pollux/core/service/CredentialServiceNotifier.scala
  pollux/lib/core/src/main/scala/io/iohk/atala/pollux/core/service/MockCredentialService.scala
  pollux/lib/core/src/main/scala/io/iohk/atala/pollux/core/service/MockPresentationService.scala
  pollux/lib/core/src/main/scala/io/iohk/atala/pollux/core/service/PresentationService.scala
  pollux/lib/core/src/main/scala/io/iohk/atala/pollux/core/service/PresentationServiceImpl.scala
  pollux/lib/core/src/main/scala/io/iohk/atala/pollux/core/service/PresentationServiceNotifier.scala
  pollux/lib/core/src/test/scala/io/iohk/atala/pollux/core/repository/CredentialRepositorySpecSuite.scala
  pollux/lib/core/src/test/scala/io/iohk/atala/pollux/core/repository/PresentationRepositorySpecSuite.scala
  pollux/lib/core/src/test/scala/io/iohk/atala/pollux/core/service/CredentialServiceImplSpec.scala
  pollux/lib/core/src/test/scala/io/iohk/atala/pollux/core/service/PresentationServiceSpec.scala
  pollux/lib/sql-doobie/src/main/scala/io/iohk/atala/pollux/sql/repository/JdbcCredentialRepository.scala
  pollux/lib/sql-doobie/src/main/scala/io/iohk/atala/pollux/sql/repository/JdbcPresentationRepository.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/agent/server/ControllerHelper.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/connect/controller/http/Connection.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/issue/controller/IssueControllerImpl.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/issue/controller/IssueEndpoints.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/issue/controller/http/IssueCredentialRecord.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/presentproof/controller/PresentProofControllerImpl.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/presentproof/controller/http/PresentationStatus.scala
  prism-agent/service/server/src/test/scala/io/iohk/atala/issue/controller/IssueControllerImplSpec.scala
  tests/e2e-tests/src/main/kotlin/api_models/Connection.kt
  tests/e2e-tests/src/main/kotlin/api_models/Credential.kt
  tests/e2e-tests/src/main/kotlin/api_models/PresentationProof.kt
Labels: pollux, castor, prism-agent, build

#742 fix: prohibit tenants to use equal api keys
  prism-agent/service/server/src/main/scala/io/iohk/atala/iam/authentication/apikey/ApiKeyAuthenticatorImpl.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/iam/authentication/apikey/AuthenticationRepository.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/iam/authentication/apikey/JdbcAuthenticationRepository.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/iam/entity/http/model/ApiKeyAuthenticationRequest.scala
  prism-agent/service/server/src/test/scala/io/iohk/atala/iam/authentication/apikey/ApiKeyAuthenticatorSpec.scala
  prism-agent/service/server/src/test/scala/io/iohk/atala/iam/authentication/apikey/JdbcAuthenticationRepositorySpec.scala
  prism-agent/service/wallet-api/src/main/resources/sql/agent/V13__apikey_authentication_improvements.sql
  tests/e2e-tests/src/test/kotlin/common/Environments.kt
  tests/e2e-tests/src/test/kotlin/features/multitenancy/EntitySteps.kt
Labels: prism-agent

#743 build: add local developement keycloak and init script
  infrastructure/shared/docker-compose-mt-keycloak.yml
  infrastructure/shared/keycloak/init-script.sh
Labels: infra

#744 feat: store link secret
  pollux/lib/core/src/main/scala/io/iohk/atala/pollux/core/model/IssueCredentialRecord.scala
  pollux/lib/core/src/main/scala/io/iohk/atala/pollux/core/model/error/CredentialServiceError.scala
  pollux/lib/core/src/main/scala/io/iohk/atala/pollux/core/model/error/LinkSecretError.scala
  pollux/lib/core/src/main/scala/io/iohk/atala/pollux/core/service/CredentialServiceImpl.scala
  pollux/lib/core/src/main/scala/io/iohk/atala/pollux/core/service/CredentialServiceNotifier.scala
  pollux/lib/core/src/main/scala/io/iohk/atala/pollux/core/service/LinkSecretService.scala
  pollux/lib/core/src/main/scala/io/iohk/atala/pollux/core/service/LinkSecretServiceImpl.scala
  pollux/lib/core/src/main/scala/io/iohk/atala/pollux/core/service/MockCredentialService.scala
  pollux/lib/core/src/test/scala/io/iohk/atala/pollux/core/service/CredentialServiceSpecHelper.scala
  pollux/lib/core/src/test/scala/io/iohk/atala/pollux/core/service/LinkSecretServiceImplSpec.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/agent/server/Main.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/issue/controller/IssueController.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/issue/controller/IssueControllerImpl.scala
  prism-agent/service/server/src/test/scala/io/iohk/atala/issue/controller/IssueControllerTestTools.scala
Labels: pollux, prism-agent

#745 fix: change repository and name for rest api clients
  prism-agent/client/kotlin/build.gradle
  prism-agent/client/python/setup.py
  prism-agent/client/typescript/package.json
Labels: prism-agent

#746 fix(prism-agent): configure APISIX to return CORS headers from Prism Agent endpoints
  infrastructure/shared/apisix/conf/apisix.yaml
Labels: infra

#748 docs: add credential definition docs
  docs/docusaurus/credentialdefinition/create.md
  docs/docusaurus/credentialdefinition/credential-definition.md
  docs/docusaurus/credentialdefinition/delete.md
  docs/docusaurus/schemas/credential-schema.md
  docs/docusaurus/sidebars.js
Labels: docs, mercury, build, infra, connect

#751 fix(prism-agent): fix docker env variables interpolation issue
  infrastructure/shared/docker-compose.yml
Labels: infra

#749 fix: improve performance for background jobs in multitenancy mode
  connect/lib/core/src/main/scala/io/iohk/atala/connect/core/repository/ConnectionRepository.scala
  connect/lib/core/src/main/scala/io/iohk/atala/connect/core/repository/ConnectionRepositoryInMemory.scala
  connect/lib/core/src/main/scala/io/iohk/atala/connect/core/service/ConnectionService.scala
  connect/lib/core/src/main/scala/io/iohk/atala/connect/core/service/ConnectionServiceImpl.scala
  connect/lib/core/src/main/scala/io/iohk/atala/connect/core/service/ConnectionServiceNotifier.scala
  connect/lib/core/src/main/scala/io/iohk/atala/connect/core/service/MockConnectionService.scala
  connect/lib/core/src/test/scala/io/iohk/atala/connect/core/repository/ConnectionRepositorySpecSuite.scala
  connect/lib/sql-doobie/src/main/scala/io/iohk/atala/connect/sql/repository/JdbcConnectionRepository.scala
  connect/lib/sql-doobie/src/test/scala/io/iohk/atala/connect/sql/repository/JdbcConnectionRepositorySpec.scala
  infrastructure/shared/docker-compose.yml
  pollux/lib/core/src/main/scala/io/iohk/atala/pollux/core/repository/CredentialRepository.scala
  pollux/lib/core/src/main/scala/io/iohk/atala/pollux/core/repository/CredentialRepositoryInMemory.scala
  pollux/lib/core/src/main/scala/io/iohk/atala/pollux/core/repository/PresentationRepository.scala
  pollux/lib/core/src/main/scala/io/iohk/atala/pollux/core/repository/PresentationRepositoryInMemory.scala
  pollux/lib/core/src/main/scala/io/iohk/atala/pollux/core/service/CredentialService.scala
  pollux/lib/core/src/main/scala/io/iohk/atala/pollux/core/service/CredentialServiceImpl.scala
  pollux/lib/core/src/main/scala/io/iohk/atala/pollux/core/service/CredentialServiceNotifier.scala
  pollux/lib/core/src/main/scala/io/iohk/atala/pollux/core/service/MockCredentialService.scala
  pollux/lib/core/src/main/scala/io/iohk/atala/pollux/core/service/MockPresentationService.scala
  pollux/lib/core/src/main/scala/io/iohk/atala/pollux/core/service/PresentationService.scala
  pollux/lib/core/src/main/scala/io/iohk/atala/pollux/core/service/PresentationServiceImpl.scala
  pollux/lib/core/src/main/scala/io/iohk/atala/pollux/core/service/PresentationServiceNotifier.scala
  pollux/lib/core/src/test/scala/io/iohk/atala/pollux/core/repository/CredentialRepositorySpecSuite.scala
  pollux/lib/core/src/test/scala/io/iohk/atala/pollux/core/repository/PresentationRepositorySpecSuite.scala
  pollux/lib/sql-doobie/src/main/scala/io/iohk/atala/pollux/sql/repository/JdbcCredentialRepository.scala
  pollux/lib/sql-doobie/src/main/scala/io/iohk/atala/pollux/sql/repository/JdbcPresentationRepository.scala
  pollux/lib/sql-doobie/src/test/scala/io/iohk/atala/pollux/sql/repository/JdbcCredentialRepositorySpec.scala
  pollux/lib/sql-doobie/src/test/scala/io/iohk/atala/pollux/sql/repository/JdbcPresentationRepositorySpec.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/agent/server/Main.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/agent/server/PrismAgentApp.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/agent/server/jobs/BackgroundJobsHelper.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/agent/server/jobs/ConnectBackgroundJobs.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/agent/server/jobs/IssueBackgroundJobs.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/agent/server/jobs/PresentBackgroundJobs.scala
Labels: pollux, prism-agent, infra, connect

#757 fix(prism-agent): agent should read DIDComm port from config
  prism-agent/service/server/src/main/resources/application.conf
  prism-agent/service/server/src/main/scala/io/iohk/atala/agent/server/DidCommHttpServer.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/agent/server/Main.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/agent/server/PrismAgentApp.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/agent/server/config/AppConfig.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/connect/controller/ConnectionControllerImpl.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/issue/controller/IssueControllerImpl.scala
Labels: prism-agent

#760 chore: fix npm client publishing repo
  .github/workflows/release-clients.yml
Labels: ci

#762 feat: add new auth params
  infrastructure/charts/agent/templates/deployment.yaml
  infrastructure/charts/agent/templates/stringsecret-agent-admin-token.yaml
  infrastructure/charts/agent/templates/stringsecret-agent-api-key-salt.yaml
  infrastructure/charts/agent/templates/stringsecret-agent-wallet-seed.yaml
Labels: infra

#763 docs: replace broken link in Issue.md, AnonCreds Credential definition
  docs/docusaurus/credentials/issue.md
Labels: docs

#764 docs: fix typo in docs link
  docs/docusaurus/credentials/issue.md
Labels: docs

#747 feat: disable cors by default
  infrastructure/charts/agent/values.yaml
Labels: infra

#750 fix: all performance tests run succesfully, add group thresholds
  .github/workflows/performance-tests.yml
  infrastructure/shared/docker-compose.yml
  infrastructure/single-tenant-testing-stack/.env
  infrastructure/single-tenant-testing-stack/apisix/conf/apisix.yaml
  infrastructure/single-tenant-testing-stack/apisix/conf/config.yaml
  infrastructure/single-tenant-testing-stack/docker-compose.yml
  infrastructure/single-tenant-testing-stack/postgres/init-script.sh
  infrastructure/single-tenant-testing-stack/postgres/max_conns.sql
  infrastructure/single-tenant-testing-stack/run-e2e-tests-local.sh
  infrastructure/single-tenant-testing-stack/run-performance-tests-local.sh
  tests/performance-tests/atala-performance-tests-k6/package.json
  tests/performance-tests/atala-performance-tests-k6/src/common/ConnectionService.ts
  tests/performance-tests/atala-performance-tests-k6/src/common/CredentialsService.ts
  tests/performance-tests/atala-performance-tests-k6/src/common/DidService.ts
  tests/performance-tests/atala-performance-tests-k6/src/common/HttpService.ts
  tests/performance-tests/atala-performance-tests-k6/src/common/ProofsService.ts
  tests/performance-tests/atala-performance-tests-k6/src/scenarios/default.ts
  tests/performance-tests/atala-performance-tests-k6/src/tests/credentials/credential-offer-test.ts
  tests/performance-tests/atala-performance-tests-k6/src/tests/credentials/credential-schema-test.ts
  tests/performance-tests/atala-performance-tests-k6/src/tests/dids/create-prism-did-test.ts
  tests/performance-tests/atala-performance-tests-k6/src/tests/dids/did-publishing-test.ts
  tests/performance-tests/atala-performance-tests-k6/src/tests/flows/connection-flow-test.ts
  tests/performance-tests/atala-performance-tests-k6/src/tests/flows/full-flow-test.ts
  tests/performance-tests/atala-performance-tests-k6/src/tests/flows/issuance-flow-test.ts
  tests/performance-tests/atala-performance-tests-k6/src/tests/flows/present-proof-flow-test.ts
  tests/performance-tests/atala-performance-tests-k6/yarn.lock
Labels: ci, infra

#765 feat: presentation API refactor
  pollux/lib/core/src/main/scala/io/iohk/atala/pollux/core/service/PresentationServiceImpl.scala
Labels: pollux

#758 feat: migrate docker image of the agent to Java 21
  .github/docker/Dockerfile
  .github/workflows/build-test-docker.yml
  .github/workflows/unit-tests-common.yml
  build.sbt
  connect/lib/core/src/main/scala/io/iohk/atala/connect/core/model/ConnectionRecord.scala
  connect/lib/core/src/test/scala/io/iohk/atala/connect/core/repository/ConnectionRepositorySpecSuite.scala
  event-notification/src/main/scala/io/iohk/atala/event/notification/EventNotificationConfig.scala
  infrastructure/local/.env
  pollux/lib/core/src/main/scala/io/iohk/atala/pollux/core/model/IssueCredentialRecord.scala
  pollux/lib/core/src/main/scala/io/iohk/atala/pollux/core/model/PresentationRecord.scala
  pollux/lib/core/src/test/scala/io/iohk/atala/pollux/core/repository/CredentialRepositorySpecSuite.scala
  pollux/lib/core/src/test/scala/io/iohk/atala/pollux/core/repository/PresentationRepositorySpecSuite.scala
  pollux/lib/sql-doobie/src/main/scala/io/iohk/atala/pollux/sql/model/db/CredentialDefinition.scala
  pollux/lib/sql-doobie/src/main/scala/io/iohk/atala/pollux/sql/model/db/CredentialSchema.scala
  pollux/lib/sql-doobie/src/main/scala/io/iohk/atala/pollux/sql/model/db/VerificationPolicy.scala
  pollux/lib/sql-doobie/src/test/scala/io/iohk/atala/pollux/sql/CredentialDefinitionSqlIntegrationSpec.scala
  pollux/lib/sql-doobie/src/test/scala/io/iohk/atala/pollux/sql/CredentialSchemaSqlIntegrationSpec.scala
  pollux/lib/sql-doobie/src/test/scala/io/iohk/atala/pollux/sql/VerificationPolicySqlIntegrationSpec.scala
  pollux/lib/vc-jwt/src/test/scala/io/iohk/atala/pollux/vc/jwt/JWTVerificationTest.scala
  prism-agent/service/wallet-api/src/main/scala/io/iohk/atala/agent/walletapi/model/Entity.scala
  prism-agent/service/wallet-api/src/main/scala/io/iohk/atala/agent/walletapi/model/Wallet.scala
  project/build.properties
Labels: pollux, ci, prism-agent, build, connect

#767 test: add anoncreds issuance happy path bdd scenario
  README.md
  infrastructure/shared/docker-compose-demo.yml
  tests/integration-tests/src/main/kotlin/models/AnoncredsSchema.kt
  tests/integration-tests/src/main/kotlin/models/JsonSchema.kt
  tests/integration-tests/src/main/kotlin/models/JsonSchemaProperty.kt
  tests/integration-tests/src/test/kotlin/common/TestConstants.kt
  tests/integration-tests/src/test/kotlin/features/CommonSteps.kt
  tests/integration-tests/src/test/kotlin/features/credentials/IssueCredentialsSteps.kt
  tests/integration-tests/src/test/kotlin/features/schemas/CredentialSchemasSteps.kt
  tests/integration-tests/src/test/resources/features/credentials/issue_credentials.feature
Labels: docs, infra

#771 chore: update .env file with each release
  package.json
Labels: build

#768 feat: add serdeser for anoncred presentation request
  pollux/lib/core/src/main/scala/io/iohk/atala/pollux/core/service/serdes/AnoncredPresentationRequestSchemaSerDesV1.scala
  pollux/lib/core/src/test/scala/io/iohk/atala/pollux/core/service/serdes/AnoncredPresentationRequestSchemaSerDesSpec.scala
  pollux/lib/core/src/test/scala/io/iohk/atala/pollux/core/service/serdes/PublicCredentialDefinitionSchemaSerDesSpec.scala
Labels: pollux

#774 feat: Create/Store presentation proof request
  pollux/lib/core/src/main/scala/io/iohk/atala/pollux/core/model/error/PresentationError.scala
  pollux/lib/core/src/main/scala/io/iohk/atala/pollux/core/model/schema/validator/SchemaSerDes.scala
  pollux/lib/core/src/main/scala/io/iohk/atala/pollux/core/service/MockPresentationService.scala
  pollux/lib/core/src/main/scala/io/iohk/atala/pollux/core/service/PresentationService.scala
  pollux/lib/core/src/main/scala/io/iohk/atala/pollux/core/service/PresentationServiceImpl.scala
  pollux/lib/core/src/main/scala/io/iohk/atala/pollux/core/service/PresentationServiceNotifier.scala
  pollux/lib/core/src/main/scala/io/iohk/atala/pollux/core/service/serdes/AnoncredPresentationRequestV1.scala
  pollux/lib/core/src/test/scala/io/iohk/atala/pollux/core/service/PresentationServiceNotifierSpec.scala
  pollux/lib/core/src/test/scala/io/iohk/atala/pollux/core/service/PresentationServiceSpec.scala
  pollux/lib/core/src/test/scala/io/iohk/atala/pollux/core/service/PresentationServiceSpecHelper.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/presentproof/controller/PresentProofController.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/presentproof/controller/PresentProofControllerImpl.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/presentproof/controller/http/RequestPresentationInput.scala
Labels: pollux, prism-agent
