Repository hyperledger-identus/cloud-agent, pull requests merged in 2023-11, with the labels that each got.

#775 fix: check for active RLS on db application user
  connect/lib/sql-doobie/src/main/scala/io/iohk/atala/connect/sql/repository/Migrations.scala
  pollux/lib/core/src/main/scala/io/iohk/atala/pollux/core/service/MockCredentialService.scala
  pollux/lib/sql-doobie/src/main/scala/io/iohk/atala/pollux/sql/repository/Migrations.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/agent/server/Main.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/agent/server/Modules.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/agent/server/http/ZHttpEndpoints.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/agent/server/sql/Migrations.scala
Labels: pollux, prism-agent, connect

#755 feat: Keycloak container with AdminClient [WIP]
  build.sbt
  connect/lib/sql-doobie/src/test/scala/io/iohk/atala/connect/sql/repository/JdbcConnectionRepositorySpec.scala
  connect/lib/sql-doobie/src/test/scala/io/iohk/atala/test/container/PostgresTestContainer.scala
  infrastructure/shared/docker-compose-demo.yml
  pollux/lib/sql-doobie/src/test/scala/io/iohk/atala/pollux/sql/CredentialDefinitionSqlIntegrationSpec.scala
  pollux/lib/sql-doobie/src/test/scala/io/iohk/atala/pollux/sql/CredentialSchemaSqlIntegrationSpec.scala
  pollux/lib/sql-doobie/src/test/scala/io/iohk/atala/pollux/sql/VerificationPolicySqlIntegrationSpec.scala
  pollux/lib/sql-doobie/src/test/scala/io/iohk/atala/pollux/sql/repository/JdbcCredentialRepositorySpec.scala
  pollux/lib/sql-doobie/src/test/scala/io/iohk/atala/pollux/sql/repository/JdbcPresentationRepositorySpec.scala
  pollux/lib/vc-jwt/src/test/scala/io/iohk/atala/pollux/vc/jwt/JWTVerificationTest.scala
  prism-agent/service/server/src/main/resources/application.conf
  prism-agent/service/server/src/main/scala/io/iohk/atala/agent/server/config/AppConfig.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/iam/authentication/oidc/KeycloakClient.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/iam/authorization/core/PermissionManagement.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/iam/authorization/keycloak/admin/KeycloakAdmin.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/iam/authorization/keycloak/admin/KeycloakPermissionManagementService.scala
  prism-agent/service/server/src/test/scala/io/iohk/atala/agent/server/AgentInitializationSpec.scala
  prism-agent/service/server/src/test/scala/io/iohk/atala/iam/authentication/SecurityLogicSpec.scala
  prism-agent/service/server/src/test/scala/io/iohk/atala/iam/authentication/apikey/ApiKeyAuthenticatorSpec.scala
  prism-agent/service/server/src/test/scala/io/iohk/atala/iam/authentication/apikey/JdbcAuthenticationRepositorySpec.scala
  prism-agent/service/server/src/test/scala/io/iohk/atala/iam/authentication/oidc/KeycloakAuthenticatorSpec.scala
  prism-agent/service/server/src/test/scala/io/iohk/atala/iam/authorization/keycloak/admin/KeycloakAdminSpec.scala
  prism-agent/service/server/src/test/scala/io/iohk/atala/iam/authorization/keycloak/admin/KeycloakConfigUtils.scala
  prism-agent/service/server/src/test/scala/io/iohk/atala/iam/authorization/keycloak/admin/KeycloakPermissionManagementServiceSpec.scala
  prism-agent/service/server/src/test/scala/io/iohk/atala/issue/controller/IssueControllerTestTools.scala
  prism-agent/service/server/src/test/scala/io/iohk/atala/pollux/credentialdefinition/CredentialDefinitionTestTools.scala
  prism-agent/service/server/src/test/scala/io/iohk/atala/pollux/schema/CredentialSchemaTestTools.scala
  prism-agent/service/wallet-api/src/test/scala/io/iohk/atala/agent/walletapi/service/ManagedDIDServiceSpec.scala
  prism-agent/service/wallet-api/src/test/scala/io/iohk/atala/agent/walletapi/service/WalletManagementServiceSpec.scala
  prism-agent/service/wallet-api/src/test/scala/io/iohk/atala/agent/walletapi/storage/DIDSecretStorageSpec.scala
  prism-agent/service/wallet-api/src/test/scala/io/iohk/atala/agent/walletapi/storage/GenericSecretStorageSpec.scala
  prism-agent/service/wallet-api/src/test/scala/io/iohk/atala/agent/walletapi/storage/JdbcDIDNonSecretStorageSpec.scala
  prism-agent/service/wallet-api/src/test/scala/io/iohk/atala/agent/walletapi/storage/JdbcEntityRepositorySpec.scala
  prism-agent/service/wallet-api/src/test/scala/io/iohk/atala/agent/walletapi/storage/JdbcWalletNonSecretStorageSpec.scala
  prism-agent/service/wallet-api/src/test/scala/io/iohk/atala/agent/walletapi/storage/WalletSecretStorageSpec.scala
  prism-agent/service/wallet-api/src/test/scala/io/iohk/atala/test/container/VaultLayer.scala
  prism-agent/service/wallet-api/src/test/scala/io/iohk/atala/test/container/VaultTestContainerSupport.scala
  shared-test/src/main/scala/io/iohk/atala/sharedtest/containers/KeycloakContainerCustom.scala
  shared-test/src/main/scala/io/iohk/atala/sharedtest/containers/KeycloakTestContainer.scala
  shared-test/src/main/scala/io/iohk/atala/sharedtest/containers/KeycloakTestContainerSupport.scala
  shared-test/src/main/scala/io/iohk/atala/sharedtest/containers/PostgreSQLContainerCustom.scala
  shared-test/src/main/scala/io/iohk/atala/sharedtest/containers/PostgresLayer.scala
  shared-test/src/main/scala/io/iohk/atala/sharedtest/containers/PostgresTestContainer.scala
  shared-test/src/main/scala/io/iohk/atala/sharedtest/containers/PostgresTestContainerSupport.scala
  shared-test/src/main/scala/io/iohk/atala/sharedtest/containers/VaultContainerCustom.scala
  shared-test/src/main/scala/io/iohk/atala/sharedtest/containers/VaultTestContainer.scala
  shared-test/src/test/scala/io/iohk/atala/sharedtest/containers/KeycloakTestContainerSupportSpec.scala
Labels: pollux, prism-agent, build, infra, connect

#776 feat: Receive/Store Presentation Request
  pollux/lib/core/src/main/scala/io/iohk/atala/pollux/core/model/error/PresentationError.scala
  pollux/lib/core/src/main/scala/io/iohk/atala/pollux/core/service/PresentationServiceImpl.scala
  pollux/lib/core/src/test/scala/io/iohk/atala/pollux/core/service/PresentationServiceSpec.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/presentproof/controller/PresentProofController.scala
Labels: pollux, prism-agent

#779 feat(prism-agent): add multi-tenant wallet self-service capability
  infrastructure/shared/keycloak/init-script.sh
  prism-agent/service/server/src/main/resources/application.conf
  prism-agent/service/server/src/main/scala/io/iohk/atala/agent/server/Main.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/agent/server/Modules.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/agent/server/PrismAgentApp.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/agent/server/config/AppConfig.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/castor/controller/DIDRegistrarServerEndpoints.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/connect/controller/ConnectionServerEndpoints.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/event/controller/EventServerEndpoints.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/iam/authentication/Authenticator.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/iam/authentication/DefaultAuthenticator.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/iam/authentication/SecurityLogic.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/iam/authentication/admin/AdminApiKeyAuthenticator.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/iam/authentication/admin/AdminApiKeyCredentials.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/iam/authentication/admin/AdminApiKeySecurityLogic.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/iam/authentication/apikey/ApiKeyAuthenticatorImpl.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/iam/authentication/apikey/ApiKeyEndpointSecurityLogic.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/iam/authentication/oidc/KeycloakAuthenticator.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/iam/authentication/oidc/KeycloakAuthenticatorImpl.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/iam/authentication/oidc/KeycloakClient.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/iam/authorization/DefaultPermissionManagementService.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/iam/authorization/core/EntityPermissionManagementService.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/iam/authorization/core/PermissionManagement.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/iam/authorization/keycloak/admin/KeycloakAdmin.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/iam/authorization/keycloak/admin/KeycloakPermissionManagementService.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/iam/wallet/http/WalletManagementEndpoints.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/iam/wallet/http/WalletManagementServerEndpoints.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/iam/wallet/http/controller/WalletManagementController.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/iam/wallet/http/model/CreateWalletUmaPermissionRequest.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/issue/controller/IssueServerEndpoints.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/pollux/credentialdefinition/CredentialDefinitionRegistryServerEndpoints.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/pollux/credentialschema/SchemaRegistryServerEndpoints.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/pollux/credentialschema/VerificationPolicyServerEndpoints.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/presentproof/controller/PresentProofServerEndpoints.scala
  prism-agent/service/server/src/test/scala/io/iohk/atala/agent/server/AgentInitializationSpec.scala
  prism-agent/service/server/src/test/scala/io/iohk/atala/iam/authentication/apikey/ApiKeyAuthenticatorSpec.scala
  prism-agent/service/server/src/test/scala/io/iohk/atala/iam/authentication/oidc/KeycloakAuthenticatorSpec.scala
  prism-agent/service/server/src/test/scala/io/iohk/atala/iam/authorization/keycloak/admin/KeycloakConfigUtils.scala
  prism-agent/service/server/src/test/scala/io/iohk/atala/iam/authorization/keycloak/admin/KeycloakPermissionManagementServiceSpec.scala
  prism-agent/service/server/src/test/scala/io/iohk/atala/issue/controller/IssueControllerTestTools.scala
  prism-agent/service/server/src/test/scala/io/iohk/atala/pollux/credentialdefinition/CredentialDefinitionTestTools.scala
  prism-agent/service/server/src/test/scala/io/iohk/atala/pollux/schema/CredentialSchemaTestTools.scala
  prism-agent/service/wallet-api/src/main/scala/io/iohk/atala/agent/walletapi/model/Entity.scala
  prism-agent/service/wallet-api/src/main/scala/io/iohk/atala/agent/walletapi/service/WalletManagementService.scala
  prism-agent/service/wallet-api/src/main/scala/io/iohk/atala/agent/walletapi/service/WalletManagementServiceImpl.scala
  prism-agent/service/wallet-api/src/test/scala/io/iohk/atala/agent/walletapi/service/ManagedDIDServiceSpec.scala
  prism-agent/service/wallet-api/src/test/scala/io/iohk/atala/agent/walletapi/service/WalletManagementServiceSpec.scala
  prism-agent/service/wallet-api/src/test/scala/io/iohk/atala/agent/walletapi/storage/DIDSecretStorageSpec.scala
  prism-agent/service/wallet-api/src/test/scala/io/iohk/atala/agent/walletapi/storage/GenericSecretStorageSpec.scala
  prism-agent/service/wallet-api/src/test/scala/io/iohk/atala/agent/walletapi/storage/StorageSpecHelper.scala
  shared-test/src/main/scala/io/iohk/atala/sharedtest/containers/KeycloakTestContainerSupport.scala
  shared/src/main/scala/io/iohk/atala/shared/models/MultiTenancy.scala
Labels: prism-agent, infra, shared

#780 fix(prism-agent): perform percent encoding on auth header for token introspection request
  prism-agent/service/server/src/main/scala/io/iohk/atala/iam/authentication/oidc/KeycloakClient.scala
Labels: prism-agent

#782 fix(pollux): V16 migration is failing to add FK constraint because of type mismatch
  pollux/lib/sql-doobie/src/main/resources/sql/pollux/V16__revocation_status_lists_table_and_columns.sql
Labels: pollux

#783 fix(prism-agent): more descriptive error response for validateDID in issue flow
  castor/lib/core/src/main/scala/io/iohk/atala/castor/core/service/DIDService.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/issue/controller/IssueControllerImpl.scala
Labels: castor, prism-agent

#784 chore(castor): clean up sonarcloud issues and unused configurations
  castor/lib/core/src/main/scala/io/iohk/atala/castor/core/util/DIDOperationValidator.scala
  castor/lib/core/src/test/scala/io/iohk/atala/castor/core/util/DIDOperationValidatorSpec.scala
  infrastructure/charts/agent/templates/deployment.yaml
  infrastructure/charts/agent/templates/postgresql.yaml
  infrastructure/ci/docker-compose-multiple-actors.yml
  infrastructure/shared/docker-compose-demo.yml
  infrastructure/shared/docker-compose-mt-keycloak.yml
  infrastructure/shared/docker-compose.yml
  infrastructure/single-tenant-testing-stack/docker-compose.yml
  prism-agent/service/server/src/main/resources/application.conf
  prism-agent/service/server/src/main/scala/io/iohk/atala/agent/server/config/AppConfig.scala
Labels: castor, prism-agent, infra

#785 feat: Accept goal and goalCode to create connection invitation
  connect/lib/core/src/main/scala/io/iohk/atala/connect/core/model/ConnectionRecord.scala
  connect/lib/core/src/main/scala/io/iohk/atala/connect/core/service/ConnectionService.scala
  connect/lib/core/src/main/scala/io/iohk/atala/connect/core/service/ConnectionServiceImpl.scala
  connect/lib/core/src/main/scala/io/iohk/atala/connect/core/service/ConnectionServiceNotifier.scala
  connect/lib/core/src/main/scala/io/iohk/atala/connect/core/service/MockConnectionService.scala
  connect/lib/core/src/test/scala/io/iohk/atala/connect/core/repository/ConnectionRepositorySpecSuite.scala
  connect/lib/core/src/test/scala/io/iohk/atala/connect/core/service/ConnectionServiceImplSpec.scala
  connect/lib/core/src/test/scala/io/iohk/atala/connect/core/service/ConnectionServiceNotifierSpec.scala
  connect/lib/sql-doobie/src/main/resources/sql/connect/V7__add_goal_and_goal_code.sql
  connect/lib/sql-doobie/src/main/scala/io/iohk/atala/connect/sql/repository/JdbcConnectionRepository.scala
  mercury/mercury-library/agent/src/main/scala/io/iohk/atala/mercury/InvitationPrograms.scala
  mercury/mercury-library/protocol-connection/src/main/scala/io/iohk/atala/mercury/protocol/connection/ConnectionInvitation.scala
  mercury/mercury-library/protocol-connection/src/main/scala/io/iohk/atala/mercury/protocol/connection/ConnectionRequest.scala
  mercury/mercury-library/protocol-invitation/src/main/scala/io/iohk/atala/mercury/protocol/invitation/v2/Invitation.scala
  mercury/mercury-library/protocol-invitation/src/test/scala/io/iohk/atala/mercury/protocol/invitation/v2/OutOfBandSpec.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/agent/server/jobs/ConnectBackgroundJobs.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/connect/controller/ConnectionControllerImpl.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/connect/controller/http/Connection.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/connect/controller/http/CreateConnectionRequest.scala
Labels: mercury, prism-agent, connect

#786 test: add wallet uma permission management tests
  prism-agent/service/server/src/test/scala/io/iohk/atala/iam/authorization/core/EntityPermissionManagementSpec.scala
  prism-agent/service/server/src/test/scala/io/iohk/atala/iam/authorization/keycloak/admin/KeycloakPermissionManagementServiceSpec.scala
  prism-agent/service/wallet-api/src/test/scala/io/iohk/atala/agent/walletapi/service/WalletManagementServiceSpec.scala
Labels: prism-agent

#790 fix: explicitly define transitive dependencies that were unresolvable
  .github/workflows/release.yml
  build.sbt
  prism-agent/service/server/src/main/scala/io/iohk/atala/iam/authentication/oidc/KeycloakClient.scala
  prism-agent/service/server/src/test/scala/io/iohk/atala/iam/authorization/keycloak/admin/KeycloakAdmin.scala
  project/plugins.sbt
  shared-test/src/test/scala/io/iohk/atala/sharedtest/containers/KeycloakContainerCustom.scala
  shared-test/src/test/scala/io/iohk/atala/sharedtest/containers/KeycloakTestContainer.scala
  shared-test/src/test/scala/io/iohk/atala/sharedtest/containers/KeycloakTestContainerSupport.scala
  shared-test/src/test/scala/io/iohk/atala/sharedtest/containers/PostgreSQLContainerCustom.scala
  shared-test/src/test/scala/io/iohk/atala/sharedtest/containers/PostgresLayer.scala
  shared-test/src/test/scala/io/iohk/atala/sharedtest/containers/PostgresTestContainer.scala
  shared-test/src/test/scala/io/iohk/atala/sharedtest/containers/PostgresTestContainerSupport.scala
  shared-test/src/test/scala/io/iohk/atala/sharedtest/containers/VaultContainerCustom.scala
  shared-test/src/test/scala/io/iohk/atala/sharedtest/containers/VaultTestContainer.scala
Labels: ci, prism-agent, build

#791 fix: enable keycloak with pre-configured agent in helm chart
  infrastructure/charts/agent/Chart.lock
  infrastructure/charts/agent/Chart.yaml
  infrastructure/charts/agent/templates/configmap.yaml
  infrastructure/charts/agent/templates/deployment.yaml
  infrastructure/charts/agent/templates/postgresql.yaml
  infrastructure/charts/agent/templates/stringsecret-agent-keycloak-secret.yaml
  infrastructure/charts/agent/values.yaml
  infrastructure/shared/docker-compose-mt-keycloak.yml
Labels: infra

#772 test: configurable integration tests support
  .github/workflows/integration-tests.yml
  .github/workflows/prism-unit-tests.yml
  .github/workflows/unit-tests-common.yml
  .github/workflows/unit-tests.yml
  README.md
  tests/integration-tests/build.gradle.kts
  tests/integration-tests/src/test/kotlin/config/AgentConf.kt
  tests/integration-tests/src/test/kotlin/config/AgentInitConf.kt
  tests/integration-tests/src/test/kotlin/config/Config.kt
  tests/integration-tests/src/test/kotlin/config/GlobalConf.kt
  tests/integration-tests/src/test/kotlin/config/ServicesConf.kt
  tests/integration-tests/src/test/kotlin/features/CommonSteps.kt
  tests/integration-tests/src/test/kotlin/interactions/AuthRestInteraction.kt
  tests/integration-tests/src/test/resources/configs/basic.conf
  tests/integration-tests/src/test/resources/configs/double.conf
  tests/integration-tests/src/test/resources/configs/keycloak.conf
  tests/integration-tests/src/test/resources/containers/agent.yml
  tests/integration-tests/src/test/resources/containers/keycloak.yml
  tests/integration-tests/src/test/resources/containers/postgres/init-script.sh
  tests/integration-tests/src/test/resources/containers/postgres/max_conns.sql
  tests/integration-tests/src/test/resources/containers/vault.yml
  tests/integration-tests/src/test/resources/containers/vdr.yml
  tests/integration-tests/src/test/resources/tests.conf
Labels: docs, ci

#800 fix: change admin auth priority and improve auth error message
  prism-agent/service/server/src/main/scala/io/iohk/atala/iam/authentication/SecurityLogic.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/iam/wallet/http/controller/WalletManagementController.scala
  prism-agent/service/server/src/test/scala/io/iohk/atala/iam/authentication/SecurityLogicSpec.scala
Labels: Component: Cloud Agent
