Repository hyperledger-identus/cloud-agent, pull requests merged in 2023-09, with the labels that each got.

#569 fix: CredentialOffer not following spec
  mercury/mercury-library/models/src/main/scala/io/iohk/atala/mercury/model/AttachmentDescriptor.scala
  mercury/mercury-library/protocol-issue-credential/src/main/scala/io/iohk/atala/mercury/protocol/issuecredential/Credential.scala
  pollux/lib/core/src/main/scala/io/iohk/atala/pollux/core/service/CredentialService.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/issue/controller/IssueController.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/issue/controller/http/IssueCredentialRecord.scala
Labels: pollux, mercury, prism-agent

#679 fix(prism-agent): make resolve did representation content type work
  prism-agent/service/server/src/main/scala/io/iohk/atala/api/http/codec/DIDCodec.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/castor/controller/DIDEndpoints.scala
Labels: prism-agent

#680 build: remove mediator from this repository
  build.sbt
  docs/general/interdependencies.md
  infrastructure/dev/get-versions.sh
  infrastructure/local/update_env.sh
  infrastructure/shared/apisix/conf/apisix.yaml
  infrastructure/shared/docker-compose.yml
  mercury/README.md
  mercury/mercury-cloud-agent/src/main/.gitkeep
  mercury/mercury-library/QuickStart.md
  mercury/mercury-library/README.md
  mercury/mercury-mediator/CHANGELOG.md
  mercury/mercury-mediator/Mercury-Mailbox-Mediator.md
  mercury/mercury-mediator/api/mercury-cloud-agent-openapi.yaml
  mercury/mercury-mediator/api/mercury-mediator-openapi.yaml
  mercury/mercury-mediator/src/main/scala/io/iohk/atala/mercury/mediator/ConnectionStorage.scala
  mercury/mercury-mediator/src/main/scala/io/iohk/atala/mercury/mediator/ErrorInfo.scala
  mercury/mercury-mediator/src/main/scala/io/iohk/atala/mercury/mediator/MailStorage.scala
  mercury/mercury-mediator/src/main/scala/io/iohk/atala/mercury/mediator/MediatorProgram.scala
  mercury/mercury-mediator/src/main/scala/io/iohk/atala/mercury/mediator/Models.scala
  mercury/mercury-mediator/src/main/scala/io/iohk/atala/mercury/mediator/ZhttpMediator.scala
  mercury/mercury-mediator/src/main/scala/io/iohk/atala/mercury/resolvers/MediatorDidComm.scala
  mercury/mercury-mediator/src/main/scala/io/iohk/atala/mercury/resolvers/MediatorSecretResolver.scala
  mercury/mercury-mediator/src/main/scala/io/iohk/atala/mercury/resolvers/PeerDidMediatorSecretResolver.scala
Labels: docs, mercury, build, infra

#677 chore: fix security vulnerabilities in workflows and npm
  .github/workflows/e2e-tests.yml
  .github/workflows/performance-tests.yml
  .github/workflows/release-clients.yml
  infrastructure/local/.env
  package-lock.json
  tests/performance-tests/atala-performance-tests-k6/package.json
  tests/performance-tests/atala-performance-tests-k6/yarn.lock
Labels: ci, build

#681 docs: remove internal handbook link from readme [skip ci]
  README.md
Labels: docs

#682 fix: indentation in apisixroute
  infrastructure/charts/agent/templates/apisixroute.yaml
Labels: infra

#683 fix: another indentation in apisixroute
  infrastructure/charts/agent/templates/apisixroute.yaml
Labels: infra

#684 fix(prism-agent): fix added the InvitationGenerated state to the conn…
  prism-agent/service/server/src/main/scala/io/iohk/atala/agent/server/jobs/ConnectBackgroundJobs.scala
Labels: prism-agent

#687 fix(prism-agent): update invitation expiration on connection request
  connect/lib/core/src/main/scala/io/iohk/atala/connect/core/model/error/ConnectionServiceError.scala
  connect/lib/core/src/main/scala/io/iohk/atala/connect/core/service/ConnectionService.scala
  connect/lib/core/src/main/scala/io/iohk/atala/connect/core/service/ConnectionServiceImpl.scala
  connect/lib/core/src/main/scala/io/iohk/atala/connect/core/service/ConnectionServiceNotifier.scala
  connect/lib/core/src/main/scala/io/iohk/atala/connect/core/service/MockConnectionService.scala
  connect/lib/core/src/test/scala/io/iohk/atala/connect/core/service/ConnectionServiceImplSpec.scala
  connect/lib/core/src/test/scala/io/iohk/atala/connect/core/service/ConnectionServiceNotifierSpec.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/agent/server/DidCommHttpServer.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/agent/server/jobs/ConnectBackgroundJobs.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/connect/controller/ConnectionController.scala
Labels: prism-agent, connect

#685 fix: change private sdk 1.4 to public maven
  build.sbt
Labels: build

#691 fix: APISIX config route and rule names too long
  infrastructure/charts/agent/templates/apisixroute.yaml
Labels: infra

#688 feat(prism-agent): support multi-tenant event notification
  build.sbt
  connect/lib/core/src/main/scala/io/iohk/atala/connect/core/service/ConnectionServiceNotifier.scala
  event-notification/src/main/scala/io/iohk/atala/event/notification/Event.scala
  event-notification/src/main/scala/io/iohk/atala/event/notification/EventNotificationConfig.scala
  event-notification/src/test/scala/io/iohk/atala/event/notification/EventNotificationServiceImplSpec.scala
  pollux/lib/core/src/main/scala/io/iohk/atala/pollux/core/service/CredentialServiceNotifier.scala
  pollux/lib/core/src/main/scala/io/iohk/atala/pollux/core/service/PresentationServiceNotifier.scala
  prism-agent/service/server/src/main/resources/application.conf
  prism-agent/service/server/src/main/scala/io/iohk/atala/agent/notification/JsonEventEncoders.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/agent/notification/WebhookPublisher.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/agent/server/Main.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/agent/server/PrismAgentApp.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/agent/server/config/AppConfig.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/castor/controller/DIDRegistrarEndpoints.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/connect/controller/ConnectionEndpoints.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/event/controller/EventController.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/event/controller/EventEndpoints.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/event/controller/EventServerEndpoints.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/event/controller/http/CreateWebhookNotification.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/event/controller/http/WebhookNotification.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/iam/entity/http/EntityEndpoints.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/iam/wallet/http/controller/WalletManagementController.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/iam/wallet/http/model/CreateWalletRequest.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/issue/controller/IssueEndpoints.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/pollux/credentialschema/SchemaRegistryEndpoints.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/pollux/credentialschema/VerificationPolicyEndpoints.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/presentproof/controller/PresentProofEndpoints.scala
  prism-agent/service/wallet-api/src/main/resources/sql/agent/V7__mutitenant_wallet.sql
  prism-agent/service/wallet-api/src/main/scala/io/iohk/atala/agent/walletapi/service/ManagedDIDServiceWithEventNotificationImpl.scala
  prism-agent/service/wallet-api/src/main/scala/io/iohk/atala/agent/walletapi/service/WalletManagementService.scala
  prism-agent/service/wallet-api/src/main/scala/io/iohk/atala/agent/walletapi/service/WalletManagementServiceImpl.scala
  prism-agent/service/wallet-api/src/main/scala/io/iohk/atala/agent/walletapi/sql/JdbcWalletNonSecretStorage.scala
  prism-agent/service/wallet-api/src/main/scala/io/iohk/atala/agent/walletapi/sql/package.scala
  prism-agent/service/wallet-api/src/main/scala/io/iohk/atala/agent/walletapi/storage/WalletNonSecretStorage.scala
  prism-agent/service/wallet-api/src/test/scala/io/iohk/atala/agent/walletapi/storage/JdbcWalletNonSecretStorageSpec.scala
  tests/e2e-tests/src/main/kotlin/api_models/Events.kt
Labels: pollux, prism-agent, build, connect

#692 fix: add missing leading '/' in rewrite rule target
  infrastructure/charts/agent/templates/apisixroute.yaml
Labels: infra

#694 fix(prism-agent): refine default wallet and webhook configuration behavior
  build.sbt
  prism-agent/service/server/src/main/resources/application.conf
  prism-agent/service/server/src/main/scala/io/iohk/atala/agent/notification/WebhookPublisher.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/agent/server/PrismAgentApp.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/agent/server/config/AppConfig.scala
  prism-agent/service/server/src/test/scala/io/iohk/atala/agent/server/AgentInitializationSpec.scala
  prism-agent/service/wallet-api/src/main/scala/io/iohk/atala/agent/walletapi/model/Entity.scala
Labels: prism-agent, build

#702 test: add multitenancy settings for performance tests
  .github/workflows/performance-tests.yml
Labels: ci

#697 feat: add security headers in helm-chart apisix route
  infrastructure/charts/agent/templates/_helpers.tpl
  infrastructure/charts/agent/templates/apisixroute.yaml
Labels: infra

#708 docs: simplify compatibility table [skip ci]
  README.md
Labels: docs

#711 docs: address multi-tenant docs review feedback
  docs/docusaurus/multitenancy/tenant-onboarding.md
  infrastructure/shared/docker-compose.yml
Labels: docs, infra

#713 docs: engineering documentation of the multi-tenancy feature [skip CI]
  docs/capabilities/multi-tenancy.md
Labels: docs

#712 fix(prism-agent): validate application config during startup
  prism-agent/service/server/src/main/scala/io/iohk/atala/agent/server/PrismAgentApp.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/castor/controller/DIDRegistrarEndpoints.scala
  prism-agent/service/server/src/test/scala/io/iohk/atala/agent/server/AgentInitializationSpec.scala
Labels: prism-agent

#715 docs: update readme with latest release 1.12.0
  README.md
Labels: docs

#716 ci: specify scope for perofmance tests auth
  .github/workflows/performance-tests.yml
Labels: ci

#718 fix: entity create and update operation failures if the walletId does…
  prism-agent/service/server/src/main/scala/io/iohk/atala/iam/entity/http/EntityEndpoints.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/iam/entity/http/controller/EntityController.scala
  prism-agent/service/wallet-api/src/main/scala/io/iohk/atala/agent/walletapi/model/error/EntityServiceError.scala
  prism-agent/service/wallet-api/src/main/scala/io/iohk/atala/agent/walletapi/sql/JdbcEntityRepository.scala
  prism-agent/service/wallet-api/src/test/scala/io/iohk/atala/agent/walletapi/storage/JdbcEntityRepositorySpec.scala
Labels: prism-agent

#719 fix(prism-agent): refine multi-tenant error response and validations
  prism-agent/service/server/src/main/scala/io/iohk/atala/agent/server/PrismAgentApp.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/agent/server/config/AppConfig.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/iam/authentication/admin/AdminApiKeyAuthenticatorImpl.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/iam/entity/http/model/CreateEntityRequest.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/iam/entity/http/model/UpdateEntityNameRequest.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/iam/wallet/http/WalletManagementEndpoints.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/iam/wallet/http/controller/WalletManagementController.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/iam/wallet/http/model/CreateWalletRequest.scala
  prism-agent/service/wallet-api/src/main/resources/sql/agent/V11__wallet_seed_digest.sql
  prism-agent/service/wallet-api/src/main/scala/io/iohk/atala/agent/walletapi/model/KeyManagement.scala
  prism-agent/service/wallet-api/src/main/scala/io/iohk/atala/agent/walletapi/service/WalletManagementService.scala
  prism-agent/service/wallet-api/src/main/scala/io/iohk/atala/agent/walletapi/service/WalletManagementServiceImpl.scala
  prism-agent/service/wallet-api/src/main/scala/io/iohk/atala/agent/walletapi/sql/JdbcWalletNonSecretStorage.scala
  prism-agent/service/wallet-api/src/main/scala/io/iohk/atala/agent/walletapi/storage/WalletNonSecretStorage.scala
  prism-agent/service/wallet-api/src/test/scala/io/iohk/atala/agent/walletapi/service/WalletManagementServiceSpec.scala
  prism-agent/service/wallet-api/src/test/scala/io/iohk/atala/agent/walletapi/storage/JdbcEntityRepositorySpec.scala
  prism-agent/service/wallet-api/src/test/scala/io/iohk/atala/agent/walletapi/storage/JdbcWalletNonSecretStorageSpec.scala
  prism-agent/service/wallet-api/src/test/scala/io/iohk/atala/agent/walletapi/storage/StorageSpecHelper.scala
  prism-agent/service/wallet-api/src/test/scala/io/iohk/atala/agent/walletapi/storage/WalletSecretStorageSpec.scala
Labels: prism-agent

#720 fix(prism-agent): incorrect present proof metric name and remove connectionID from flow metrics
  prism-agent/service/server/src/main/scala/io/iohk/atala/agent/server/jobs/BackgroundJobs.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/agent/server/jobs/ConnectBackgroundJobs.scala
Labels: prism-agent

#721 fix: change attribute for appuser to login
  infrastructure/charts/agent/templates/postgresql.yaml
Labels: infra

#722 fix(prism-agent): define db app user privileges before app starts
  connect/lib/sql-doobie/src/main/scala/io/iohk/atala/connect/sql/repository/Migrations.scala
  pollux/lib/sql-doobie/src/main/scala/io/iohk/atala/pollux/sql/repository/Migrations.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/agent/server/Main.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/agent/server/sql/Migrations.scala
Labels: pollux, prism-agent, connect

#723 test: multitenancy tests update
  .github/workflows/e2e-tests.yml
  infrastructure/local/.env
  infrastructure/shared/docker-compose-demo.yml
  tests/e2e-tests/.gitignore
  tests/e2e-tests/build.gradle.kts
  tests/e2e-tests/gradle/wrapper/gradle-wrapper.jar
  tests/e2e-tests/gradle/wrapper/gradle-wrapper.properties
  tests/e2e-tests/gradlew
  tests/e2e-tests/gradlew.bat
  tests/e2e-tests/src/main/kotlin/api_models/Entity.kt
  tests/e2e-tests/src/main/kotlin/api_models/EventRegistration.kt
  tests/e2e-tests/src/main/kotlin/api_models/Wallet.kt
  tests/e2e-tests/src/test/kotlin/common/Ensure.kt
  tests/e2e-tests/src/test/kotlin/common/Environments.kt
  tests/e2e-tests/src/test/kotlin/common/ListenToEvents.kt
  tests/e2e-tests/src/test/kotlin/common/TestConstants.kt
  tests/e2e-tests/src/test/kotlin/common/Utils.kt
  tests/e2e-tests/src/test/kotlin/features/CommonSteps.kt
  tests/e2e-tests/src/test/kotlin/features/connection/ConnectionSteps.kt
  tests/e2e-tests/src/test/kotlin/features/did/ManageDidSteps.kt
  tests/e2e-tests/src/test/kotlin/features/did/PublishDidSteps.kt
  tests/e2e-tests/src/test/kotlin/features/issue_credentials/IssueCredentialsSteps.kt
  tests/e2e-tests/src/test/kotlin/features/multitenancy/EntitySteps.kt
  tests/e2e-tests/src/test/kotlin/features/multitenancy/EventsSteps.kt
  tests/e2e-tests/src/test/kotlin/features/multitenancy/WalletsSteps.kt
  tests/e2e-tests/src/test/kotlin/features/present_proof/PresentProofSteps.kt
  tests/e2e-tests/src/test/kotlin/features/verification_policies/VerificationPoliciesSteps.kt
  tests/e2e-tests/src/test/kotlin/interactions/Delete.kt
  tests/e2e-tests/src/test/kotlin/interactions/Get.kt
  tests/e2e-tests/src/test/kotlin/interactions/Patch.kt
  tests/e2e-tests/src/test/kotlin/interactions/Post.kt
  tests/e2e-tests/src/test/kotlin/interactions/Put.kt
  tests/e2e-tests/src/test/resources/features/multitenancy/wallets.feature
Labels: ci, infra

#724 test: fix e2e test correctly initializing multitenancy
  .github/workflows/e2e-tests.yml
  infrastructure/local/.env
  tests/e2e-tests/src/test/kotlin/features/CommonSteps.kt
  tests/e2e-tests/src/test/kotlin/features/issue_credentials/IssueCredentialsSteps.kt
  tests/e2e-tests/src/test/kotlin/features/present_proof/PresentProofSteps.kt
Labels: ci

#726 fix: correct typo on sts header (dmax -> max)
  infrastructure/charts/agent/templates/_helpers.tpl
Labels: infra

#727 fix(prism-agent): introduce generic secret store for CD
  pollux/lib/core/src/main/scala/io/iohk/atala/pollux/core/service/CredentialDefinitionServiceImpl.scala
  pollux/lib/core/src/test/scala/io/iohk/atala/pollux/core/service/CredentialDefinitionServiceSpecHelper.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/agent/server/Main.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/agent/server/Modules.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/iam/authentication/apikey/ApiKeyAuthenticatorImpl.scala
  prism-agent/service/server/src/test/scala/io/iohk/atala/pollux/credentialdefinition/CredentialDefinitionBasicSpec.scala
  prism-agent/service/server/src/test/scala/io/iohk/atala/pollux/credentialdefinition/CredentialDefinitionTestTools.scala
  prism-agent/service/wallet-api/src/main/resources/sql/agent/V12__generic_secret.sql
  prism-agent/service/wallet-api/src/main/scala/io/iohk/atala/agent/walletapi/memory/DIDSecretStorageInMemory.scala
  prism-agent/service/wallet-api/src/main/scala/io/iohk/atala/agent/walletapi/memory/GenericSecretStorageInMemory.scala
  prism-agent/service/wallet-api/src/main/scala/io/iohk/atala/agent/walletapi/service/ManagedDIDServiceImpl.scala
  prism-agent/service/wallet-api/src/main/scala/io/iohk/atala/agent/walletapi/service/ManagedDIDServiceWithEventNotificationImpl.scala
  prism-agent/service/wallet-api/src/main/scala/io/iohk/atala/agent/walletapi/sql/JdbcDIDSecretStorage.scala
  prism-agent/service/wallet-api/src/main/scala/io/iohk/atala/agent/walletapi/sql/JdbcGenericSecretStorage.scala
  prism-agent/service/wallet-api/src/main/scala/io/iohk/atala/agent/walletapi/sql/package.scala
  prism-agent/service/wallet-api/src/main/scala/io/iohk/atala/agent/walletapi/storage/DIDKeySecretStorage.scala
  prism-agent/service/wallet-api/src/main/scala/io/iohk/atala/agent/walletapi/storage/DIDKeySecretStorageImpl.scala
  prism-agent/service/wallet-api/src/main/scala/io/iohk/atala/agent/walletapi/storage/DIDSecretStorage.scala
  prism-agent/service/wallet-api/src/main/scala/io/iohk/atala/agent/walletapi/storage/GenericSecretStorage.scala
  prism-agent/service/wallet-api/src/main/scala/io/iohk/atala/agent/walletapi/vault/VaultDIDSecretStorage.scala
  prism-agent/service/wallet-api/src/main/scala/io/iohk/atala/agent/walletapi/vault/VaultGenericSecretStorage.scala
  prism-agent/service/wallet-api/src/main/scala/io/iohk/atala/agent/walletapi/vault/package.scala
  prism-agent/service/wallet-api/src/test/scala/io/iohk/atala/agent/walletapi/service/ManagedDIDServiceSpec.scala
  prism-agent/service/wallet-api/src/test/scala/io/iohk/atala/agent/walletapi/storage/DIDSecretStorageSpec.scala
  prism-agent/service/wallet-api/src/test/scala/io/iohk/atala/agent/walletapi/storage/GenericSecretStorageSpec.scala
  shared/src/main/scala/io/iohk/atala/shared/test/containers/PostgresLayer.scala
  shared/src/main/scala/io/iohk/atala/shared/test/containers/PostgresTestContainer.scala
Labels: pollux, prism-agent, shared

#728 fix: Adding localhost environment variable in run.sh script for local development
  .github/workflows/e2e-tests.yml
  infrastructure/local/run.sh
  infrastructure/shared/apisix/conf/apisix.yaml
  infrastructure/shared/docker-compose-demo.yml
  infrastructure/shared/docker-compose.yml
Labels: ci, infra

#733 fix: Separate config for integration flow ATL-5777
  package.json
Labels: build

#734 fix: Integration flow
  infrastructure/argocd-state/d-useast1-sjd4e/Chart.yaml
  infrastructure/argocd-state/d-useast1-sjd4e/values.yaml
  infrastructure/argocd-state/i-eucentral1-prt9a/values.yaml
  package.json
Labels: build, infra

#735 fix: Renaming values.yml [skip ci] ATL-5777
  package.json
Labels: build

#736 fix: Changing yq command [skip ci] ATL-5777
  package.json
Labels: build

#737 fix: Adding labels [skip ci]
  infrastructure/argocd-state/d-useast1-sjd4e/values.yaml
  infrastructure/argocd-state/i-eucentral1-prt9a/values.yaml
Labels: infra

#738 fix: Integration flow ATL-5777
  .github/workflows/release.yml
  infrastructure/argocd-state/d-useast1-sjd4e/Chart.yaml
  infrastructure/argocd-state/d-useast1-sjd4e/values.yaml
  infrastructure/argocd-state/i-eucentral1-prt9a/Chart.yaml
  infrastructure/argocd-state/i-eucentral1-prt9a/values.yaml
  infrastructure/charts/agent/Chart.yaml
  infrastructure/charts/index.yaml
  infrastructure/charts/prism-agent-1.16.2.tgz
  infrastructure/charts/prism-agent-1.16.3.tgz
  package.json
Labels: ci, build, infra

#739 fix: upgrade vault and quill versions
  build.sbt
  pollux/lib/sql-doobie/src/main/scala/io/iohk/atala/pollux/sql/model/db/VerificationPolicy.scala
  prism-agent/service/wallet-api/src/main/scala/io/iohk/atala/agent/walletapi/vault/VaultClient.scala
  shared/src/main/scala/io/iohk/atala/shared/test/containers/VaultTestContainer.scala
Labels: pollux, prism-agent, build, shared

#741 fix: generified generic secret storage
  pollux/lib/anoncredsTest/src/test/scala/Uniffy.scala
  pollux/lib/core/src/main/scala/io/iohk/atala/pollux/core/model/secret/CredentialDefinitionSecret.scala
  pollux/lib/core/src/main/scala/io/iohk/atala/pollux/core/service/CredentialDefinitionServiceImpl.scala
  pollux/lib/core/src/main/scala/io/iohk/atala/pollux/core/service/CredentialServiceImpl.scala
  prism-agent/service/server/src/test/scala/io/iohk/atala/issue/controller/IssueControllerTestTools.scala
  prism-agent/service/server/src/test/scala/io/iohk/atala/pollux/credentialdefinition/CredentialDefinitionBasicSpec.scala
  prism-agent/service/wallet-api/src/main/scala/io/iohk/atala/agent/walletapi/storage/GenericSecretStorage.scala
  prism-agent/service/wallet-api/src/test/scala/io/iohk/atala/agent/walletapi/storage/GenericSecretStorageSpec.scala
Labels: pollux, prism-agent
