Repository hyperledger-identus/cloud-agent, pull requests merged in 2024-03, with the labels that each got.

#910 docs: update multi-tenancy.md
  docs/capabilities/multi-tenancy.md
Labels: docs

#914 feat(agent): make the connection pool size configurable, fixes #913
  prism-agent/service/server/src/main/resources/application.conf
Labels: prism-agent

#918 fix: allow configurable path convention for vault secrets
  docs/docusaurus/secrets/operation.md
  prism-agent/service/server/src/main/resources/application.conf
  prism-agent/service/server/src/main/scala/io/iohk/atala/agent/server/Modules.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/agent/server/config/AppConfig.scala
  prism-agent/service/server/src/test/scala/io/iohk/atala/agent/server/AgentInitializationSpec.scala
  prism-agent/service/server/src/test/scala/io/iohk/atala/agent/server/config/AppConfigSpec.scala
  prism-agent/service/wallet-api/src/main/scala/io/iohk/atala/agent/walletapi/vault/VaultClient.scala
  prism-agent/service/wallet-api/src/main/scala/io/iohk/atala/agent/walletapi/vault/VaultDIDSecretStorage.scala
  prism-agent/service/wallet-api/src/main/scala/io/iohk/atala/agent/walletapi/vault/VaultGenericSecretStorage.scala
  prism-agent/service/wallet-api/src/main/scala/io/iohk/atala/agent/walletapi/vault/package.scala
  prism-agent/service/wallet-api/src/test/scala/io/iohk/atala/agent/walletapi/benchmark/KeyDerivation.scala
  prism-agent/service/wallet-api/src/test/scala/io/iohk/atala/agent/walletapi/service/ManagedDIDServiceSpec.scala
  prism-agent/service/wallet-api/src/test/scala/io/iohk/atala/agent/walletapi/service/WalletManagementServiceSpec.scala
  prism-agent/service/wallet-api/src/test/scala/io/iohk/atala/agent/walletapi/storage/DIDSecretStorageSpec.scala
  prism-agent/service/wallet-api/src/test/scala/io/iohk/atala/agent/walletapi/storage/GenericSecretStorageSpec.scala
  prism-agent/service/wallet-api/src/test/scala/io/iohk/atala/agent/walletapi/storage/WalletSecretStorageSpec.scala
  prism-agent/service/wallet-api/src/test/scala/io/iohk/atala/test/container/VaultLayer.scala
  prism-agent/service/wallet-api/src/test/scala/io/iohk/atala/test/container/VaultTestContainerSupport.scala
  shared-test/src/test/scala/io/iohk/atala/sharedtest/containers/VaultContainerCustom.scala
  shared-test/src/test/scala/io/iohk/atala/sharedtest/containers/VaultTestContainer.scala
Labels: prism-agent, docs

#921 docs(prism-agent): Add new ADR "handle errors in background jobs"
  docs/decisions/20240307-handle-errors-in-bg-jobs-by-storing-on-state-records-and-sending-via-webhooks.md
Labels: docs

#919 fix(prism-agent): add validation for endpoint url
  prism-agent/service/server/src/main/scala/io/iohk/atala/agent/server/config/AppConfig.scala
  prism-agent/service/server/src/test/scala/io/iohk/atala/agent/server/config/AppConfigSpec.scala
Labels: prism-agent

#925 docs: update code owners
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: ci

#931 docs: add missing vault env from docs
  docs/docusaurus/secrets/operation.md
Labels: docs

#936 fix: align keycloak version
  build.sbt
  infrastructure/shared/docker-compose-mt-keycloak.yml
  shared-test/src/test/scala/io/iohk/atala/sharedtest/containers/KeycloakTestContainer.scala
  tests/integration-tests/src/test/resources/containers/keycloak.yml
Labels: build, infra

#942 test: fix agent client generator
  .github/workflows/release-clients.yml
  prism-agent/client/generator/generate-clients.sh
  prism-agent/client/generator/openapitools.json
  prism-agent/client/kotlin/.openapi-generator-ignore
  prism-agent/client/kotlin/src/main/kotlin/io/iohk/atala/prism/models/CredentialSubject.kt
Labels: prism-agent, ci

#943 fix: integrate oidc4vc CredentialOffer to IssuanceSession
  examples/st-oidc4vc/README.md
  examples/st-oidc4vc/bootstrap/01_init_realm.hurl
  examples/st-oidc4vc/demo.py
  prism-agent/service/server/src/main/scala/io/iohk/atala/api/http/EndpointOutputs.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/iam/oidc/CredentialIssuerEndpoints.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/iam/oidc/CredentialIssuerServerEndpoints.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/iam/oidc/controller/CredentialIssuerController.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/iam/oidc/domain/IssuanceSession.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/iam/oidc/http/CredentialOfferRequest.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/iam/oidc/http/IssuanceSessionRequest.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/iam/oidc/http/IssuerMetadata.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/iam/oidc/service/OIDCCredentialIssuerService.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/iam/oidc/storage/IssuanceSessionStorage.scala
Labels: prism-agent

#945 ci: upgrade deployment action to v3 (node 20)
  .github/workflows/deployment.yml
Labels: ci

#944 docs(prism-agent): remove `termsOfService` from OAS
  prism-agent/service/server/src/main/scala/io/iohk/atala/agent/server/http/DocModels.scala
Labels: prism-agent

#946 test: integration slack notification fix + parameter on client publication
  .github/workflows/integration-tests.yml
  .github/workflows/release-clients.yml
  tests/integration-tests/build.gradle.kts
  tests/integration-tests/src/test/kotlin/steps/schemas/CredentialSchemasSteps.kt
  tests/integration-tests/src/test/kotlin/steps/verificationpolicies/VerificationPoliciesSteps.kt
Labels: ci

#948 fix(prism-agent): add missing 'PresentationVerificationFailed' status to REST API response enum
  prism-agent/service/server/src/main/scala/io/iohk/atala/presentproof/controller/http/PresentationStatus.scala
Labels: prism-agent

#927 feat(connect): ATL-6599 Use ZIO Failures and Defects effectively + RFC-9457 in connect
  build.sbt
  connect/lib/core/src/main/scala/io/iohk/atala/connect/core/model/error/ConnectionRepositoryError.scala
  connect/lib/core/src/main/scala/io/iohk/atala/connect/core/model/error/ConnectionServiceError.scala
  connect/lib/core/src/main/scala/io/iohk/atala/connect/core/repository/ConnectionRepository.scala
  connect/lib/core/src/main/scala/io/iohk/atala/connect/core/repository/ConnectionRepositoryInMemory.scala
  connect/lib/core/src/main/scala/io/iohk/atala/connect/core/service/ConnectionService.scala
  connect/lib/core/src/main/scala/io/iohk/atala/connect/core/service/ConnectionServiceImpl.scala
  connect/lib/core/src/main/scala/io/iohk/atala/connect/core/service/ConnectionServiceNotifier.scala
  connect/lib/core/src/main/scala/io/iohk/atala/connect/core/service/MockConnectionService.scala
  connect/lib/core/src/test/scala/io/iohk/atala/connect/core/repository/ConnectionRepositorySpecSuite.scala
  connect/lib/core/src/test/scala/io/iohk/atala/connect/core/service/ConnectionServiceImplSpec.scala
  connect/lib/sql-doobie/src/main/scala/io/iohk/atala/connect/sql/repository/JdbcConnectionRepository.scala
  prism-agent/service/server/src/main/resources/logback.xml
  prism-agent/service/server/src/main/scala/io/iohk/atala/agent/server/ControllerHelper.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/agent/server/http/CustomServerInterceptors.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/agent/server/http/ZHttp4sBlazeServer.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/agent/server/jobs/ConnectBackgroundJobs.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/api/http/ErrorResponse.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/connect/controller/ConnectionController.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/connect/controller/ConnectionControllerImpl.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/connect/controller/http/CreateConnectionRequest.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/iam/authentication/Authenticator.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/issue/controller/IssueControllerImpl.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/pollux/credentialdefinition/controller/CredentialDefinitionController.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/pollux/credentialschema/controller/CredentialSchemaController.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/presentproof/controller/PresentProofControllerImpl.scala
  prism-agent/service/server/src/test/scala/io/iohk/atala/issue/controller/IssueControllerImplSpec.scala
  prism-agent/service/server/src/test/scala/io/iohk/atala/issue/controller/IssueControllerSpec.scala
  prism-agent/service/server/src/test/scala/io/iohk/atala/issue/controller/IssueControllerTestTools.scala
  prism-agent/service/server/src/test/scala/io/iohk/atala/pollux/credentialdefinition/CredentialDefinitionTestTools.scala
  prism-agent/service/server/src/test/scala/io/iohk/atala/pollux/schema/CredentialSchemaTestTools.scala
  prism-agent/service/server/src/test/scala/io/iohk/atala/system/controller/SystemControllerTestTools.scala
  shared/src/main/scala/io/iohk/atala/shared/db/ContextAwareTask.scala
  shared/src/main/scala/io/iohk/atala/shared/models/Failure.scala
  shared/src/main/scala/io/iohk/atala/shared/validation/ValidationUtils.scala
Labels: prism-agent, build, shared, connect
