Repository hyperledger-identus/cloud-agent, pull requests merged in 2024-07, with the labels that each got.

#1237 ci: tweak JVM memory limit for release job
  .github/workflows/release.yml
  cloud-agent/service/server/src/test/scala/org/hyperledger/identus/iam/authentication/oidc/KeycloakAuthenticatorSpec.scala
  cloud-agent/service/server/src/test/scala/org/hyperledger/identus/oid4vci/domain/OIDCCredentialIssuerServiceSpec.scala
Labels: build, infra, ci, cloud-agent

#1236 fix: move mocks into the test modules
  build.sbt
  castor/src/test/scala/org/hyperledger/identus/castor/core/service/MockDIDService.scala
  cloud-agent/service/wallet-api/src/test/scala/org/hyperledger/identus/agent/walletapi/service/MockManagedDIDService.scala
  cloud-agent/service/wallet-api/src/test/scala/org/hyperledger/identus/agent/walletapi/storage/MockDIDNonSecretStorage.scala
  connect/core/src/test/scala/org/hyperledger/identus/connect/core/service/MockConnectionService.scala
  pollux/core/src/test/scala/org/hyperledger/identus/pollux/core/service/MockCredentialService.scala
  pollux/core/src/test/scala/org/hyperledger/identus/pollux/core/service/MockOID4VCIIssuerMetadataService.scala
  pollux/core/src/test/scala/org/hyperledger/identus/pollux/core/service/MockPresentationService.scala
Labels: pollux, build, castor, connect, cloud-agent

#1234 test: add oid4vci issuer crud scenario
  tests/integration-tests/build.gradle.kts
  tests/integration-tests/src/test/kotlin/config/Role.kt
  tests/integration-tests/src/test/kotlin/config/services/Keycloak.kt
  tests/integration-tests/src/test/kotlin/config/services/Service.kt
  tests/integration-tests/src/test/kotlin/steps/Setup.kt
  tests/integration-tests/src/test/kotlin/steps/oid4vci/ManageCredentialConfigSteps.kt
  tests/integration-tests/src/test/kotlin/steps/oid4vci/ManageIssuerSteps.kt
  tests/integration-tests/src/test/resources/configs/basic.conf
  tests/integration-tests/src/test/resources/configs/mt_keycloak.conf
  tests/integration-tests/src/test/resources/containers/keycloak-oid4vci.yml
  tests/integration-tests/src/test/resources/features/oid4vci/manage_credential_config.feature
  tests/integration-tests/src/test/resources/features/oid4vci/manage_issuer.feature
Labels: cloud-agent

#1239 build: fix wrongly generated TS client models
  cloud-agent/client/typescript/.openapi-generator-ignore
  cloud-agent/client/typescript/models/CredentialRequest.ts
  cloud-agent/client/typescript/models/Proof2.ts
Labels: cloud-agent

#1240 fix: Move InMemory classes to the test moduels
  cloud-agent/service/wallet-api/src/test/scala/org/hyperledger/identus/agent/walletapi/memory/GenericSecretStorageInMemory.scala
  cloud-agent/service/wallet-api/src/test/scala/org/hyperledger/identus/agent/walletapi/memory/WalletSecretStorageInMemory.scala
  connect/core/src/test/scala/org/hyperledger/identus/connect/core/repository/ConnectionRepositoryInMemory.scala
  pollux/core/src/test/scala/org/hyperledger/identus/pollux/core/repository/CredentialDefinitionRepositoryInMemory.scala
  pollux/core/src/test/scala/org/hyperledger/identus/pollux/core/repository/CredentialRepositoryInMemory.scala
  pollux/core/src/test/scala/org/hyperledger/identus/pollux/core/repository/CredentialStatusListRepositoryInMemory.scala
  pollux/core/src/test/scala/org/hyperledger/identus/pollux/core/repository/PresentationRepositoryInMemory.scala
Labels: pollux, connect, cloud-agent

#1250 fix: use Put and Get for DID in doobie statement
  cloud-agent/service/wallet-api/src/main/scala/org/hyperledger/identus/agent/walletapi/sql/JdbcDIDNonSecretStorage.scala
Labels: cloud-agent

#1252 test: e2e test for oid4vci authorization code flow
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/agent/server/jobs/BackgroundJobError.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/agent/server/jobs/ConnectBackgroundJobs.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/agent/server/jobs/PresentBackgroundJobs.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/oid4vci/CredentialIssuerServerEndpoints.scala
  cloud-agent/service/server/src/test/scala/org/hyperledger/identus/oid4vci/domain/OIDCCredentialIssuerServiceSpec.scala
  cloud-agent/service/wallet-api/src/main/scala/org/hyperledger/identus/agent/walletapi/model/error/DIDSecretStorageError.scala
  connect/core/src/main/scala/org/hyperledger/identus/connect/core/repository/ConnectionRepository.scala
  connect/core/src/test/scala/org/hyperledger/identus/connect/core/repository/ConnectionRepositorySpecSuite.scala
  examples/.nickel/versions.ncl
  examples/mt-keycloak-vault/compose.yaml
  examples/mt-keycloak/compose.yaml
  examples/mt/compose.yaml
  examples/st-multi/compose.yaml
  examples/st-oid4vci/compose.yaml
  examples/st-vault/compose.yaml
  examples/st/compose.yaml
  mercury/models/src/main/scala/org/hyperledger/identus/mercury/model/error/package.scala
  shared/core/src/main/scala/org/hyperledger/identus/shared/models/Failure.scala
  tests/integration-tests/build.gradle.kts
  tests/integration-tests/hosts_test
  tests/integration-tests/src/test/kotlin/abilities/ListenToEvents.kt
  tests/integration-tests/src/test/kotlin/config/services/Keycloak.kt
  tests/integration-tests/src/test/kotlin/eu/europa/ec/eudi/openid4vci/Types.kt
  tests/integration-tests/src/test/kotlin/steps/Setup.kt
  tests/integration-tests/src/test/kotlin/steps/oid4vci/IssueCredentialSteps.kt
  tests/integration-tests/src/test/resources/configs/basic.conf
  tests/integration-tests/src/test/resources/configs/mt_keycloak.conf
  tests/integration-tests/src/test/resources/configs/mt_keycloak_agent_role.conf
  tests/integration-tests/src/test/resources/configs/mt_keycloak_vault.conf
  tests/integration-tests/src/test/resources/configs/mt_vault_approle.conf
  tests/integration-tests/src/test/resources/configs/mt_vault_token.conf
  tests/integration-tests/src/test/resources/configs/two_agents_basic.conf
  tests/integration-tests/src/test/resources/configs/two_agents_sharing_keycloak.conf
  tests/integration-tests/src/test/resources/containers/keycloak-oid4vci.yml
  tests/integration-tests/src/test/resources/features/oid4vci/issue_jwt.feature
  tests/integration-tests/src/test/resources/logback-test.xml
Labels: shared, mercury, connect, cloud-agent

#1255 chore: update codeowners files [skip ci]
  .github/CODEOWNERS
Labels: ci

#1264 build: make sure -Dquill.macro.log=false is passed when quill compiles
  .sbtopts
  build.sbt
  project/build.properties
Labels: build

#1232 fix: add reportProcessingFailure back in PresentationRepository
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/agent/server/jobs/PresentBackgroundJobs.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/repository/PresentationRepository.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/PresentationService.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/PresentationServiceImpl.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/PresentationServiceNotifier.scala
  pollux/core/src/test/scala/org/hyperledger/identus/pollux/core/repository/PresentationRepositoryInMemory.scala
  pollux/sql-doobie/src/main/scala/org/hyperledger/identus/pollux/sql/repository/JdbcCredentialRepository.scala
  pollux/sql-doobie/src/main/scala/org/hyperledger/identus/pollux/sql/repository/JdbcPresentationRepository.scala
Labels: pollux, build, cloud-agent

#1269 ci: do not use default token for autoupdate CI job [skip ci]
  .github/workflows/auto-merge.yml
Labels: ci

#1270 fix: rename folder from atala to identus
  shared/test/src/test/scala/org/hyperledger/identus/sharedtest/containers/KeycloakContainerCustom.scala
  shared/test/src/test/scala/org/hyperledger/identus/sharedtest/containers/KeycloakTestContainer.scala
  shared/test/src/test/scala/org/hyperledger/identus/sharedtest/containers/KeycloakTestContainerSupport.scala
  shared/test/src/test/scala/org/hyperledger/identus/sharedtest/containers/KeycloakTestContainerSupportSpec.scala
  shared/test/src/test/scala/org/hyperledger/identus/sharedtest/containers/PostgreSQLContainerCustom.scala
  shared/test/src/test/scala/org/hyperledger/identus/sharedtest/containers/PostgresLayer.scala
  shared/test/src/test/scala/org/hyperledger/identus/sharedtest/containers/PostgresTestContainer.scala
  shared/test/src/test/scala/org/hyperledger/identus/sharedtest/containers/PostgresTestContainerSupport.scala
  shared/test/src/test/scala/org/hyperledger/identus/sharedtest/containers/VaultContainerCustom.scala
  shared/test/src/test/scala/org/hyperledger/identus/sharedtest/containers/VaultTestContainer.scala
Labels: shared

#1271 fix: changed IO to UIO as as underline repository doesn't throw error
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/agent/server/jobs/PresentBackgroundJobs.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/PresentationService.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/PresentationServiceImpl.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/PresentationServiceNotifier.scala
  pollux/core/src/test/scala/org/hyperledger/identus/pollux/core/repository/PresentationRepositorySpecSuite.scala
  pollux/core/src/test/scala/org/hyperledger/identus/pollux/core/service/MockPresentationService.scala
Labels: pollux, cloud-agent

#1272 ci: use IDENTUS_CI2 token for automerge [skip ci]
  .github/workflows/auto-merge.yml
Labels: ci

#1274 feat: postgres metrics
  infrastructure/charts/agent/templates/podmonitor-postgresql.yaml
  infrastructure/charts/agent/templates/postgresql.yaml
  infrastructure/charts/agent/values.yaml
Labels: infra
