Repository hyperledger-identus/cloud-agent, pull requests merged in 2024-12, with the labels that each got.

#1467 feat: align the credential schema property name according to the VCDM 1.1
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/credentialstatus/controller/http/StatusListCredential.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/issue/controller/CredentialSchemaReferenceParsingLogic.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/issue/controller/IssueControllerImpl.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/issue/controller/http/CreateIssueCredentialRecordRequest.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/oid4vci/service/OIDCCredentialIssuerService.scala
  mercury/protocol-issue-credential/src/main/scala/org/hyperledger/identus/mercury/protocol/issuecredential/CredentialPreview.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/model/primitives/UriString.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/model/primitives/UrlString.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/model/schema/CredentialSchema.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/model/schema/CredentialSchemaRef.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/CredentialService.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/CredentialServiceImpl.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/CredentialServiceNotifier.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/OID4VCIIssuerMetadataService.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/verification/VcVerificationServiceImpl.scala
  pollux/core/src/test/scala/org/hyperledger/identus/pollux/core/service/CredentialServiceImplSpec.scala
  pollux/core/src/test/scala/org/hyperledger/identus/pollux/core/service/CredentialServiceSpecHelper.scala
  pollux/core/src/test/scala/org/hyperledger/identus/pollux/core/service/MockCredentialService.scala
  pollux/vc-jwt/src/main/scala/org/hyperledger/identus/pollux/vc/jwt/VerifiableCredentialPayload.scala
  tests/integration-tests/src/test/kotlin/common/CredentialSchema.kt
  tests/integration-tests/src/test/kotlin/steps/connectionless/ConnectionLessSteps.kt
  tests/integration-tests/src/test/kotlin/steps/credentials/JwtCredentialSteps.kt
  tests/integration-tests/src/test/kotlin/steps/credentials/SdJwtCredentialSteps.kt
  tests/integration-tests/src/test/resources/features/credential/jwt/issuance.feature
  tests/integration-tests/src/test/resources/features/credential/jwt/present_proof.feature
  tests/integration-tests/src/test/resources/features/credential/sdjwt/issuance.feature
  tests/performance-tests/agent-performance-tests-k6/README.md
  tests/performance-tests/agent-performance-tests-k6/package.json
  tests/performance-tests/agent-performance-tests-k6/src/actors/Holder.ts
  tests/performance-tests/agent-performance-tests-k6/src/actors/Issuer.ts
  tests/performance-tests/agent-performance-tests-k6/src/actors/Verifier.ts
  tests/performance-tests/agent-performance-tests-k6/src/common/ConnectionService.ts
  tests/performance-tests/agent-performance-tests-k6/src/common/CredentialsService.ts
  tests/performance-tests/agent-performance-tests-k6/src/common/DidService.ts
  tests/performance-tests/agent-performance-tests-k6/src/common/ProofsService.ts
  tests/performance-tests/agent-performance-tests-k6/src/tests/credentials/credential-definition-test.ts
  tests/performance-tests/agent-performance-tests-k6/src/tests/credentials/credential-offer-test.ts
  tests/performance-tests/agent-performance-tests-k6/src/tests/flows/issuance-flow-test.ts
  tests/performance-tests/agent-performance-tests-k6/src/tests/flows/present-proof-flow-test.ts
  tests/performance-tests/agent-performance-tests-k6/yarn.lock
Labels: pollux, mercury, cloud-agent

#1475 feat: migrate pollux VC JWT from Circe to zio-json
  build.sbt
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/agent/server/jobs/StatusListJobs.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/iam/authentication/oidc/KeycloakAuthenticator.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/oid4vci/service/OIDCCredentialIssuerService.scala
  cloud-agent/service/server/src/test/scala/org/hyperledger/identus/issue/controller/IssueControllerImplSpec.scala
  cloud-agent/service/server/src/test/scala/org/hyperledger/identus/verification/controller/VcVerificationControllerImplSpec.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/repository/CredentialStatusListRepository.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/CredentialServiceImpl.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/verification/VcVerificationServiceImpl.scala
  pollux/core/src/test/scala/org/hyperledger/identus/pollux/core/service/uriResolvers/DidUrlResolverSpec.scala
  pollux/core/src/test/scala/org/hyperledger/identus/pollux/core/service/verification/VcVerificationServiceImplSpec.scala
  pollux/prex/src/main/scala/org/hyperledger/identus/pollux/prex/PresentationDefinition.scala
  pollux/prex/src/main/scala/org/hyperledger/identus/pollux/prex/PresentationSubmissionVerification.scala
  pollux/prex/src/test/scala/org/hyperledger/identus/pollux/prex/PresentationSubmissionVerificationSpec.scala
  pollux/sd-jwt/src/main/scala/org/hyperledger/identus/pollux/sdjwt/SDJWT.scala
  pollux/vc-jwt/src/main/scala/org/hyperledger/identus/pollux/vc/jwt/DidJWT.scala
  pollux/vc-jwt/src/main/scala/org/hyperledger/identus/pollux/vc/jwt/DidResolver.scala
  pollux/vc-jwt/src/main/scala/org/hyperledger/identus/pollux/vc/jwt/EcdsaSecp256k1VerificationKey2019.scala
  pollux/vc-jwt/src/main/scala/org/hyperledger/identus/pollux/vc/jwt/InstantDecoderEncoder.scala
  pollux/vc-jwt/src/main/scala/org/hyperledger/identus/pollux/vc/jwt/JWTVerification.scala
  pollux/vc-jwt/src/main/scala/org/hyperledger/identus/pollux/vc/jwt/JsonEncoders.scala
  pollux/vc-jwt/src/main/scala/org/hyperledger/identus/pollux/vc/jwt/JsonWebKey.scala
  pollux/vc-jwt/src/main/scala/org/hyperledger/identus/pollux/vc/jwt/MultiBaseString.scala
  pollux/vc-jwt/src/main/scala/org/hyperledger/identus/pollux/vc/jwt/MultiKey.scala
  pollux/vc-jwt/src/main/scala/org/hyperledger/identus/pollux/vc/jwt/Proof.scala
  pollux/vc-jwt/src/main/scala/org/hyperledger/identus/pollux/vc/jwt/Verifiable.scala
  pollux/vc-jwt/src/main/scala/org/hyperledger/identus/pollux/vc/jwt/VerifiableCredentialPayload.scala
  pollux/vc-jwt/src/main/scala/org/hyperledger/identus/pollux/vc/jwt/VerifiablePresentationPayload.scala
  pollux/vc-jwt/src/main/scala/org/hyperledger/identus/pollux/vc/jwt/revocation/VCStatusList2021.scala
  pollux/vc-jwt/src/test/scala/org/hyperledger/identus/pollux/vc/jwt/JWTVerificationTest.scala
  pollux/vc-jwt/src/test/scala/org/hyperledger/identus/pollux/vc/jwt/revocation/VCStatusList2021Spec.scala
  shared/json/src/main/scala/org/hyperledger/identus/shared/json/JsonInterop.scala
  shared/json/src/main/scala/org/hyperledger/identus/shared/json/JsonOps.scala
Labels: pollux, build, shared, cloud-agent

#1480 fix: mapping the claims attributes to json
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/CredentialService.scala
Labels: pollux

#1479 feat: disable the APIKEY authentication in the cloud-agent
  cloud-agent/service/server/src/main/resources/application.conf
  infrastructure/shared/docker-compose-combined.yml
  infrastructure/shared/docker-compose-demo.yml
  infrastructure/shared/docker-compose-mt-keycloak.yml
  infrastructure/shared/docker-compose-with-kafka.yml
  infrastructure/shared/docker-compose.yml
  tests/integration-tests/src/test/resources/containers/agent.yml
Labels: infra, cloud-agent

#1483 feat: support 'pollux.domain' config param
  cloud-agent/service/server/src/main/resources/application.conf
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/agent/server/config/AppConfig.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/issue/controller/IssueControllerImpl.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/issue/controller/http/CreateIssueCredentialRecordRequest.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/CredentialService.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/CredentialServiceImpl.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/CredentialServiceNotifier.scala
  pollux/core/src/test/scala/org/hyperledger/identus/pollux/core/service/CredentialServiceSpecHelper.scala
  pollux/core/src/test/scala/org/hyperledger/identus/pollux/core/service/MockCredentialService.scala
Labels: pollux, cloud-agent
