Repository hyperledger-identus/cloud-agent, pull requests merged in 2024-11, with the labels that each got.

#1431 chore: rely on Tapir's default value for OpenAPI spec version
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/agent/server/http/DocModels.scala
Labels: cloud-agent

#1432 chore: fix generated OAS version to 3.0.3 as TS generator fails with 3.1.0
  cloud-agent/service/server/src/test/scala/org/hyperledger/identus/api/util/Tapir2StaticOAS.scala
Labels: cloud-agent

#1433 fix: Warning on Invitation generated on Issuance
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/agent/server/jobs/IssueBackgroundJobs.scala
Labels: cloud-agent

#1427 test: add didcomm test
  .github/workflows/integration-tests.yml
  .mega-linter.yml
  tests/didcomm-tests/docker/docker-compose.yml
  tests/didcomm-tests/docker/initdb.js
  tests/didcomm-tests/docker/postgres/init-script.sh
  tests/didcomm-tests/docker/postgres/max_conns.sql
  tests/didcomm-tests/docker/run.sh
  tests/didcomm-tests/docker/stop.sh
  tests/didcomm-tests/package.json
Labels: ci

#1447 docs: connectionless issue
  docs/docusaurus/credentials/connectionless/issue.md
  docs/docusaurus/credentials/connectionless/present-proof.md
  docs/docusaurus/credentials/didcomm/anoncreds-setup.png
  docs/docusaurus/credentials/didcomm/anoncreds-setup.puml
  docs/docusaurus/credentials/didcomm/issue-flow.anoncreds.png
  docs/docusaurus/credentials/didcomm/issue-flow.anoncreds.puml
  docs/docusaurus/credentials/didcomm/issue-flow.jwt.png
  docs/docusaurus/credentials/didcomm/issue-flow.jwt.puml
  docs/docusaurus/credentials/didcomm/issue.md
  docs/docusaurus/credentials/didcomm/present-proof-flow.anoncreds.png
  docs/docusaurus/credentials/didcomm/present-proof-flow.anoncreds.puml
  docs/docusaurus/credentials/didcomm/present-proof-flow.jwt.png
  docs/docusaurus/credentials/didcomm/present-proof-flow.jwt.puml
  docs/docusaurus/credentials/didcomm/present-proof.md
  docs/docusaurus/credentials/oid4cv/issue.md
  docs/docusaurus/sidebars.js
Labels: docs

#1441 fix: Kafka consumer not picking messages
  cloud-agent/service/server/src/main/resources/logback.xml
  shared/core/src/main/scala/org/hyperledger/identus/shared/messaging/kafka/ZKafkaMessagingServiceImpl.scala
Labels: shared, cloud-agent

#1453 fix: proof presentation request
  .mega-linter.yml
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/agent/server/jobs/PresentBackgroundJobs.scala
  mercury/protocol-report-problem/src/main/scala/org/hyperledger/identus/mercury/protocol/reportproblem/v2/ReportProblem.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/model/error/PresentationError.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/CredentialServiceImpl.scala
  pollux/prex/src/main/scala/org/hyperledger/identus/pollux/prex/PresentationSubmissionVerification.scala
  pollux/vc-jwt/src/main/scala/org/hyperledger/identus/pollux/vc/jwt/CredentialSchemaAndTrustedIssuersConstraint.scala
  pollux/vc-jwt/src/main/scala/org/hyperledger/identus/pollux/vc/jwt/VerifiablePresentationPayload.scala
  pollux/vc-jwt/src/test/scala/org/hyperledger/identus/pollux/vc/jwt/JwtPresentationTest.scala
  tests/integration-tests/src/test/kotlin/common/CredentialSchema.kt
  tests/integration-tests/src/test/kotlin/steps/connectionless/ConnectionLessSteps.kt
  tests/integration-tests/src/test/kotlin/steps/proofs/JwtProofSteps.kt
  tests/integration-tests/src/test/resources/features/credential/jwt/present_proof.feature
  tests/performance-tests/agent-performance-tests-k6/src/common/ProofsService.ts
Labels: pollux, mercury, cloud-agent

#1460 feat: share Kafka producers among threads
  cloud-agent/service/server/src/main/resources/application.conf
  cloud-agent/service/server/src/test/scala/org/hyperledger/identus/oid4vci/domain/OIDCCredentialIssuerServiceSpec.scala
  connect/core/src/test/scala/org/hyperledger/identus/connect/core/service/ConnectionServiceImplSpec.scala
  connect/core/src/test/scala/org/hyperledger/identus/connect/core/service/ConnectionServiceNotifierSpec.scala
  event-notification/src/test/scala/org/hyperledger/identus/messaging/MessagingServiceTest.scala
  infrastructure/shared/docker-compose-with-kafka.yml
  pollux/core/src/test/scala/org/hyperledger/identus/pollux/core/service/CredentialServiceSpecHelper.scala
  pollux/core/src/test/scala/org/hyperledger/identus/pollux/core/service/PresentationServiceSpecHelper.scala
  shared/core/src/main/scala/org/hyperledger/identus/shared/messaging/MessagingService.scala
  shared/core/src/main/scala/org/hyperledger/identus/shared/messaging/kafka/InMemoryMessagingService.scala
  shared/core/src/main/scala/org/hyperledger/identus/shared/messaging/kafka/ZKafkaMessagingServiceImpl.scala
  tests/integration-tests/src/test/resources/containers/agent.yml
Labels: pollux, infra, shared, connect, cloud-agent

#1461 fix: update the jwt to have shortform of prism did
  .github/workflows/performance-tests.yml
  infrastructure/shared/apisix/conf/apisix-holder.yaml
  infrastructure/shared/apisix/conf/apisix-issuer.yaml
  infrastructure/shared/apisix/conf/apisix-verifier.yaml
  infrastructure/shared/docker-compose-combined.yml
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/CredentialServiceImpl.scala
  tests/integration-tests/src/test/kotlin/steps/proofs/JwtProofSteps.kt
  tests/integration-tests/src/test/resources/features/credential/jwt/present_proof.feature
  tests/performance-tests/agent-performance-tests-k6/.env
  tests/performance-tests/agent-performance-tests-k6/run.sh
  tests/performance-tests/agent-performance-tests-k6/yarn.lock
Labels: pollux, infra, ci
