Repository hyperledger-identus/cloud-agent, pull requests merged in 2024-04, with the labels that each got.

#959 feat: VC Verification Abstraction
  pollux/lib/core/src/main/scala/io/iohk/atala/pollux/core/service/verification/VcVerification.scala
  pollux/lib/core/src/main/scala/io/iohk/atala/pollux/core/service/verification/VcVerificationService.scala
  pollux/lib/core/src/main/scala/io/iohk/atala/pollux/core/service/verification/VcVerificationServiceError.scala
  pollux/lib/core/src/main/scala/io/iohk/atala/pollux/core/service/verification/VcVerificationServiceImpl.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/agent/server/Main.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/verification/controller/VcVerificationController.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/verification/controller/VcVerificationControllerImpl.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/verification/controller/http/VcVerification.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/verification/controller/http/VcVerificationRequest.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/verification/controller/http/VcVerificationResponse.scala
Labels: pollux, prism-agent

#960 ci: update the release commit message
  package.json
Labels: build

#952 docs(adr): ATL-6599 update ADR based on first implementation experience
  connect/lib/core/src/main/scala/io/iohk/atala/connect/core/model/error/ConnectionRepositoryError.scala
  connect/lib/core/src/main/scala/io/iohk/atala/connect/core/repository/ConnectionRepositoryInMemory.scala
  connect/lib/core/src/main/scala/io/iohk/atala/connect/core/service/ConnectionServiceImpl.scala
  connect/lib/core/src/test/scala/io/iohk/atala/connect/core/repository/ConnectionRepositorySpecSuite.scala
  docs/decisions/20240116-use-zio-failures-and-defects-effectively.md
Labels: docs, connect

#954 feat: Configurations load improvement
  build.sbt
  prism-agent/service/server/src/main/scala/io/iohk/atala/agent/server/Modules.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/agent/server/config/AppConfig.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/agent/server/jobs/IssueBackgroundJobs.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/issue/controller/IssueControllerImpl.scala
  prism-agent/service/server/src/test/scala/io/iohk/atala/agent/server/config/AppConfigSpec.scala
  prism-agent/service/server/src/test/scala/io/iohk/atala/issue/controller/IssueControllerTestTools.scala
  prism-agent/service/wallet-api/src/main/scala/io/iohk/atala/agent/walletapi/service/ManagedDIDService.scala
  prism-agent/service/wallet-api/src/main/scala/io/iohk/atala/agent/walletapi/service/ManagedDIDServiceImpl.scala
  prism-agent/service/wallet-api/src/main/scala/io/iohk/atala/agent/walletapi/service/MockManagedDIDService.scala
  prism-agent/service/wallet-api/src/test/scala/io/iohk/atala/agent/walletapi/service/ManagedDIDServiceSpec.scala
Labels: prism-agent, build

#965 docs: problem report ADR status change to accepted
  docs/decisions/20240115-Error-handling-report-problem-agent.md
Labels: Type: Documentation, Component: Cloud Agent

#980 ci: update release workflow
  .github/workflows/release.yml
Labels: ci

#982 ci: use github.actor in the release workflow
  .github/workflows/release.yml
Labels: ci

#983 ci: add permission to push the tag for semantic-release [skip ci]
  .github/workflows/release.yml
Labels: ci

#984 ci: switch to the hyperledger organization in publishing the image to ghc…
  README.md
  build.sbt
  infrastructure/charts/agent/values.yaml
  infrastructure/ci/docker-compose-multiple-actors.yml
  infrastructure/shared/docker-compose-demo.yml
  infrastructure/shared/docker-compose-mt-keycloak.yml
  infrastructure/shared/docker-compose.yml
  infrastructure/single-tenant-testing-stack/docker-compose.yml
  package.json
  tests/integration-tests/src/test/resources/containers/agent.yml
Labels: build, infra, docs

#987 ci: use hyperledger-bot instead of atala-dev account [skip ci]
  .github/workflows/release.yml
Labels: ci

#988 ci: fix semantic-release
  .github/workflows/release.yml
Labels: ci

#986 feat(agent): verification API integration test + documentation ATL-6775
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/verification/controller/VcVerificationEndpoints.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/verification/controller/http/VcVerificationRequest.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/verification/controller/http/VcVerificationResponse.scala
  cloud-agent/service/server/src/test/scala/org/hyperledger/identus/verification/controller/VcVerificationControllerImplSpec.scala
  tests/integration-tests/src/test/kotlin/common/CredentialSchema.kt
  tests/integration-tests/src/test/kotlin/common/TestConstants.kt
  tests/integration-tests/src/test/kotlin/config/VaultAuthType.kt
  tests/integration-tests/src/test/kotlin/config/services/ServiceBase.kt
  tests/integration-tests/src/test/kotlin/config/services/Vault.kt
  tests/integration-tests/src/test/kotlin/steps/Setup.kt
  tests/integration-tests/src/test/kotlin/steps/common/CommonSteps.kt
  tests/integration-tests/src/test/kotlin/steps/credentials/IssueCredentialsSteps.kt
  tests/integration-tests/src/test/kotlin/steps/did/PublishDidSteps.kt
  tests/integration-tests/src/test/kotlin/steps/proofs/AnoncredsPresentProofSteps.kt
  tests/integration-tests/src/test/kotlin/steps/schemas/CredentialSchemasSteps.kt
  tests/integration-tests/src/test/kotlin/steps/verification/VcVerificationSteps.kt
  tests/integration-tests/src/test/kotlin/steps/verificationpolicies/VerificationPoliciesSteps.kt
Labels: prism-agent

#991 ci: fix release workflow to use the Hyperledger infrastructure
  .github/workflows/release.yml
Labels: ci

#992 ci: fix the typo in the release step
  package.json
Labels: build, ci

#990 fix: update open-api-spec and generator script and package.json
  .github/workflows/integration-tests.yml
  .github/workflows/release-clients.yml
  .gitignore
  cloud-agent/client/README.md
  cloud-agent/client/generator/generate-clients.sh
  cloud-agent/client/kotlin/.openapi-generator-ignore
  cloud-agent/client/kotlin/build.gradle
  cloud-agent/client/kotlin/settings.gradle
  cloud-agent/client/kotlin/src/main/kotlin/org/hyperledger/identus/client/models/CredentialSubject.kt
  cloud-agent/client/kotlin/src/main/kotlin/org/hyperledger/identus/client/models/Service.kt
  cloud-agent/client/kotlin/src/main/kotlin/org/hyperledger/identus/client/models/UpdateManagedDIDServiceAction.kt
  tests/integration-tests/build.gradle.kts
  tests/integration-tests/src/test/kotlin/common/CredentialSchema.kt
  tests/integration-tests/src/test/kotlin/common/TestConstants.kt
  tests/integration-tests/src/test/kotlin/models/Events.kt
  tests/integration-tests/src/test/kotlin/steps/Setup.kt
  tests/integration-tests/src/test/kotlin/steps/common/CommonSteps.kt
  tests/integration-tests/src/test/kotlin/steps/connection/ConnectionSteps.kt
  tests/integration-tests/src/test/kotlin/steps/credentials/IssueCredentialsSteps.kt
  tests/integration-tests/src/test/kotlin/steps/did/DeactivateDidSteps.kt
  tests/integration-tests/src/test/kotlin/steps/did/ManageDidSteps.kt
  tests/integration-tests/src/test/kotlin/steps/did/PublishDidSteps.kt
  tests/integration-tests/src/test/kotlin/steps/did/UpdateDidSteps.kt
  tests/integration-tests/src/test/kotlin/steps/multitenancy/EntitySteps.kt
  tests/integration-tests/src/test/kotlin/steps/multitenancy/EventsSteps.kt
  tests/integration-tests/src/test/kotlin/steps/multitenancy/WalletsSteps.kt
  tests/integration-tests/src/test/kotlin/steps/proofs/AnoncredsPresentProofSteps.kt
  tests/integration-tests/src/test/kotlin/steps/proofs/PresentProofSteps.kt
  tests/integration-tests/src/test/kotlin/steps/schemas/CredentialSchemasSteps.kt
  tests/integration-tests/src/test/kotlin/steps/system/SystemSteps.kt
  tests/integration-tests/src/test/kotlin/steps/verification/VcVerificationSteps.kt
  tests/integration-tests/src/test/kotlin/steps/verificationpolicies/VerificationPoliciesSteps.kt
Labels: build, ci

#994 ci: fix release-clients.yml
  .github/workflows/release-clients.yml
  cloud-agent/client/kotlin/settings.gradle
  cloud-agent/client/python/setup.py
  cloud-agent/client/typescript/package.json
  tests/integration-tests/build.gradle.kts
Labels: ci

#979 ci: fix integration false positive
  .github/workflows/integration-tests.yml
  tests/integration-tests/README.md
Labels: ci

#996 docs: delete the architecture folder [skip ci]
  docs/README.md
  docs/architecture/Dockerfile
  docs/architecture/structurizr/castor_containers.dsl
  docs/architecture/structurizr/iris_containers.dsl
  docs/architecture/structurizr/prism_model.dsl
  docs/architecture/structurizr/shared/iris_client.dsl
  docs/architecture/structurizr/workspace.dsl
  docs/capabilities/multi-tenancy.md
Labels: docs

#995 docs: update the references to the Cloud Agent in the documentation and tutorials
  docs/docusaurus/connections/connection-flow.puml
  docs/docusaurus/connections/connection.md
  docs/docusaurus/credentialdefinition/create.md
  docs/docusaurus/credentialdefinition/credential-definition.md
  docs/docusaurus/credentialdefinition/delete.md
  docs/docusaurus/credentials/anoncreds-issue-flow.puml
  docs/docusaurus/credentials/anoncreds-present-proof-flow.puml
  docs/docusaurus/credentials/issue-flow.puml
  docs/docusaurus/credentials/issue.md
  docs/docusaurus/credentials/present-proof-flow.puml
  docs/docusaurus/credentials/present-proof.md
  docs/docusaurus/dids/create.md
  docs/docusaurus/dids/deactivate.md
  docs/docusaurus/dids/publish.md
  docs/docusaurus/dids/update.md
  docs/docusaurus/index.md
  docs/docusaurus/multitenancy/access-control.md
  docs/docusaurus/multitenancy/account-management.md
  docs/docusaurus/multitenancy/admin-authz-ext-iam.md
  docs/docusaurus/multitenancy/tenant-migration.md
  docs/docusaurus/multitenancy/tenant-onboarding-ext-iam.md
  docs/docusaurus/multitenancy/tenant-onboarding-self-service.md
  docs/docusaurus/multitenancy/tenant-onboarding.md
  docs/docusaurus/schemas/create.md
  docs/docusaurus/schemas/credential-schema.md
  docs/docusaurus/schemas/delete.md
  docs/docusaurus/schemas/update.md
  docs/docusaurus/secrets/operation.md
  docs/docusaurus/secrets/secret-storage.md
  docs/docusaurus/secrets/seed-generation.md
  docs/docusaurus/secrets/sequence-diagrams.md
  docs/docusaurus/webhooks/webhook.md
Labels: docs
