Repository hyperledger-identus/cloud-agent, pull requests merged in 2024-01, with the labels that each got.

#831 fix: Fix Anoncred Issuance Processing
  pollux/lib/core/src/main/scala/io/iohk/atala/pollux/core/service/CredentialServiceImpl.scala
  pollux/lib/core/src/main/scala/io/iohk/atala/pollux/core/service/PresentationServiceImpl.scala
Labels: pollux

#832 docs: add ADR on supporting admin auth using keycloak JWT
  docs/decisions/20240103-use-jwt-claims-for-agent-admin-auth.md
Labels: docs

#833 docs(prism-agent): ATL-6269 improve connections OpenAPI doc
  prism-agent/service/server/src/main/scala/io/iohk/atala/agent/server/http/DocModels.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/agent/server/http/ZHttpEndpoints.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/api/http/model/PaginationInput.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/connect/controller/ConnectionEndpoints.scala
  prism-agent/service/server/src/test/scala/io/iohk/atala/api/util/Tapir2StaticOAS.scala
Labels: prism-agent

#835 docs(prism-agent): add verification policy OpenAPI description
  prism-agent/service/server/src/main/scala/io/iohk/atala/agent/server/http/DocModels.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/agent/server/http/ZHttpEndpoints.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/api/http/model/PaginationInput.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/connect/controller/ConnectionEndpoints.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/pollux/credentialschema/VerificationPolicyEndpoints.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/pollux/credentialschema/VerificationPolicyServerEndpoints.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/pollux/credentialschema/controller/VerificationPolicyController.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/pollux/credentialschema/controller/VerificationPolicyControllerImpl.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/pollux/credentialschema/controller/VerificationPolicyPageRequestLogic.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/pollux/credentialschema/http/VerificationPolicy.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/pollux/credentialschema/http/VerificationPolicyResponse.scala
  prism-agent/service/server/src/test/scala/io/iohk/atala/api/util/Tapir2StaticOAS.scala
Labels: prism-agent

#834 feat: interoperable schema api
  prism-agent/service/server/src/main/scala/io/iohk/atala/pollux/credentialschema/SchemaRegistryEndpoints.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/pollux/credentialschema/SchemaRegistryServerEndpoints.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/pollux/credentialschema/controller/CredentialSchemaController.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/pollux/credentialschema/controller/CredentialSchemaControllerImpl.scala
  prism-agent/service/server/src/test/scala/io/iohk/atala/pollux/schema/CredentialSchemaBasicSpec.scala
  prism-agent/service/server/src/test/scala/io/iohk/atala/pollux/schema/CredentialSchemaTestTools.scala
Labels: prism-agent

#840 feat(prism-agent): add JWT auth support for agent-admin role
  docs/decisions/20240103-use-jwt-claims-for-agent-admin-auth.md
  prism-agent/service/server/src/main/resources/application.conf
  prism-agent/service/server/src/main/scala/io/iohk/atala/castor/controller/DIDRegistrarServerEndpoints.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/connect/controller/ConnectionServerEndpoints.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/event/controller/EventServerEndpoints.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/iam/authentication/Authenticator.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/iam/authentication/DefaultAuthenticator.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/iam/authentication/SecurityLogic.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/iam/authentication/admin/AdminApiKeyAuthenticator.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/iam/authentication/admin/AdminApiKeyAuthenticatorImpl.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/iam/authentication/admin/AdminApiKeyCredentials.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/iam/authentication/admin/AdminApiKeySecurityLogic.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/iam/authentication/admin/package.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/iam/authentication/apikey/ApiKeyAuthenticator.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/iam/authentication/oidc/KeycloakAuthenticator.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/iam/authentication/oidc/KeycloakAuthenticatorImpl.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/iam/authentication/oidc/KeycloakClient.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/iam/authentication/oidc/KeycloakConfig.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/iam/authorization/core/PermissionManagement.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/iam/authorization/keycloak/admin/KeycloakPermissionManagementService.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/iam/entity/http/EntityEndpoints.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/iam/entity/http/EntityServerEndpoints.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/iam/wallet/http/controller/WalletManagementController.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/issue/controller/IssueServerEndpoints.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/pollux/credentialdefinition/CredentialDefinitionRegistryServerEndpoints.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/pollux/credentialschema/SchemaRegistryServerEndpoints.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/pollux/credentialschema/VerificationPolicyServerEndpoints.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/presentproof/controller/PresentProofServerEndpoints.scala
  prism-agent/service/server/src/test/resources/logback.xml
  prism-agent/service/server/src/test/scala/io/iohk/atala/api/util/Tapir2StaticOAS.scala
  prism-agent/service/server/src/test/scala/io/iohk/atala/iam/authentication/SecurityLogicSpec.scala
  prism-agent/service/server/src/test/scala/io/iohk/atala/iam/authentication/oidc/KeycloakAuthenticatorSpec.scala
  prism-agent/service/server/src/test/scala/io/iohk/atala/iam/authorization/keycloak/admin/KeycloakConfigUtils.scala
  prism-agent/service/server/src/test/scala/io/iohk/atala/iam/authorization/keycloak/admin/KeycloakPermissionManagementServiceSpec.scala
  prism-agent/service/wallet-api/src/main/scala/io/iohk/atala/agent/walletapi/model/Entity.scala
  project/plugins.sbt
  shared-test/src/test/scala/io/iohk/atala/sharedtest/containers/KeycloakTestContainerSupport.scala
Labels: prism-agent, build, docs

#841 fix(prism-agent): fix credential schema parsing as spec
  pollux/lib/core/src/main/scala/io/iohk/atala/pollux/core/model/schema/CredentialSchema.scala
  pollux/lib/core/src/main/scala/io/iohk/atala/pollux/core/service/CredentialDefinitionServiceImpl.scala
  pollux/lib/core/src/main/scala/io/iohk/atala/pollux/core/service/PresentationServiceImpl.scala
  pollux/lib/core/src/test/resources/anoncred-presentation-schema-example.json
  pollux/lib/core/src/test/resources/anoncred-schema-example.json
  pollux/lib/core/src/test/resources/vc-schema-example.json
  prism-agent/service/server/src/test/resources/anoncred-schema-example.json
  prism-agent/service/server/src/test/resources/vc-schema-example.json
  tests/integration-tests/src/test/kotlin/features/credentials/IssueCredentialsSteps.kt
Labels: pollux, prism-agent

#842 docs(prism-agent): improve did-registrar OpenAPI doc
  prism-agent/service/server/src/main/scala/io/iohk/atala/agent/server/http/DocModels.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/castor/controller/DIDRegistrarEndpoints.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/castor/controller/http/ManagedDID.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/castor/controller/http/Service.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/castor/controller/http/UpdateManagedDID.scala
Labels: prism-agent

#843 docs(prism-agent): add credential schema OpenAPI documentation
  prism-agent/service/server/src/main/scala/io/iohk/atala/agent/server/http/DocModels.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/pollux/credentialschema/SchemaRegistryEndpoints.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/pollux/credentialschema/SchemaRegistryServerEndpoints.scala
Labels: prism-agent

#855 docs: improve oas doc for DID and wallet endpoints
  prism-agent/service/server/src/main/scala/io/iohk/atala/agent/server/http/DocModels.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/castor/controller/DIDEndpoints.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/castor/controller/http/DIDDocument.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/castor/controller/http/DIDResolutionResult.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/castor/controller/http/ManagedDID.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/iam/wallet/http/WalletManagementEndpoints.scala
Labels: prism-agent

#849 ci: update CODEOWNERS [skip ci]
  .github/CODEOWNERS
Labels: ci

#860 docs(prism-agent): update readme file to the latest Agent version, fix the broken link to the container registry
  README.md
Labels: docs

#850 feat: upgrade ZIO http client to improve performance
  .github/workflows/performance-tests.yml
  .mega-linter.yml
  SECURITY.md
  build.sbt
  infrastructure/shared/docker-compose.yml
  infrastructure/single-tenant-testing-stack/.env
  infrastructure/single-tenant-testing-stack/dashboards/oea-k6-detail.json
  infrastructure/single-tenant-testing-stack/dashboards/oea-k8s-overview.json
  infrastructure/single-tenant-testing-stack/docker-compose.yml
  infrastructure/single-tenant-testing-stack/run-performance-tests-local.sh
  mercury/mercury-library/agent-cli-didcommx/src/main/scala/io/iohk/atala/AgentClientAlice.scala
  mercury/mercury-library/agent-cli-didcommx/src/main/scala/io/iohk/atala/AgentClientBob.scala
  mercury/mercury-library/agent-cli-didcommx/src/main/scala/io/iohk/atala/AgentClientCoordinateMediation.scala
  mercury/mercury-library/agent-cli-didcommx/src/main/scala/io/iohk/atala/QRcode.scala
  mercury/mercury-library/agent-cli-didcommx/src/main/scala/io/iohk/atala/mercury/AgentCli.scala
  mercury/mercury-library/agent-cli-didcommx/src/main/scala/io/iohk/atala/mercury/AgentHardCode.scala
  mercury/mercury-library/agent-cli-didcommx/src/main/scala/io/iohk/atala/mercury/ZioHttpClient.scala
  pollux/lib/core/src/main/scala/io/iohk/atala/pollux/core/service/HttpURIDereferencerImpl.scala
  prism-agent/service/server/src/main/resources/application.conf
  prism-agent/service/server/src/main/scala/io/iohk/atala/agent/notification/WebhookPublisher.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/agent/server/DidCommHttpServer.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/agent/server/DidCommHttpServerError.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/agent/server/Main.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/agent/server/PrismAgentApp.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/agent/server/config/AppConfig.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/agent/server/http/ZioHttpClient.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/agent/server/jobs/IssueBackgroundJobs.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/iam/authentication/oidc/KeycloakClient.scala
  prism-agent/service/server/src/test/scala/io/iohk/atala/ZioHttpTest.scala
  tests/integration-tests/src/test/kotlin/features/system/SystemSteps.kt
  tests/integration-tests/src/test/resources/features/system/metrics_endpoint.feature
  tests/performance-tests/atala-performance-tests-k6/README.md
  tests/performance-tests/atala-performance-tests-k6/src/common/Config.ts
  tests/performance-tests/atala-performance-tests-k6/src/common/ConnectionService.ts
  tests/performance-tests/atala-performance-tests-k6/src/common/CredentialsService.ts
  tests/performance-tests/atala-performance-tests-k6/src/common/DidService.ts
  tests/performance-tests/atala-performance-tests-k6/src/common/HttpService.ts
  tests/performance-tests/atala-performance-tests-k6/src/common/ProofsService.ts
  tests/performance-tests/atala-performance-tests-k6/src/k6chaijs.js
  tests/performance-tests/atala-performance-tests-k6/src/tests/common.ts
  tests/performance-tests/atala-performance-tests-k6/src/tests/credentials/credential-offer-test.ts
  tests/performance-tests/atala-performance-tests-k6/src/tests/credentials/credential-schema-test.ts
  tests/performance-tests/atala-performance-tests-k6/src/tests/dids/create-prism-did-test.ts
  tests/performance-tests/atala-performance-tests-k6/src/tests/dids/did-publishing-test.ts
  tests/performance-tests/atala-performance-tests-k6/src/tests/flows/connection-flow-test.ts
  tests/performance-tests/atala-performance-tests-k6/src/tests/flows/issuance-flow-test.ts
  tests/performance-tests/atala-performance-tests-k6/src/tests/flows/present-proof-flow-test.ts
Labels: pollux, prism-agent, build, infra, ci, mercury

#861 docs: add description to credential definition and system endpoints
  prism-agent/service/server/src/main/scala/io/iohk/atala/agent/server/http/DocModels.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/pollux/credentialdefinition/CredentialDefinitionRegistryEndpoints.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/pollux/credentialschema/SchemaRegistryEndpoints.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/pollux/credentialschema/VerificationPolicyEndpoints.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/system/controller/SystemEndpoints.scala
Labels: prism-agent
