Repository hyperledger-identus/cloud-agent, pull requests merged in 2024-05, with the labels that each got.

#993 ci: fix scala-steward after moving repo to hyperledger
  .git-blame-ignore-revs
  .github/.scala-steward.conf
  .github/workflows/scala-steward.yml
  .scala-steward.conf
  .scalafmt.conf
  build.sbt
  cloud-agent/service/server/src/test/scala/org/hyperledger/identus/iam/authorization/keycloak/admin/KeycloakPermissionManagementServiceSpec.scala
  mercury/protocol-coordinate-mediation/src/main/scala/org/hyperledger/identus/mercury/protocol/coordinatemediation/CoordinateMediation.scala
  mercury/protocol-issue-credential/src/main/scala/org/hyperledger/identus/mercury/protocol/issuecredential/CredentialPreview.scala
  pollux/sql-doobie/src/main/scala/org/hyperledger/identus/pollux/sql/repository/JdbcCredentialRepository.scala
  project/LicenseReport.scala
  project/build.properties
  project/build.sbt
  shared/core/src/main/scala/org/hyperledger/identus/shared/db/TransactorLayer.scala
  tests/integration-tests/src/test/resources/containers/keycloak.yml
Labels: pollux, build, infra, ci, shared, mercury

#957 fix: expose pg_admin port on the localhost interface only
  infrastructure/shared/docker-compose.yml
Labels: infra

#1003 ci: fix megalinter PR creation
  .github/workflows/lint.yml
Labels: ci

#1001 docs: cleanup other prism term entries
  .github/CODEOWNERS
  .github/labeler.yml
  .github/workflows/lint.yml
  cloud-agent/service/README.md
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/agent/server/CloudAgentApp.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/agent/server/MainApp.scala
  cloud-agent/service/server/src/test/scala/org/hyperledger/identus/agent/server/config/AppConfigSpec.scala
  docs/decisions/20230926-use-keycloak-authorisation-service-for-managing-wallet-permissions.md
  docs/docusaurus/connections/connection.md
  docs/docusaurus/credentialdefinition/create.md
  docs/docusaurus/multitenancy/tenant-migration.md
  docs/docusaurus/multitenancy/tenant-onboarding-ext-iam.md
  docs/docusaurus/multitenancy/tenant-onboarding-self-service.md
  docs/docusaurus/multitenancy/tenant-onboarding.md
  docs/general/key-derivation-benchmark.md
Labels: ci, docs, cloud-agent

#1005 chore: update Coveralls badge [skip ci]
  README.md
Labels: docs

#1007 docs: improve OAS docs for Event and IAM section
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/agent/server/http/DocModels.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/event/controller/EventEndpoints.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/event/controller/http/CreateWebhookNotification.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/iam/entity/http/EntityEndpoints.scala
Labels: cloud-agent

#1010 fix: Fix OneOf OpenAPI Serialization Issue
  cloud-agent/client/kotlin/.openapi-generator-ignore
  cloud-agent/client/kotlin/src/main/kotlin/org/hyperledger/identus/client/models/DateTimeParameter.kt
  cloud-agent/client/kotlin/src/main/kotlin/org/hyperledger/identus/client/models/DidParameter.kt
  cloud-agent/client/kotlin/src/main/kotlin/org/hyperledger/identus/client/models/VcVerificationParameter.kt
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/verification/controller/http/VcVerification.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/verification/controller/http/VcVerificationParameter.scala
  cloud-agent/service/server/src/test/scala/org/hyperledger/identus/verification/controller/VcVerificationControllerImplSpec.scala
Labels: cloud-agent

#1015 fix: remove prism-crypto dependency
  build.sbt
  castor/src/main/scala/org/hyperledger/identus/castor/core/model/did/PrismDID.scala
  castor/src/main/scala/org/hyperledger/identus/castor/core/model/did/PrismDIDOperation.scala
  castor/src/test/scala/org/hyperledger/identus/castor/core/model/did/PrismDIDSpec.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/iam/authentication/apikey/ApiKeyAuthenticatorImpl.scala
  cloud-agent/service/wallet-api/src/main/scala/org/hyperledger/identus/agent/walletapi/model/KeyManagement.scala
  cloud-agent/service/wallet-api/src/main/scala/org/hyperledger/identus/agent/walletapi/vault/VaultDIDSecretStorage.scala
  cloud-agent/service/wallet-api/src/main/scala/org/hyperledger/identus/agent/walletapi/vault/VaultGenericSecretStorage.scala
  shared/crypto/src/main/scala/org/hyperledger/identus/shared/crypto/Prism14Apollo.scala
  shared/crypto/src/main/scala/org/hyperledger/identus/shared/crypto/Sha256.scala
Labels: build, shared, castor, cloud-agent

#1017 ci: semantic-release upgrade, oasdiff fix
  .github/workflows/oasdiff.yml
  package-lock.json
  package.json
Labels: build, ci

#1019 feat: rename `prism-agent` to `cloud-agent`
  cloud-agent/client/typescript/package.json
  cloud-agent/service/server/src/main/resources/application.conf
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/agent/server/MainApp.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/agent/server/http/DocModels.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/connect/controller/http/ConnectionsPage.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/iam/entity/http/model/EntityResponse.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/iam/entity/http/model/EntityResponsePage.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/issue/controller/http/CreateIssueCredentialRecordRequest.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/issue/controller/http/IssueCredentialRecordPage.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/pollux/credentialdefinition/http/CredentialDefinitionResponse.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/pollux/credentialdefinition/http/CredentialDefinitionResponsePage.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/pollux/credentialschema/http/CredentialSchemaResponse.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/pollux/credentialschema/http/CredentialSchemaResponsePage.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/pollux/credentialschema/http/VerificationPolicyResponse.scala
  docs/docusaurus/connections/connection.md
  docs/docusaurus/credentialdefinition/create.md
  docs/docusaurus/credentials/issue.md
  docs/docusaurus/credentials/present-proof.md
  docs/docusaurus/credentials/revocation.md
  docs/docusaurus/dids/create.md
  docs/docusaurus/dids/deactivate.md
  docs/docusaurus/dids/publish.md
  docs/docusaurus/dids/update.md
  docs/docusaurus/index.md
  docs/docusaurus/multitenancy/admin-authz-ext-iam.md
  docs/docusaurus/multitenancy/tenant-migration.md
  docs/docusaurus/multitenancy/tenant-onboarding-ext-iam.md
  docs/docusaurus/multitenancy/tenant-onboarding-self-service.md
  docs/docusaurus/multitenancy/tenant-onboarding.md
  docs/docusaurus/schemas/create.md
  docs/docusaurus/schemas/update.md
  docs/docusaurus/webhooks/webhook.md
  docs/guides/linting.md
  infrastructure/charts/agent/templates/apisixroute.yaml
  infrastructure/charts/agent/templates/deployment.yaml
  infrastructure/ci/docker-compose-multiple-actors.yml
  infrastructure/local/.env
  infrastructure/local/run-e2e-tests-local.sh
  infrastructure/multi/run-e2e-tests-local.sh
  infrastructure/multi/run-e2e-tests-remote.sh
  infrastructure/shared/apisix/conf/apisix.yaml
  infrastructure/shared/docker-compose-demo.yml
  infrastructure/shared/docker-compose-mt-keycloak.yml
  infrastructure/shared/docker-compose.yml
  infrastructure/single-tenant-testing-stack/apisix/conf/apisix.yaml
  infrastructure/single-tenant-testing-stack/run-e2e-tests-local.sh
  infrastructure/single-tenant-testing-stack/run-performance-tests-local.sh
  tests/performance-tests/agent-performance-tests-k6/.env
  tests/performance-tests/agent-performance-tests-k6/run.sh
  tests/performance-tests/agent-performance-tests-k6/src/common/Config.ts
  tests/performance-tests/agent-performance-tests/README.md
Labels: infra, docs, cloud-agent

#1027 test: add tests for oid4vci credential configuration CRUD
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/model/oid4vci/CredentialConfiguration.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/model/oid4vci/CredentialIssuer.scala
  pollux/core/src/test/scala/org/hyperledger/identus/pollux/core/repository/OID4VCIIssuerMetadataRepositorySpecSuite.scala
  pollux/core/src/test/scala/org/hyperledger/identus/pollux/core/service/OID4VCIIssuerMetadataServiceSpecSuite.scala
  pollux/sql-doobie/src/test/scala/org/hyperledger/identus/pollux/core/service/OID4VCIIssuerMetadataServiceSpec.scala
  pollux/sql-doobie/src/test/scala/org/hyperledger/identus/pollux/sql/repository/JdbcOID4VCIIssuerMetadataRepositorySpec.scala
Labels: pollux, build, infra, shared, mercury, castor, cloud-agent

#1032 fix: broken link for the cloud agent packages in readme file
  README.md
Labels: docs

#1031 ci: fix the publishing of ts client [skip ci]
  .github/workflows/release-clients.yml
  cloud-agent/client/generator/publish-clients.sh
  cloud-agent/client/typescript/package.json
Labels: ci, cloud-agent

#1036 chore: update OID4VCI example script to use issuer metadata
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/oid4vci/CredentialIssuerEndpoints.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/oid4vci/CredentialIssuerServerEndpoints.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/oid4vci/controller/CredentialIssuerController.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/oid4vci/service/OIDCCredentialIssuerService.scala
  examples/.nickel/versions.ncl
  examples/mt-keycloak-vault/compose.yaml
  examples/mt-keycloak/compose.yaml
  examples/mt/compose.yaml
  examples/st-multi/compose.yaml
  examples/st-oid4vci/compose.yaml
  examples/st-oid4vci/demo.py
  examples/st-vault/compose.yaml
  examples/st/compose.yaml
Labels: cloud-agent

#1037 ci: switch Scala Steward to make the PRs as the hyperledger-bot
  .github/workflows/scala-steward.yml
  .scala-steward.conf
  README.md
Labels: ci, docs

#1044 test: add tests for the new key types
  castor/src/test/scala/org/hyperledger/identus/castor/core/model/ProtoModelHelperSpec.scala
  castor/src/test/scala/org/hyperledger/identus/castor/core/model/did/DIDSpec.scala
  castor/src/test/scala/org/hyperledger/identus/castor/core/model/did/PrismDIDSpec.scala
  castor/src/test/scala/org/hyperledger/identus/castor/core/model/did/ServiceEndpointSpec.scala
  castor/src/test/scala/org/hyperledger/identus/castor/core/model/did/ServiceTypeSpec.scala
  castor/src/test/scala/org/hyperledger/identus/castor/core/model/did/w3c/W3CModelHelperSpec.scala
  castor/src/test/scala/org/hyperledger/identus/castor/core/service/DIDServiceSpec.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/agent/server/config/AppConfig.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/event/controller/EventController.scala
  cloud-agent/service/server/src/test/scala/org/hyperledger/identus/agent/server/AgentInitializationSpec.scala
  cloud-agent/service/wallet-api/src/main/scala/org/hyperledger/identus/agent/walletapi/sql/JdbcDIDNonSecretStorage.scala
  cloud-agent/service/wallet-api/src/main/scala/org/hyperledger/identus/agent/walletapi/sql/package.scala
  cloud-agent/service/wallet-api/src/main/scala/org/hyperledger/identus/agent/walletapi/storage/DIDNonSecretStorage.scala
  cloud-agent/service/wallet-api/src/main/scala/org/hyperledger/identus/agent/walletapi/util/UpdateManagedDIDActionValidator.scala
  cloud-agent/service/wallet-api/src/test/scala/org/hyperledger/identus/agent/walletapi/service/ManagedDIDServiceSpec.scala
  cloud-agent/service/wallet-api/src/test/scala/org/hyperledger/identus/agent/walletapi/storage/DIDSecretStorageSpec.scala
  cloud-agent/service/wallet-api/src/test/scala/org/hyperledger/identus/agent/walletapi/storage/JdbcWalletNonSecretStorageSpec.scala
  cloud-agent/service/wallet-api/src/test/scala/org/hyperledger/identus/agent/walletapi/util/ManagedDIDTemplateValidatorSpec.scala
  cloud-agent/service/wallet-api/src/test/scala/org/hyperledger/identus/agent/walletapi/util/OperationFactorySpec.scala
  cloud-agent/service/wallet-api/src/test/scala/org/hyperledger/identus/agent/walletapi/util/UpdateManagedDIDActionValidatorSpec.scala
  mercury/models/src/main/scala/org/hyperledger/identus/mercury/model/AttachmentDescriptor.scala
  mercury/protocol-invitation/src/main/scala/org/hyperledger/identus/mercury/protocol/invitation/OutOfBand.scala
  mercury/protocol-invitation/src/main/scala/org/hyperledger/identus/mercury/protocol/invitation/ServiceType.scala
  mercury/protocol-outofband-login/src/main/scala/org/hyperledger/identus/mercury/protocol/outofbandlogin/Utils.scala
  mercury/protocol-present-proof/src/test/scala/org/hyperledger/identus/mercury/protocol/presentproof/PresentationSpec.scala
  shared/core/src/main/scala/org/hyperledger/identus/shared/db/TransactorLayer.scala
  shared/crypto/src/main/scala/org/hyperledger/identus/shared/crypto/Apollo.scala
  shared/crypto/src/test/scala/org/hyperledger/identus/shared/crypto/ApolloSpecHelper.scala
Labels: shared, mercury, castor, cloud-agent

#1041 perf: update ts client in the performance tests, cleanup `println`
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/presentproof/controller/http/PresentationStatus.scala
  cloud-agent/service/server/src/test/scala/org/hyperledger/identus/pollux/credentialdefinition/CredentialDefinitionLookupAndPaginationSpec.scala
  tests/performance-tests/agent-performance-tests-k6/.env
  tests/performance-tests/agent-performance-tests-k6/package.json
  tests/performance-tests/agent-performance-tests-k6/yarn.lock
Labels: mercury, cloud-agent

#1063 fix: rename the folder to identus for vc-jwt
  pollux/vc-jwt/src/main/scala/org/hyperledger/identus/pollux/vc/jwt/DidJWT.scala
  pollux/vc-jwt/src/main/scala/org/hyperledger/identus/pollux/vc/jwt/DidResolver.scala
  pollux/vc-jwt/src/main/scala/org/hyperledger/identus/pollux/vc/jwt/InstantDecoderEncoder.scala
  pollux/vc-jwt/src/main/scala/org/hyperledger/identus/pollux/vc/jwt/JWTVerification.scala
  pollux/vc-jwt/src/main/scala/org/hyperledger/identus/pollux/vc/jwt/MultiBaseString.scala
  pollux/vc-jwt/src/main/scala/org/hyperledger/identus/pollux/vc/jwt/MultiKey.scala
  pollux/vc-jwt/src/main/scala/org/hyperledger/identus/pollux/vc/jwt/Proof.scala
  pollux/vc-jwt/src/main/scala/org/hyperledger/identus/pollux/vc/jwt/ValidationUtils.scala
  pollux/vc-jwt/src/main/scala/org/hyperledger/identus/pollux/vc/jwt/Verifiable.scala
  pollux/vc-jwt/src/main/scala/org/hyperledger/identus/pollux/vc/jwt/VerifiableCredentialPayload.scala
  pollux/vc-jwt/src/main/scala/org/hyperledger/identus/pollux/vc/jwt/VerifiablePresentationPayload.scala
  pollux/vc-jwt/src/main/scala/org/hyperledger/identus/pollux/vc/jwt/revocation/BitString.scala
  pollux/vc-jwt/src/main/scala/org/hyperledger/identus/pollux/vc/jwt/revocation/VCStatusList2021.scala
  pollux/vc-jwt/src/main/scala/org/hyperledger/identus/pollux/vc/jwt/schema/PlaceholderSchemaValidator.scala
  pollux/vc-jwt/src/main/scala/org/hyperledger/identus/pollux/vc/jwt/schema/ReactiveCoreSchemaValidator.scala
  pollux/vc-jwt/src/main/scala/org/hyperledger/identus/pollux/vc/jwt/schema/SchemaResolver.scala
  pollux/vc-jwt/src/main/scala/org/hyperledger/identus/pollux/vc/jwt/schema/SchemaValidator.scala
  pollux/vc-jwt/src/test/scala/org/hyperledger/identus/pollux/vc/jwt/ECDSAVerifierTest.scala
  pollux/vc-jwt/src/test/scala/org/hyperledger/identus/pollux/vc/jwt/ES256KSignerTest.scala
  pollux/vc-jwt/src/test/scala/org/hyperledger/identus/pollux/vc/jwt/JWTVerificationTest.scala
  pollux/vc-jwt/src/test/scala/org/hyperledger/identus/pollux/vc/jwt/revocation/BitStringSpec.scala
  pollux/vc-jwt/src/test/scala/org/hyperledger/identus/pollux/vc/jwt/revocation/VCStatusList2021Spec.scala
Labels: pollux

#1066 fix: expose new key types in rest api
  castor/src/main/scala/org/hyperledger/identus/castor/core/model/error/package.scala
  castor/src/main/scala/org/hyperledger/identus/castor/core/util/DIDOperationValidator.scala
  castor/src/test/scala/org/hyperledger/identus/castor/core/util/DIDOperationValidatorSpec.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/controller/http/ManagedDID.scala
  pollux/vc-jwt/src/main/scala/org/hyperledger/identus/pollux/vc/jwt/DidJWT.scala
Labels: pollux, castor, cloud-agent

#1053 docs: rename ADRs in the scope of rebranding to the Identus ATL-7050
  docs/decisions/20221005-using-tapir-library-as-a-dsl-for-openapi-specification.md
  docs/decisions/20221006-store-private-keys-of-issuers-inside-prism-agent.md
  docs/decisions/20230118-quill-library-for-sql-statement-generation.md
  docs/decisions/20230405-did-linked-resources.md
  docs/decisions/20230509-message-routing-for-multi-tenant.md
  docs/decisions/20230515-mediator-message-storage.md
  docs/decisions/20230516-hierarchical-deterministic-key-generation-algorithm.md
  docs/decisions/20230518-data-isolation-for-multitenancy.md
  docs/decisions/20230527-use-keycloak-and-jwt-tokens-for-authentication-and-authorisation-to-facilitate-multitenancy-in-cloud-agent.md
  docs/decisions/20230628-apollo-as-centralised-and-secure-cryptography-management-module.md
  docs/decisions/20230714-performance-framework-for-atala-prism.md
  docs/decisions/20230928-revocation-status-list-expansion-strategy.md
  docs/decisions/20240103-use-jwt-claims-for-agent-admin-auth.md
  docs/decisions/20240116-use-zio-failures-and-defects-effectively.md
  docs/decisions/index.md
  docs/general/interdependencies.md
  docs/general/key-derivation-benchmark.md
  docs/general/repositories_relationships.md
Labels: docs

#1057 ci: fix scala steward DCO signature
  .github/workflows/integration-tests.yml
  .github/workflows/scala-steward.yml
Labels: ci, docs

#1071 test: add DID Registrar test scenario to use new key types
  infrastructure/local/.env
  tests/integration-tests/build.gradle.kts
  tests/integration-tests/src/test/kotlin/common/TestConstants.kt
  tests/integration-tests/src/test/kotlin/steps/common/CommonSteps.kt
  tests/integration-tests/src/test/kotlin/steps/did/ManageDidSteps.kt
  tests/integration-tests/src/test/kotlin/steps/did/PublishDidSteps.kt
  tests/integration-tests/src/test/kotlin/steps/did/UpdateDidSteps.kt
  tests/integration-tests/src/test/resources/features/did/create_did.feature
Labels: infra

#1080 ci: use branch name in pre-release version name
  package.json
Labels: build

#1084 docs: add identus logo to README.md [skip ci]
  README.md
  docs/images/logos/atala-prism-logo.png
  docs/images/logos/atala-prism-logo.svg
  docs/images/logos/identus-logo.png
  docs/images/logos/identus-logo.svg
  infrastructure/single-tenant-testing-stack/.env
  tests/integration-tests/README.md
  tests/integration-tests/src/test/kotlin/config/services/Agent.kt
  tests/integration-tests/src/test/resources/containers/agent.yml
  tests/performance-tests/agent-performance-tests-k6/.env
Labels: infra, docs

#1085 docs: update new key types in DID tutorials [skip ci]
  .github/workflows/integration-tests.yml
  .github/workflows/performance-tests.yml
  .github/workflows/unit-tests.yml
  docs/docusaurus/dids/create.md
  docs/docusaurus/dids/update.md
Labels: ci, docs

#1087 docs: Add ADR for resources storage
  docs/decisions/20240520-use-did-urls-to-reference-resources.md
Labels: docs

#1091 chore: fix slack notification message tag
  package.json
Labels: build

#1093 docs: update the architecture diagram and typos in ADRs [skip ci]
  .github/workflows/lint.yml
  README.md
  docs/decisions/20221006-store-private-keys-of-issuers-inside-prism-agent.md
  docs/decisions/20230515-mediator-message-storage.md
  docs/decisions/20230527-use-keycloak-and-jwt-tokens-for-authentication-and-authorisation-to-facilitate-multitenancy-in-cloud-agent.md
  docs/decisions/20230628-apollo-as-centralised-and-secure-cryptography-management-module.md
  docs/decisions/20230926-use-keycloak-authorisation-service-for-managing-wallet-permissions.md
  docs/decisions/20230928-revocation-status-list-expansion-strategy.md
  docs/decisions/20240115-Error-handling-report-problem-agent.md
  docs/images/cloud-agent-architecture-dark.png
  docs/images/cloud-agent-architecture-light.png
  docs/images/identus-architecture-dark.png
  docs/images/identus-architecture-light.png
  docs/images/identus-cloud-agent-architecture-dark.png
  docs/images/identus-cloud-agent-architecture-light.png
Labels: ci, docs

#1095 ci: fail the build when the megalinter found the issues [skip ci]
  .github/workflows/lint.yml
Labels: ci

#1096 docs: update website link to Identus
  README.md
Labels: docs

#1104 feat: Rename helm chart and its resources
  infrastructure/charts/agent/Chart.yaml
  infrastructure/charts/agent/templates/_helpers.tpl
  infrastructure/charts/agent/templates/apisixroute.yaml
  infrastructure/charts/agent/templates/apisixtls.yaml
  infrastructure/charts/agent/templates/certificate.yaml
  infrastructure/charts/agent/templates/configmap.yaml
  infrastructure/charts/agent/templates/deployment.yaml
  infrastructure/charts/agent/templates/postgresql.yaml
  infrastructure/charts/agent/templates/service.yaml
  infrastructure/charts/agent/values.yaml
Labels: infra

#1105 fix: integrate issuer metadata in oid4vci credential endpoint
  .mega-linter.yml
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/oid4vci/CredentialIssuerEndpoints.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/oid4vci/CredentialIssuerServerEndpoints.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/oid4vci/controller/CredentialIssuerController.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/oid4vci/domain/IssuanceSession.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/oid4vci/http/CredentialOfferRequest.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/oid4vci/http/IssuerMetadata.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/oid4vci/service/OIDCCredentialIssuerService.scala
  examples/.nickel/versions.ncl
  examples/mt-keycloak-vault/compose.yaml
  examples/mt-keycloak/compose.yaml
  examples/mt/compose.yaml
  examples/st-multi/compose.yaml
  examples/st-oid4vci/compose.yaml
  examples/st-oid4vci/demo.py
  examples/st-vault/compose.yaml
  examples/st/compose.yaml
Labels: cloud-agent

#1016 feat: integrate SD JWT
  .github/workflows/integration-tests.yml
  .github/workflows/performance-tests.yml
  build.sbt
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/agent/server/jobs/BackgroundJobsHelper.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/agent/server/jobs/IssueBackgroundJobs.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/agent/server/jobs/PresentBackgroundJobs.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/issue/controller/IssueControllerImpl.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/presentproof/controller/PresentProofControllerImpl.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/presentproof/controller/http/RequestPresentationAction.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/presentproof/controller/http/RequestPresentationInput.scala
  cloud-agent/service/server/src/test/scala/org/hyperledger/identus/issue/controller/IssueControllerImplSpec.scala
  mercury/protocol-issue-credential/src/main/scala/org/hyperledger/identus/mercury/protocol/issuecredential/IssueFormats.scala
  mercury/protocol-present-proof/src/main/scala/org/hyperledger/identus/mercury/protocol/presentproof/PresentFormats.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/model/CredentialFormat.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/model/IssueCredentialRecord.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/model/PresentationRecord.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/model/error/PresentationError.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/model/presentation/SdJwtPresentationPayload.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/repository/PresentationRepository.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/repository/PresentationRepositoryInMemory.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/CredentialService.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/CredentialServiceImpl.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/CredentialServiceNotifier.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/MockCredentialService.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/MockPresentationService.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/PresentationService.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/PresentationServiceImpl.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/PresentationServiceNotifier.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/serdes/SDJwtPresentationRequest.scala
  pollux/core/src/test/scala/org/hyperledger/identus/pollux/core/repository/PresentationRepositorySpecSuite.scala
  pollux/core/src/test/scala/org/hyperledger/identus/pollux/core/service/PresentationServiceNotifierSpec.scala
  pollux/sd-jwt/src/main/scala/org/hyperledger/identus/pollux/sdjwt/CrytoUtils.scala
  pollux/sd-jwt/src/main/scala/org/hyperledger/identus/pollux/sdjwt/Models.scala
  pollux/sd-jwt/src/main/scala/org/hyperledger/identus/pollux/sdjwt/ModelsExtensionMethods.scala
  pollux/sd-jwt/src/main/scala/org/hyperledger/identus/pollux/sdjwt/QueryUtils.scala
  pollux/sd-jwt/src/main/scala/org/hyperledger/identus/pollux/sdjwt/SDJWT.scala
  pollux/sd-jwt/src/test/scala/org/hyperledger/identus/pollux/sdjwt/SDJWTSpec.scala
  pollux/sd-jwt/src/test/scala/org/hyperledger/identus/pollux/sdjwt/ValidClaimsSpec.scala
  pollux/sql-doobie/src/main/resources/sql/pollux/V20__add_anoncred_credentials_to_use_columns.sql
  pollux/sql-doobie/src/main/scala/org/hyperledger/identus/pollux/sql/repository/JdbcPresentationRepository.scala
  pollux/vc-jwt/src/main/scala/org/hyperledger/identus/pollux/vc/jwt/DidJWT.scala
  pollux/vc-jwt/src/main/scala/org/hyperledger/identus/pollux/vc/jwt/JWTVerification.scala
  pollux/vc-jwt/src/main/scala/org/hyperledger/identus/pollux/vc/jwt/Proof.scala
  pollux/vc-jwt/src/main/scala/org/hyperledger/identus/pollux/vc/jwt/VerifiableCredentialPayload.scala
  shared/core/src/main/scala/org/hyperledger/identus/shared/utils/Json.scala
  shared/crypto/src/main/scala/org/hyperledger/identus/shared/crypto/Apollo.scala
  shared/crypto/src/main/scala/org/hyperledger/identus/shared/crypto/KmpApollo.scala
Labels: pollux, build, ci, shared, mercury, cloud-agent

#1116 feat(agent): ATL-6839 migrate DIDComm endpoint to tapir
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/agent/server/CloudAgentApp.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/agent/server/DidCommHttpServer.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/agent/server/MainApp.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/agent/server/http/ZHttp4sBlazeServer.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/api/http/ErrorResponse.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/didcomm/controller/DIDCommController.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/didcomm/controller/DIDCommControllerError.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/didcomm/controller/DIDCommControllerImpl.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/didcomm/controller/DIDCommEndpoints.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/didcomm/controller/DIDCommServerEndpoints.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/didcomm/controller/http/DIDCommMessage.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/didcomm/controller/http/Header.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/didcomm/controller/http/Recipient.scala
  connect/core/src/main/scala/org/hyperledger/identus/connect/core/model/error/ConnectionServiceError.scala
  mercury/models/src/main/scala/org/hyperledger/identus/mercury/model/error/package.scala
  shared/core/src/main/scala/org/hyperledger/identus/shared/models/Failure.scala
Labels: shared, mercury, connect, cloud-agent

#1118 fix: VC Verification API Doc
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/verification/controller/VcVerificationEndpoints.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/verification/controller/http/ParameterizableVcVerification.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/verification/controller/http/VcVerification.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/verification/controller/http/VcVerificationParameter.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/verification/controller/http/VcVerificationRequest.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/verification/controller/http/VcVerificationResponse.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/verification/controller/http/VcVerificationResult.scala
Labels: cloud-agent

#1124 fix: SemanticCheckOfClaims In Verification API
  cloud-agent/service/server/src/test/scala/org/hyperledger/identus/verification/controller/VcVerificationControllerImplSpec.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/verification/VcVerificationServiceImpl.scala
Labels: pollux, cloud-agent

#1123 ci: revert switch to the GitHub runners
  .github/workflows/deployment.yml
  .github/workflows/ff-merge.yml
  .github/workflows/labeler.yml
  .github/workflows/unit-tests.yml
Labels: ci

#1117 fix: update the jose dependency and switch back to the official library
  build.sbt
  cloud-agent/service/server/src/main/resources/application.conf
  cloud-agent/service/server/src/main/resources/logback.xml
Labels: build, cloud-agent
