Repository hyperledger-identus/cloud-agent, pull requests merged in 2024-10, with the labels that each got.

#1388 fix: adjust Kotlin and TypeScript HTTP client to use the `schemaId` f…
  .github/workflows/lint.yml
  .mega-linter.yml
  cloud-agent/client/generator/openapitools.json
  cloud-agent/client/generator/package.json
  cloud-agent/client/generator/yarn.lock
  cloud-agent/client/kotlin/.openapi-generator-ignore
  cloud-agent/client/kotlin/gradle/wrapper/gradle-wrapper.jar
  cloud-agent/client/kotlin/gradle/wrapper/gradle-wrapper.properties
  cloud-agent/client/kotlin/gradlew
  cloud-agent/client/kotlin/gradlew.bat
  cloud-agent/client/kotlin/settings.gradle
  cloud-agent/client/kotlin/src/main/kotlin/org/hyperledger/identus/client/adapters/StringOrStringArrayAdapter.kt
  cloud-agent/client/kotlin/src/main/kotlin/org/hyperledger/identus/client/models/CreateIssueCredentialRecordRequest.kt
  cloud-agent/client/kotlin/src/main/kotlin/org/hyperledger/identus/client/models/Service.kt
  cloud-agent/client/typescript/.openapi-generator-ignore
  cloud-agent/client/typescript/models/CreateIssueCredentialRecordRequest.ts
  tests/integration-tests/build.gradle.kts
  tests/integration-tests/src/test/kotlin/steps/credentials/JwtCredentialSteps.kt
  tests/performance-tests/agent-performance-tests-k6/.env
  tests/performance-tests/agent-performance-tests-k6/package.json
  tests/performance-tests/agent-performance-tests-k6/yarn.lock
Labels: ci, cloud-agent

#1339 feat: ATL-6983 ZIO Stream Kafka PoC in background jobs
  build.sbt
  cloud-agent/service/server/src/main/resources/application.conf
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/agent/server/CloudAgentApp.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/agent/server/MainApp.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/agent/server/config/AppConfig.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/agent/server/http/CustomServerInterceptors.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/agent/server/http/ZHttp4sBlazeServer.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/agent/server/jobs/BackgroundJobsHelper.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/agent/server/jobs/ConnectBackgroundJobs.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/agent/server/jobs/DIDStateSyncBackgroundJobs.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/agent/server/jobs/IssueBackgroundJobs.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/agent/server/jobs/PresentBackgroundJobs.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/agent/server/jobs/StatusListJobs.scala
  cloud-agent/service/server/src/test/scala/org/hyperledger/identus/issue/controller/IssueControllerTestTools.scala
  cloud-agent/service/server/src/test/scala/org/hyperledger/identus/oid4vci/domain/OIDCCredentialIssuerServiceSpec.scala
  cloud-agent/service/server/src/test/scala/org/hyperledger/identus/pollux/credentialdefinition/CredentialDefinitionTestTools.scala
  cloud-agent/service/server/src/test/scala/org/hyperledger/identus/pollux/schema/CredentialSchemaTestTools.scala
  cloud-agent/service/server/src/test/scala/org/hyperledger/identus/system/controller/SystemControllerTestTools.scala
  cloud-agent/service/server/src/test/scala/org/hyperledger/identus/verification/controller/VcVerificationControllerTestTools.scala
  cloud-agent/service/wallet-api/src/main/resources/sql/agent/V15__add_did_index_table.sql
  cloud-agent/service/wallet-api/src/main/scala/org/hyperledger/identus/agent/walletapi/service/ManagedDIDServiceImpl.scala
  cloud-agent/service/wallet-api/src/main/scala/org/hyperledger/identus/agent/walletapi/service/ManagedDIDServiceWithEventNotificationImpl.scala
  cloud-agent/service/wallet-api/src/main/scala/org/hyperledger/identus/agent/walletapi/service/handler/DIDCreateHandler.scala
  cloud-agent/service/wallet-api/src/main/scala/org/hyperledger/identus/agent/walletapi/sql/JdbcDIDNonSecretStorage.scala
  cloud-agent/service/wallet-api/src/main/scala/org/hyperledger/identus/agent/walletapi/storage/DIDNonSecretStorage.scala
  cloud-agent/service/wallet-api/src/test/scala/org/hyperledger/identus/agent/walletapi/storage/MockDIDNonSecretStorage.scala
  connect/core/src/main/scala/org/hyperledger/identus/connect/core/model/WalletIdAndRecordId.scala
  connect/core/src/main/scala/org/hyperledger/identus/connect/core/service/ConnectionServiceImpl.scala
  connect/core/src/test/scala/org/hyperledger/identus/connect/core/service/ConnectionServiceImplSpec.scala
  connect/core/src/test/scala/org/hyperledger/identus/connect/core/service/ConnectionServiceNotifierSpec.scala
  event-notification/src/test/scala/org/hyperledger/identus/messaging/MessagingServiceTest.scala
  event-notification/src/test/scala/org/hyperledger/identus/messaging/kafka/InMemoryMessagingServiceSpec.scala
  infrastructure/shared/docker-compose-with-kafka.yml
  infrastructure/shared/nginx/nginx.conf
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/model/DidCommID.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/repository/CredentialStatusListRepository.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/CredentialServiceImpl.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/CredentialStatusListService.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/CredentialStatusListServiceImpl.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/PresentationService.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/PresentationServiceImpl.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/PresentationServiceNotifier.scala
  pollux/core/src/test/scala/org/hyperledger/identus/pollux/core/repository/CredentialStatusListRepositoryInMemory.scala
  pollux/core/src/test/scala/org/hyperledger/identus/pollux/core/service/CredentialServiceSpecHelper.scala
  pollux/core/src/test/scala/org/hyperledger/identus/pollux/core/service/MockPresentationService.scala
  pollux/core/src/test/scala/org/hyperledger/identus/pollux/core/service/PresentationServiceSpecHelper.scala
  pollux/sql-doobie/src/main/scala/org/hyperledger/identus/pollux/sql/repository/JdbcCredentialStatusListRepository.scala
  pollux/sql-doobie/src/main/scala/org/hyperledger/identus/pollux/sql/repository/JdbcPresentationRepository.scala
  shared/core/src/main/scala/org/hyperledger/identus/shared/messaging/MessagingService.scala
  shared/core/src/main/scala/org/hyperledger/identus/shared/messaging/MessagingServiceConfig.scala
  shared/core/src/main/scala/org/hyperledger/identus/shared/messaging/Serde.scala
  shared/core/src/main/scala/org/hyperledger/identus/shared/messaging/WalletIdAndRecordId.scala
  shared/core/src/main/scala/org/hyperledger/identus/shared/messaging/kafka/InMemoryMessagingService.scala
  shared/core/src/main/scala/org/hyperledger/identus/shared/messaging/kafka/ZKafkaMessagingServiceImpl.scala
  tests/integration-tests/src/test/resources/containers/agent.yml
Labels: pollux, build, infra, shared, connect, cloud-agent

#1399 fix: handle unsupported PIURI found in DIDComm messages accordingly
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/didcomm/controller/DIDCommControllerError.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/didcomm/controller/DIDCommControllerImpl.scala
Labels: cloud-agent

#1403 fix: Add key_id missing field
  pollux/sql-doobie/src/main/scala/org/hyperledger/identus/pollux/sql/repository/JdbcCredentialRepository.scala
Labels: pollux

#1400 build: add job Update Dependency Graph
  .github/sbt-dependency-submission.yml
  project/plugins.sbt
Labels: build, ci

#1415 build: fix Github action sbt-dependency-submission location
  .github/workflows/sbt-dependency-submission.yml
Labels: ci

#1418 test: Add test connectionless verification
  tests/integration-tests/src/test/kotlin/steps/connectionless/ConnectionLessSteps.kt
  tests/integration-tests/src/test/resources/features/credential/jwt/present_proof.feature
  tests/integration-tests/src/test/resources/features/credential/sdjwt/present_proof.feature
Labels: pollux

#1417 chore: upgrade to latest Tapir version
  build.sbt
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/agent/notification/WebhookPublisher.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/agent/server/MainApp.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/agent/server/http/CustomServerInterceptors.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/agent/server/http/ZHttp4sBlazeServer.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/system/controller/SystemControllerImpl.scala
  cloud-agent/service/server/src/test/scala/org/hyperledger/identus/system/controller/SystemControllerTestTools.scala
Labels: build, cloud-agent

#1420 fix: key id for jwt and sdjwt
  castor/src/test/scala/org/hyperledger/identus/castor/core/service/MockDIDService.scala
  cloud-agent/service/server/src/test/scala/org/hyperledger/identus/oid4vci/domain/OIDCCredentialIssuerServiceSpec.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/model/error/CredentialServiceError.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/CredentialServiceImpl.scala
  pollux/core/src/test/scala/org/hyperledger/identus/pollux/core/repository/CredentialRepositoryInMemory.scala
  pollux/core/src/test/scala/org/hyperledger/identus/pollux/core/service/CredentialServiceImplSpec.scala
  pollux/core/src/test/scala/org/hyperledger/identus/pollux/core/service/CredentialServiceSpecHelper.scala
  tests/integration-tests/src/test/kotlin/common/DidPurpose.kt
  tests/integration-tests/src/test/kotlin/steps/connectionless/ConnectionLessSteps.kt
  tests/integration-tests/src/test/kotlin/steps/credentials/JwtCredentialSteps.kt
  tests/integration-tests/src/test/kotlin/steps/did/PublishDidSteps.kt
  tests/integration-tests/src/test/resources/features/credential/jwt/issuance.feature
  tests/integration-tests/src/test/resources/features/oid4vci/issue_jwt.feature
  tests/integration-tests/src/test/resources/features/oid4vci/manage_credential_config.feature
Labels: pollux, build, shared, castor, cloud-agent

#1416 build: add permissions for the dependency-submission
  .github/workflows/sbt-dependency-submission.yml
Labels: ci
