Repository hyperledger-identus/cloud-agent, pull requests merged in 2024-06, with the labels that each got.

#1129 fix: Changing .chart.name reference, adding name override
  infrastructure/charts/agent/templates/_helpers.tpl
  infrastructure/charts/agent/templates/apisixroute.yaml
  infrastructure/charts/agent/templates/apisixtls.yaml
  infrastructure/charts/agent/templates/certificate.yaml
  infrastructure/charts/agent/templates/configmap.yaml
  infrastructure/charts/agent/templates/deployment.yaml
  infrastructure/charts/agent/templates/postgresql.yaml
  infrastructure/charts/agent/templates/service.yaml
  infrastructure/charts/agent/values.yaml
Labels: infra

#1128 docs(agent): Regenerate PNG images from updated PUML files
  docs/docusaurus/connections/connection-flow.png
  docs/docusaurus/credentials/anoncreds-issue-flow.png
  docs/docusaurus/credentials/anoncreds-present-proof-flow.png
  docs/docusaurus/credentials/anoncreds-setup.png
  docs/docusaurus/credentials/issue-flow.png
  docs/docusaurus/credentials/present-proof-flow.png
Labels: docs

#1132 fix: Add expiration time for cloud-agent
  cloud-agent/service/server/src/main/resources/application.conf
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/agent/server/config/AppConfig.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/agent/server/jobs/IssueBackgroundJobs.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/CredentialService.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/CredentialServiceImpl.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/CredentialServiceNotifier.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/MockCredentialService.scala
  pollux/vc-jwt/src/main/scala/org/hyperledger/identus/pollux/vc/jwt/DidJWT.scala
Labels: pollux, cloud-agent

#1143 fix: Chart refactor
  infrastructure/charts/agent/templates/_helpers.tpl
Labels: infra

#1142 ci: add custom DCO check action [skip ci]
  .github/workflows/dco.yaml
Labels: ci

#1138 fix: Schema Error Handling
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/pollux/credentialschema/SchemaRegistryServerEndpoints.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/pollux/credentialschema/controller/CredentialSchemaController.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/pollux/credentialschema/controller/CredentialSchemaControllerImpl.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/pollux/credentialschema/controller/CredentialSchemaControllerLogic.scala
  cloud-agent/service/server/src/test/scala/org/hyperledger/identus/pollux/schema/CredentialSchemaAnoncredSpec.scala
  cloud-agent/service/server/src/test/scala/org/hyperledger/identus/pollux/schema/CredentialSchemaMultiTenancySpec.scala
  cloud-agent/service/server/src/test/scala/org/hyperledger/identus/pollux/schema/CredentialSchemaTestTools.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/model/schema/CredentialDefinition.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/model/schema/CredentialSchema.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/repository/CredentialDefinitionRepositoryInMemory.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/repository/CredentialSchemaRepository.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/repository/repository.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/CredentialDefinitionServiceImpl.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/CredentialSchemaService.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/CredentialSchemaServiceImpl.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/verification/CredentialSchemaServiceError.scala
  pollux/sql-doobie/src/main/scala/org/hyperledger/identus/pollux/sql/repository/JdbcCredentialDefinitionRepository.scala
  pollux/sql-doobie/src/main/scala/org/hyperledger/identus/pollux/sql/repository/JdbcCredentialSchemaRepository.scala
Labels: pollux, cloud-agent

#1147 ci: revert custom DCO check action [skip ci]
  .github/workflows/dco.yaml
Labels: ci

#1135 style: remove unused imports
  cloud-agent/service/server/src/test/scala/org/hyperledger/identus/pollux/credentialdefinition/CredentialDefinitionLookupAndPaginationSpec.scala
  cloud-agent/service/server/src/test/scala/org/hyperledger/identus/pollux/schema/CredentialSchemaLookupAndPaginationSpec.scala
  cloud-agent/service/wallet-api/src/main/scala/org/hyperledger/identus/agent/walletapi/util/OperationFactory.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/model/presentation/SdJwtPresentationPayload.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/CredentialServiceImpl.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/MockPresentationService.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/PresentationService.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/PresentationServiceNotifier.scala
  pollux/sd-jwt/src/test/scala/org/hyperledger/identus/pollux/sdjwt/SDJWTSpec.scala
  pollux/vc-jwt/src/main/scala/org/hyperledger/identus/pollux/vc/jwt/JWTVerification.scala
Labels: pollux, cloud-agent

#1148 feat: authentication for oid4vci credential and nonce endpoint
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/agent/server/MainApp.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/iam/authentication/Authenticator.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/iam/authentication/Oid4vciAuthenticator.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/iam/authentication/oidc/KeycloakAuthenticator.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/iam/authentication/oidc/KeycloakAuthenticatorImpl.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/iam/authentication/oidc/KeycloakClient.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/iam/authentication/oidc/Oauth2TokenIntrospector.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/oid4vci/CredentialIssuerEndpoints.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/oid4vci/CredentialIssuerServerEndpoints.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/oid4vci/controller/CredentialIssuerController.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/oid4vci/domain/IssuanceSession.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/oid4vci/http/CredentialErrorResponse.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/oid4vci/http/CredentialIssuer.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/oid4vci/http/CredentialRequest.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/oid4vci/service/OIDCCredentialIssuerService.scala
  cloud-agent/service/server/src/test/scala/org/hyperledger/identus/api/util/Tapir2StaticOAS.scala
  cloud-agent/service/wallet-api/src/main/scala/org/hyperledger/identus/agent/walletapi/model/Entity.scala
  examples/.nickel/stack.ncl
  examples/mt-keycloak-vault/compose.yaml
  examples/mt-keycloak/compose.yaml
  examples/mt/compose.yaml
  examples/st-multi/compose.yaml
  examples/st-oid4vci/bootstrap/01_init_realm.hurl
  examples/st-oid4vci/compose.yaml
  examples/st-oid4vci/demo.py
  examples/st-vault/compose.yaml
  examples/st/compose.yaml
  extensions/keycloak-oid4vci/src/main/java/io/iohk/atala/keycloak/IdentusClient.java
  extensions/keycloak-oid4vci/src/main/java/io/iohk/atala/keycloak/OID4VCITokenEndpoint.java
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/model/oid4vci/CredentialIssuer.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/OID4VCIIssuerMetadataService.scala
  pollux/core/src/test/scala/org/hyperledger/identus/pollux/core/repository/OID4VCIIssuerMetadataRepositorySpecSuite.scala
  pollux/core/src/test/scala/org/hyperledger/identus/pollux/core/service/OID4VCIIssuerMetadataServiceSpecSuite.scala
  pollux/sql-doobie/src/main/resources/sql/pollux/V21__add_issuer_metadata.sql
  pollux/sql-doobie/src/main/scala/org/hyperledger/identus/pollux/sql/repository/JdbcOID4VCIIssuerMetadataRepository.scala
Labels: pollux, cloud-agent

#1149 docs: updating the hdkey ADR [skip ci]
  docs/decisions/20230516-hierarchical-deterministic-key-generation-algorithm.md
Labels: docs

#1155 fix: Credential Defintion Error Handling Part 2
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/pollux/credentialdefinition/controller/CredentialDefinitionController.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/pollux/credentialdefinition/controller/CredentialDefinitionControllerImpl.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/pollux/credentialschema/controller/CredentialSchemaController.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/pollux/credentialschema/controller/CredentialSchemaControllerImpl.scala
  cloud-agent/service/server/src/test/scala/org/hyperledger/identus/pollux/credentialdefinition/CredentialDefinitionTestTools.scala
  cloud-agent/service/server/src/test/scala/org/hyperledger/identus/pollux/schema/CredentialSchemaAnoncredSpec.scala
  cloud-agent/service/server/src/test/scala/org/hyperledger/identus/pollux/schema/CredentialSchemaMultiTenancySpec.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/repository/CredentialDefinitionRepository.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/repository/CredentialDefinitionRepositoryInMemory.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/CredentialDefinitionService.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/CredentialDefinitionServiceError.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/CredentialDefinitionServiceImpl.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/CredentialSchemaService.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/CredentialSchemaServiceError.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/CredentialSchemaServiceImpl.scala
  pollux/sql-doobie/src/main/scala/org/hyperledger/identus/pollux/sql/repository/JdbcCredentialDefinitionRepository.scala
Labels: pollux, cloud-agent

#1156 fix: Credential Defintion Error Handling Part 2
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/pollux/credentialdefinition/controller/CredentialDefinitionController.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/pollux/credentialdefinition/controller/CredentialDefinitionControllerImpl.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/pollux/credentialschema/controller/CredentialSchemaController.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/pollux/credentialschema/controller/CredentialSchemaControllerImpl.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/CredentialDefinitionService.scala
Labels: pollux, cloud-agent

#1140 feat: Remove double Error logs in DIDController
  castor/src/main/scala/org/hyperledger/identus/castor/core/model/did/w3c/package.scala
  castor/src/main/scala/org/hyperledger/identus/castor/core/model/error/package.scala
  castor/src/main/scala/org/hyperledger/identus/castor/core/service/DIDService.scala
Labels: castor

#1154 fix: update issuer auth server model parity
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/oid4vci/controller/CredentialIssuerController.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/oid4vci/http/CredentialIssuer.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/repository/OID4VCIIssuerMetadataRepository.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/OID4VCIIssuerMetadataService.scala
  pollux/core/src/test/scala/org/hyperledger/identus/pollux/core/repository/OID4VCIIssuerMetadataRepositorySpecSuite.scala
  pollux/sql-doobie/src/main/scala/org/hyperledger/identus/pollux/sql/repository/JdbcOID4VCIIssuerMetadataRepository.scala
Labels: pollux, cloud-agent

#1157 fix: pick right key type when creating corresponding issuer
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/agent/server/jobs/BackgroundJobsHelper.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/CredentialServiceImpl.scala
Labels: pollux, cloud-agent

#1158 fix: Update the Holder to send the presentation only, No claims to disclose is needed separately
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/agent/server/jobs/PresentBackgroundJobs.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/MockPresentationService.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/PresentationService.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/PresentationServiceImpl.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/PresentationServiceNotifier.scala
  pollux/sd-jwt/src/main/scala/org/hyperledger/identus/pollux/sdjwt/SDJWT.scala
  pollux/sd-jwt/src/test/scala/org/hyperledger/identus/pollux/sdjwt/SDJWTSpec.scala
Labels: pollux, cloud-agent

#1160 fix: Helm chart refactor
  infrastructure/charts/agent/templates/_helpers.tpl
  infrastructure/charts/agent/templates/apisixconsumer.yaml
  infrastructure/charts/agent/templates/apisixroute.yaml
  infrastructure/charts/agent/templates/apisixtls.yaml
  infrastructure/charts/agent/templates/certificate.yaml
  infrastructure/charts/agent/templates/configmap.yaml
  infrastructure/charts/agent/templates/deployment.yaml
  infrastructure/charts/agent/templates/externalsecret.yaml
  infrastructure/charts/agent/templates/postgresql.yaml
  infrastructure/charts/agent/templates/service.yaml
  infrastructure/charts/agent/templates/stringsecret-agent-admin-token.yaml
  infrastructure/charts/agent/templates/stringsecret-agent-api-key-salt.yaml
  infrastructure/charts/agent/templates/stringsecret-agent-keycloak-secret.yaml
  infrastructure/charts/agent/templates/stringsecret-agent-wallet-seed.yaml
  infrastructure/charts/agent/templates/stringsecret.yaml
  infrastructure/charts/agent/templates/vault-unseal.yaml
Labels: infra

#1162 fix: Helm chart refactor vol2
  infrastructure/charts/agent/templates/apisixroute.yaml
  infrastructure/charts/agent/templates/apisixtls.yaml
  infrastructure/charts/agent/templates/certificate.yaml
  infrastructure/charts/agent/templates/configmap.yaml
  infrastructure/charts/agent/templates/deployment.yaml
  infrastructure/charts/agent/templates/postgresql.yaml
  infrastructure/charts/agent/templates/service.yaml
Labels: infra

#1165 feat(agent): validate JWT proof in the credential request, update dem…
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/oid4vci/controller/CredentialIssuerController.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/oid4vci/domain/Openid4VCIProofJwtOps.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/oid4vci/service/OIDCCredentialIssuerService.scala
  cloud-agent/service/server/src/test/scala/org/hyperledger/identus/oid4vci/domain/OIDCCredentialIssuerServiceSpec.scala
  examples/st-oid4vci/README.md
  examples/st-oid4vci/demo.py
  pollux/vc-jwt/src/main/scala/org/hyperledger/identus/pollux/vc/jwt/DidJWT.scala
  pollux/vc-jwt/src/main/scala/org/hyperledger/identus/pollux/vc/jwt/JWTVerification.scala
Labels: pollux, cloud-agent

#1139 feat: ATL-6834 Use ZIO Failures and Defects effectively in the Issue flow
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/agent/server/http/CustomServerInterceptors.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/agent/server/jobs/IssueBackgroundJobs.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/agent/server/jobs/PresentBackgroundJobs.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/agent/server/jobs/StatusListJobs.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/api/http/ErrorResponse.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/issue/controller/IssueController.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/issue/controller/IssueControllerImpl.scala
  cloud-agent/service/server/src/test/scala/org/hyperledger/identus/issue/controller/IssueControllerSpec.scala
  cloud-agent/service/server/src/test/scala/org/hyperledger/identus/pollux/schema/CredentialSchemaAnoncredSpec.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/model/error/CredentialRepositoryError.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/model/error/CredentialSchemaError.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/model/error/CredentialServiceError.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/model/schema/CredentialSchema.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/repository/CredentialDefinitionRepositoryInMemory.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/repository/CredentialRepository.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/repository/CredentialRepositoryInMemory.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/repository/CredentialStatusListRepository.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/repository/CredentialStatusListRepositoryInMemory.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/CredentialDefinitionServiceError.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/CredentialDefinitionServiceImpl.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/CredentialSchemaServiceError.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/CredentialService.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/CredentialServiceImpl.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/CredentialServiceNotifier.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/CredentialStatusListServiceImpl.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/HttpURIDereferencerImpl.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/LinkSecretService.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/LinkSecretServiceImpl.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/MockCredentialService.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/PresentationServiceImpl.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/URIDereferencer.scala
  pollux/core/src/test/scala/org/hyperledger/identus/pollux/core/model/schema/CredentialSchemaSpec.scala
  pollux/core/src/test/scala/org/hyperledger/identus/pollux/core/repository/CredentialRepositorySpecSuite.scala
  pollux/core/src/test/scala/org/hyperledger/identus/pollux/core/service/CredentialServiceImplSpec.scala
  pollux/core/src/test/scala/org/hyperledger/identus/pollux/core/service/PresentationServiceSpec.scala
  pollux/sql-doobie/src/main/scala/org/hyperledger/identus/pollux/sql/repository/JdbcCredentialRepository.scala
  pollux/sql-doobie/src/main/scala/org/hyperledger/identus/pollux/sql/repository/JdbcCredentialStatusListRepository.scala
  shared/core/src/main/scala/org/hyperledger/identus/shared/models/Failure.scala
  tests/integration-tests/src/test/kotlin/steps/credentials/IssueCredentialsSteps.kt
Labels: pollux, shared, cloud-agent

#1169 feat: use the compact format in SD-JWT
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/agent/server/jobs/PresentBackgroundJobs.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/presentproof/controller/http/PresentationStatus.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/model/presentation/SdJwtPresentationPayload.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/CredentialServiceImpl.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/MockPresentationService.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/PresentationService.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/PresentationServiceImpl.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/PresentationServiceNotifier.scala
  pollux/sd-jwt/src/main/scala/org/hyperledger/identus/pollux/sdjwt/CompactFormat.scala
  pollux/sd-jwt/src/main/scala/org/hyperledger/identus/pollux/sdjwt/Models.scala
  pollux/sd-jwt/src/main/scala/org/hyperledger/identus/pollux/sdjwt/ModelsExtensionMethods.scala
  pollux/sd-jwt/src/main/scala/org/hyperledger/identus/pollux/sdjwt/SDJWT.scala
  pollux/sd-jwt/src/test/scala/org/hyperledger/identus/pollux/sdjwt/SDJWTSpec.scala
Labels: pollux, cloud-agent

#1176 feat: add claims to the VC
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/oid4vci/controller/CredentialIssuerController.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/oid4vci/domain/IssuanceSession.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/oid4vci/domain/Openid4VCIProofJwtOps.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/oid4vci/service/OIDCCredentialIssuerService.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/oid4vci/storage/IssuanceSessionStorage.scala
  cloud-agent/service/server/src/test/scala/org/hyperledger/identus/oid4vci/domain/OIDCCredentialIssuerServiceSpec.scala
  pollux/vc-jwt/src/main/scala/org/hyperledger/identus/pollux/vc/jwt/VerifiableCredentialPayload.scala
Labels: pollux, build, infra, shared, mercury, castor, cloud-agent

#1172 fix: Present Error Handling (Part 1: Repo Changes)
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/presentproof/controller/PresentProofController.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/presentproof/controller/PresentProofControllerImpl.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/model/error/PresentationError.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/repository/PresentationRepository.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/repository/PresentationRepositoryInMemory.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/MockPresentationService.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/PresentationService.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/PresentationServiceImpl.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/PresentationServiceNotifier.scala
  pollux/core/src/test/scala/org/hyperledger/identus/pollux/core/repository/PresentationRepositorySpecSuite.scala
  pollux/core/src/test/scala/org/hyperledger/identus/pollux/core/service/PresentationServiceSpec.scala
  pollux/sql-doobie/src/main/scala/org/hyperledger/identus/pollux/sql/repository/JdbcPresentationRepository.scala
Labels: pollux, cloud-agent

#1175 feat: ATL 6829 - Integrate ZIO failures and defects ADR in credential status list
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/agent/server/CloudAgentApp.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/agent/server/MainApp.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/agent/server/jobs/StatusListJobs.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/credentialstatus/controller/CredentialStatusController.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/credentialstatus/controller/CredentialStatusControllerImpl.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/credentialstatus/controller/CredentialStatusEndpoints.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/credentialstatus/controller/CredentialStatusServiceEndpoints.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/credentialstatus/controller/http/StatusListCredential.scala
  cloud-agent/service/server/src/test/scala/org/hyperledger/identus/api/util/Tapir2StaticOAS.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/model/error/CredentialStatusListServiceError.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/repository/CredentialStatusListRepository.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/repository/CredentialStatusListRepositoryInMemory.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/CredentialService.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/CredentialServiceImpl.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/CredentialServiceNotifier.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/CredentialStatusListService.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/CredentialStatusListServiceImpl.scala
  pollux/sql-doobie/src/main/scala/org/hyperledger/identus/pollux/sql/repository/JdbcCredentialStatusListRepository.scala
  tests/integration-tests/src/test/kotlin/steps/credentials/RevokeCredentialSteps.kt
Labels: pollux, cloud-agent

#1178 fix: add claims validation when creating oid4vci credential offer
  .mega-linter.yml
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/oid4vci/domain/Openid4VCIProofJwtOps.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/oid4vci/service/NonceService.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/oid4vci/service/OIDCCredentialIssuerService.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/oid4vci/storage/NonceStorage.scala
  cloud-agent/service/server/src/test/scala/org/hyperledger/identus/oid4vci/domain/OIDCCredentialIssuerServiceSpec.scala
  examples/st-oid4vci/README.md
  examples/st-oid4vci/demo.py
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/CredentialServiceImpl.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/MockOID4VCIIssuerMetadataService.scala
  pollux/vc-jwt/src/main/scala/org/hyperledger/identus/pollux/vc/jwt/DidJWT.scala
  pollux/vc-jwt/src/main/scala/org/hyperledger/identus/pollux/vc/jwt/JWTVerification.scala
Labels: pollux, cloud-agent

#1177 fix: present error handling Part 2
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/agent/server/jobs/PresentBackgroundJobs.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/presentproof/controller/PresentProofController.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/presentproof/controller/PresentProofControllerImpl.scala
  cloud-agent/service/server/src/test/scala/org/hyperledger/identus/pollux/schema/CredentialSchemaMultiTenancySpec.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/model/error/CredentialDefinitionServiceError.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/model/error/CredentialSchemaServiceError.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/model/error/PresentationError.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/CredentialDefinitionService.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/CredentialDefinitionServiceImpl.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/CredentialSchemaService.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/CredentialSchemaServiceImpl.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/CredentialServiceImpl.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/MockPresentationService.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/PresentationService.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/PresentationServiceImpl.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/PresentationServiceNotifier.scala
Labels: pollux, cloud-agent

#1167 docs: update docs for JWT revocation [skip ci]
  docs/docusaurus/credentials/revocation.md
Labels: docs

#1180 feat: Integrate ZIO failures and defects ADR in DID Registrar Controller and Mercury
  castor/src/main/scala/org/hyperledger/identus/castor/core/service/DIDService.scala
  castor/src/main/scala/org/hyperledger/identus/castor/core/util/DIDOperationValidator.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/controller/DIDRegistrarController.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/controller/DIDRegistrarServerEndpoints.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/didcomm/controller/DIDCommController.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/didcomm/controller/DIDCommControllerImpl.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/didcomm/controller/DIDCommServerEndpoints.scala
  cloud-agent/service/wallet-api/src/main/scala/org/hyperledger/identus/agent/walletapi/service/ManagedDIDServiceWithEventNotificationImpl.scala
  mercury/protocol-issue-credential/src/main/scala/org/hyperledger/identus/mercury/protocol/issuecredential/IssueCredential.scala
  mercury/protocol-issue-credential/src/main/scala/org/hyperledger/identus/mercury/protocol/issuecredential/OfferCredential.scala
  mercury/protocol-issue-credential/src/main/scala/org/hyperledger/identus/mercury/protocol/issuecredential/RequestCredential.scala
  mercury/protocol-issue-credential/src/test/scala/org/hyperledger/identus/mercury/protocol/anotherclasspath/UtilsCredentialSpec.scala
  mercury/protocol-revocation-notification/src/main/scala/org/hyperledger/identus/mercury/protocol/revocationnotificaiton/RevocationNotification.scala
  pollux/core/src/test/scala/org/hyperledger/identus/pollux/core/repository/CredentialRepositorySpecSuite.scala
  pollux/core/src/test/scala/org/hyperledger/identus/pollux/core/service/CredentialServiceImplSpec.scala
  pollux/core/src/test/scala/org/hyperledger/identus/pollux/core/service/PresentationServiceSpec.scala
Labels: pollux, mercury, castor, cloud-agent

#1130 feat: improve OpenAPI's PresentProof to make more consistent
  cloud-agent/service/api/http/cloud-agent-openapi-spec.yaml
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/iam/entity/http/model/EntityResponsePage.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/presentproof/controller/PresentProofEndpoints.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/presentproof/controller/http/PresentationStatusPage.scala
Labels: cloud-agent

#1185 feat: SDJWT holder key binding
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/agent/server/jobs/BackgroundJobsHelper.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/agent/server/jobs/IssueBackgroundJobs.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/agent/server/jobs/PresentBackgroundJobs.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/issue/controller/IssueControllerImpl.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/issue/controller/http/AcceptCredentialOfferRequest.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/oid4vci/service/OIDCCredentialIssuerService.scala
  cloud-agent/service/server/src/test/scala/org/hyperledger/identus/issue/controller/IssueControllerImplSpec.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/model/IssueCredentialRecord.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/model/error/CredentialServiceError.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/repository/CredentialRepository.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/repository/CredentialRepositoryInMemory.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/CredentialService.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/CredentialServiceImpl.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/CredentialServiceNotifier.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/MockCredentialService.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/MockPresentationService.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/PresentationService.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/PresentationServiceImpl.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/PresentationServiceNotifier.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/serdes/SDJwtPresentationRequest.scala
  pollux/core/src/test/scala/org/hyperledger/identus/pollux/core/repository/CredentialRepositorySpecSuite.scala
  pollux/core/src/test/scala/org/hyperledger/identus/pollux/core/service/CredentialServiceImplSpec.scala
  pollux/core/src/test/scala/org/hyperledger/identus/pollux/core/service/CredentialServiceNotifierSpec.scala
  pollux/core/src/test/scala/org/hyperledger/identus/pollux/core/service/PresentationServiceSpec.scala
  pollux/core/src/test/scala/org/hyperledger/identus/pollux/core/service/PresentationServiceSpecHelper.scala
  pollux/sql-doobie/src/main/resources/sql/pollux/V20__add_sdjwt_claims_to_disclose_columns.sql
  pollux/sql-doobie/src/main/resources/sql/pollux/V22__add_keyId_column_issue_credential_record.sql
  pollux/sql-doobie/src/main/scala/org/hyperledger/identus/pollux/sql/repository/JdbcCredentialRepository.scala
  pollux/vc-jwt/src/main/scala/org/hyperledger/identus/pollux/vc/jwt/DidJWT.scala
  pollux/vc-jwt/src/main/scala/org/hyperledger/identus/pollux/vc/jwt/DidResolver.scala
  pollux/vc-jwt/src/main/scala/org/hyperledger/identus/pollux/vc/jwt/JWTVerification.scala
  tests/integration-tests/src/test/resources/features/proofs/present_proof_anoncred.feature
Labels: pollux, cloud-agent

#1186 feat: ATL-6833 integrate ZIO failures and defects in wallet event controller
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/agent/server/CloudAgentApp.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/api/http/EndpointOutputs.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/event/controller/EventController.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/iam/authentication/apikey/ApiKeyAuthenticatorImpl.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/iam/authorization/keycloak/admin/KeycloakPermissionManagementService.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/iam/wallet/http/WalletManagementEndpoints.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/iam/wallet/http/controller/WalletManagementController.scala
  cloud-agent/service/wallet-api/src/main/scala/org/hyperledger/identus/agent/walletapi/memory/WalletSecretStorageInMemory.scala
  cloud-agent/service/wallet-api/src/main/scala/org/hyperledger/identus/agent/walletapi/service/WalletManagementService.scala
  cloud-agent/service/wallet-api/src/main/scala/org/hyperledger/identus/agent/walletapi/service/WalletManagementServiceImpl.scala
  cloud-agent/service/wallet-api/src/main/scala/org/hyperledger/identus/agent/walletapi/service/handler/DIDCreateHandler.scala
  cloud-agent/service/wallet-api/src/main/scala/org/hyperledger/identus/agent/walletapi/service/handler/DIDUpdateHandler.scala
  cloud-agent/service/wallet-api/src/main/scala/org/hyperledger/identus/agent/walletapi/sql/JdbcWalletNonSecretStorage.scala
  cloud-agent/service/wallet-api/src/main/scala/org/hyperledger/identus/agent/walletapi/sql/JdbcWalletSecretStorage.scala
  cloud-agent/service/wallet-api/src/main/scala/org/hyperledger/identus/agent/walletapi/storage/WalletNonSecretStorage.scala
  cloud-agent/service/wallet-api/src/main/scala/org/hyperledger/identus/agent/walletapi/storage/WalletSecretStorage.scala
  cloud-agent/service/wallet-api/src/main/scala/org/hyperledger/identus/agent/walletapi/vault/VaultWalletSecretStorage.scala
  cloud-agent/service/wallet-api/src/test/scala/org/hyperledger/identus/agent/walletapi/service/WalletManagementServiceSpec.scala
  cloud-agent/service/wallet-api/src/test/scala/org/hyperledger/identus/agent/walletapi/storage/JdbcWalletNonSecretStorageSpec.scala
  cloud-agent/service/wallet-api/src/test/scala/org/hyperledger/identus/agent/walletapi/storage/StorageSpecHelper.scala
  tests/integration-tests/src/test/kotlin/steps/multitenancy/WalletsSteps.kt
Labels: cloud-agent

#1190 fix: KeyID from String to Opaque Type and presentation job cleanup
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/agent/server/jobs/BackgroundJobsHelper.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/agent/server/jobs/PresentBackgroundJobs.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/issue/controller/IssueControllerImpl.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/issue/controller/http/AcceptCredentialOfferRequest.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/model/IssueCredentialRecord.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/repository/CredentialRepository.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/repository/CredentialRepositoryInMemory.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/CredentialService.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/CredentialServiceImpl.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/CredentialServiceNotifier.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/MockCredentialService.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/PresentationServiceImpl.scala
  pollux/core/src/test/scala/org/hyperledger/identus/pollux/core/repository/CredentialRepositorySpecSuite.scala
  pollux/core/src/test/scala/org/hyperledger/identus/pollux/core/service/CredentialServiceImplSpec.scala
  pollux/sd-jwt/src/main/scala/org/hyperledger/identus/pollux/sdjwt/Models.scala
  pollux/sql-doobie/src/main/scala/org/hyperledger/identus/pollux/sql/repository/JdbcCredentialRepository.scala
  pollux/vc-jwt/src/main/scala/org/hyperledger/identus/pollux/vc/jwt/DidJWT.scala
  pollux/vc-jwt/src/main/scala/org/hyperledger/identus/pollux/vc/jwt/JWTVerification.scala
  shared/core/src/main/scala/org/hyperledger/identus/shared/models/KeyId.scala
Labels: pollux, shared, cloud-agent

#1189 build: make docker image only for the server
  build.sbt
Labels: build

#1191 ci: auto merge main into the feature branch [skip ci]
  .github/workflows/auto-merge.yml
  .mega-linter.yml
Labels: ci

#1196 ci: fix auto-merge.yml file [skip ci]
  .github/workflows/auto-merge.yml
  examples/st-oid4vci/demo.py
Labels: ci

#1192 feat: implement ADR Use ZIO Failures and Defects Effectively - Mercury should not throw exceptions
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/agent/server/jobs/IssueBackgroundJobs.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/didcomm/controller/DIDCommControllerImpl.scala
  mercury/agent-didcommx/src/main/scala/org/hyperledger/identus/mercury/DidCommX.scala
  mercury/agent-didcommx/src/main/scala/org/hyperledger/identus/mercury/MessagingService.scala
  mercury/agent-didcommx/src/main/scala/org/hyperledger/identus/mercury/model/Conversions.scala
  mercury/agent-didcommx/src/main/scala/org/hyperledger/identus/mercury/model/package.scala
  mercury/agent/src/main/scala/org/hyperledger/identus/mercury/CoordinateMediationPrograms.scala
  mercury/models/src/main/scala/org/hyperledger/identus/mercury/DidOps.scala
  mercury/protocol-issue-credential/src/main/scala/org/hyperledger/identus/mercury/protocol/issuecredential/Credential.scala
  mercury/protocol-issue-credential/src/main/scala/org/hyperledger/identus/mercury/protocol/issuecredential/OfferCredential.scala
  mercury/protocol-issue-credential/src/main/scala/org/hyperledger/identus/mercury/protocol/issuecredential/ProposeCredential.scala
  mercury/protocol-issue-credential/src/main/scala/org/hyperledger/identus/mercury/protocol/issuecredential/Utils.scala
  mercury/protocol-issue-credential/src/test/scala/org/hyperledger/identus/mercury/protocol/anotherclasspath/UtilsCredentialSpec.scala
  pollux/sql-doobie/src/main/scala/org/hyperledger/identus/pollux/sql/repository/JdbcPresentationRepository.scala
Labels: pollux, mercury, cloud-agent, autoupdate

#1198 ci: automerge the changes from the main to the feature branch using squash commit [skip ci]
  .github/workflows/auto-merge.yml
  .github/workflows/ff-merge.yml
Labels: ci, autoupdate

#1205 docs: update docs with SDJWT example and make consistence revocation
  docs/docusaurus/credentials/issue.md
  docs/docusaurus/credentials/present-proof.md
  docs/docusaurus/credentials/revocation.md
  tests/integration-tests/src/test/resources/features/revocation/revoke_jwt_credential.feature
Labels: docs

#1204 fix: Present Error Handling Job
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/agent/server/CloudAgentApp.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/agent/server/jobs/BackgroundJobError.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/agent/server/jobs/BackgroundJobsHelper.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/agent/server/jobs/PresentBackgroundJobs.scala
  mercury/agent-didcommx/src/main/scala/org/hyperledger/identus/mercury/MessagingService.scala
  mercury/models/src/main/scala/org/hyperledger/identus/mercury/model/error/package.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/model/error/CredentialServiceError.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/model/error/PresentationError.scala
Labels: pollux, mercury, cloud-agent

#1203 feat: ATL-6832 ZIO failures and defects in entity controller
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/agent/server/CloudAgentApp.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/iam/authentication/Authenticator.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/iam/authentication/SecurityLogic.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/iam/authentication/admin/AdminApiKeyCredentials.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/iam/authentication/apikey/ApiKeyAuthenticator.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/iam/authentication/apikey/ApiKeyAuthenticatorImpl.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/iam/authentication/apikey/AuthenticationRepository.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/iam/authentication/apikey/JdbcAuthenticationRepository.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/iam/authentication/apikey/package.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/iam/authentication/oidc/JwtCredentials.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/iam/authorization/core/EntityPermissionManagementService.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/iam/authorization/core/PermissionManagement.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/iam/entity/http/controller/EntityController.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/iam/entity/http/controller/EntityControllerImpl.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/oid4vci/CredentialIssuerServerEndpoints.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/oid4vci/http/CredentialErrorResponse.scala
  cloud-agent/service/server/src/test/scala/org/hyperledger/identus/iam/authentication/SecurityLogicSpec.scala
  cloud-agent/service/server/src/test/scala/org/hyperledger/identus/iam/authentication/apikey/JdbcAuthenticationRepositorySpec.scala
  cloud-agent/service/server/src/test/scala/org/hyperledger/identus/iam/authorization/keycloak/admin/KeycloakPermissionManagementServiceSpec.scala
  cloud-agent/service/wallet-api/src/main/scala/org/hyperledger/identus/agent/walletapi/model/error/EntityServiceError.scala
  cloud-agent/service/wallet-api/src/main/scala/org/hyperledger/identus/agent/walletapi/service/EntityService.scala
  cloud-agent/service/wallet-api/src/main/scala/org/hyperledger/identus/agent/walletapi/service/EntityServiceImpl.scala
  cloud-agent/service/wallet-api/src/main/scala/org/hyperledger/identus/agent/walletapi/sql/EntityRepository.scala
  cloud-agent/service/wallet-api/src/main/scala/org/hyperledger/identus/agent/walletapi/sql/JdbcEntityRepository.scala
  cloud-agent/service/wallet-api/src/test/scala/org/hyperledger/identus/agent/walletapi/storage/JdbcEntityRepositorySpec.scala
  shared/core/src/main/scala/org/hyperledger/identus/shared/db/ContextAwareTask.scala
  shared/core/src/main/scala/org/hyperledger/identus/shared/models/Failure.scala
Labels: shared, cloud-agent

#1194 fix: make init-script.sh idempotent #1173
  infrastructure/shared/postgres/init-script.sh
  tests/performance-tests/agent-performance-tests-k6/package.json
  tests/performance-tests/agent-performance-tests-k6/src/scenarios/default.ts
  tests/performance-tests/agent-performance-tests-k6/yarn.lock
Labels: infra, autoupdate

#1199 feat: add schemaId to the issuance session
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/oid4vci/service/OIDCCredentialIssuerService.scala
  cloud-agent/service/server/src/test/scala/org/hyperledger/identus/oid4vci/domain/OIDCCredentialIssuerServiceSpec.scala
Labels: Component: Cloud Agent, cloud-agent, autoupdate

#1214 ci: refactor auto-merge flow to use GitHub script and don't block the CI [skip ci]
  .github/workflows/auto-merge.yml
Labels: ci

#1211 fix: migrate and repair in case of renaming issues
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/agent/server/MainApp.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/agent/server/sql/Migrations.scala
  connect/sql-doobie/src/main/scala/org/hyperledger/identus/connect/sql/repository/Migrations.scala
  pollux/sql-doobie/src/main/scala/org/hyperledger/identus/pollux/sql/repository/Migrations.scala
Labels: pollux, connect, cloud-agent

#1223 chore: cleanup some todos, imports
  castor/src/test/scala/org/hyperledger/identus/castor/core/model/did/DIDUrlSpec.scala
  castor/src/test/scala/org/hyperledger/identus/castor/core/util/GenUtils.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/agent/server/CloudAgentApp.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/agent/server/jobs/PresentBackgroundJobs.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/api/http/EndpointOutputs.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/credentialstatus/controller/http/StatusListCredential.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/didcomm/controller/DIDCommEndpoints.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/iam/authentication/apikey/AuthenticationRepository.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/iam/authorization/core/PermissionManagement.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/iam/entity/http/controller/EntityController.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/iam/wallet/http/WalletManagementEndpoints.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/iam/wallet/http/controller/WalletManagementController.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/issue/controller/IssueControllerImpl.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/issue/controller/http/AcceptCredentialOfferRequest.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/oid4vci/CredentialIssuerServerEndpoints.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/oid4vci/domain/Openid4VCIProofJwtOps.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/oid4vci/service/OIDCCredentialIssuerService.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/presentproof/controller/PresentProofControllerImpl.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/verification/controller/http/VcVerification.scala
  cloud-agent/service/server/src/test/scala/org/hyperledger/identus/agent/server/AgentInitializationSpec.scala
  cloud-agent/service/server/src/test/scala/org/hyperledger/identus/agent/server/config/AppConfigSpec.scala
  cloud-agent/service/server/src/test/scala/org/hyperledger/identus/iam/authentication/apikey/ApiKeyAuthenticatorSpec.scala
  cloud-agent/service/server/src/test/scala/org/hyperledger/identus/iam/authentication/apikey/JdbcAuthenticationRepositorySpec.scala
  cloud-agent/service/server/src/test/scala/org/hyperledger/identus/iam/authorization/keycloak/admin/KeycloakPermissionManagementServiceSpec.scala
  cloud-agent/service/server/src/test/scala/org/hyperledger/identus/pollux/schema/CredentialSchemaAnoncredSpec.scala
  cloud-agent/service/wallet-api/src/main/scala/org/hyperledger/identus/agent/walletapi/service/MockManagedDIDService.scala
  cloud-agent/service/wallet-api/src/main/scala/org/hyperledger/identus/agent/walletapi/service/handler/DIDUpdateHandler.scala
  mercury/agent-didcommx/src/main/scala/org/hyperledger/identus/mercury/MessagingService.scala
  mercury/protocol-report-problem/src/main/scala/org/hyperledger/identus/mercury/protocol/reportproblem/v2/ReportProblem.scala
  mercury/protocol-report-problem/src/test/scala/org/hyperledger/identus/mercury/protocol/reportproblem/v2/ReportProblemSpec.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/model/error/CredentialSchemaServiceError.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/repository/CredentialRepository.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/repository/CredentialRepositoryInMemory.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/repository/PresentationRepositoryInMemory.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/CredentialService.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/CredentialServiceImpl.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/CredentialServiceNotifier.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/CredentialStatusListService.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/MockCredentialService.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/verification/VcVerificationServiceImpl.scala
  pollux/core/src/test/scala/org/hyperledger/identus/pollux/core/model/schema/AnoncredSchemaTypeSpec.scala
  pollux/core/src/test/scala/org/hyperledger/identus/pollux/core/repository/CredentialRepositorySpecSuite.scala
  pollux/core/src/test/scala/org/hyperledger/identus/pollux/core/service/CredentialServiceImplSpec.scala
  pollux/sql-doobie/src/main/scala/org/hyperledger/identus/pollux/sql/repository/JdbcCredentialRepository.scala
  pollux/vc-jwt/src/main/scala/org/hyperledger/identus/pollux/vc/jwt/DidJWT.scala
  pollux/vc-jwt/src/main/scala/org/hyperledger/identus/pollux/vc/jwt/EcdsaSecp256k1VerificationKey2019.scala
  pollux/vc-jwt/src/main/scala/org/hyperledger/identus/pollux/vc/jwt/JsonWebKey.scala
  pollux/vc-jwt/src/main/scala/org/hyperledger/identus/pollux/vc/jwt/VerifiableCredentialPayload.scala
  shared/core/src/main/scala/org/hyperledger/identus/shared/utils/Json.scala
Labels: pollux, shared, mercury, castor, cloud-agent, autoupdate

#1201 test: add verification api integration tests
  .github/workflows/integration-tests.yml
  tests/integration-tests/README.md
  tests/integration-tests/build.gradle.kts
  tests/integration-tests/docs/static/logs.png
  tests/integration-tests/docs/static/serenity_context.png
  tests/integration-tests/serenity.properties
  tests/integration-tests/src/test/kotlin/common/CredentialSchema.kt
  tests/integration-tests/src/test/kotlin/common/DidPurpose.kt
  tests/integration-tests/src/test/kotlin/common/JwtCredentialProblem.kt
  tests/integration-tests/src/test/kotlin/common/SchemaErrorTemplate.kt
  tests/integration-tests/src/test/kotlin/common/TestConstants.kt
  tests/integration-tests/src/test/kotlin/common/VerifiableJwt.kt
  tests/integration-tests/src/test/kotlin/config/services/Agent.kt
  tests/integration-tests/src/test/kotlin/config/services/Keycloak.kt
  tests/integration-tests/src/test/kotlin/config/services/Service.kt
  tests/integration-tests/src/test/kotlin/config/services/ServiceBase.kt
  tests/integration-tests/src/test/kotlin/config/services/Vault.kt
  tests/integration-tests/src/test/kotlin/config/services/VerifiableDataRegistry.kt
  tests/integration-tests/src/test/kotlin/interactions/AuthRestExtensions.kt
  tests/integration-tests/src/test/kotlin/models/JwtCredential.kt
  tests/integration-tests/src/test/kotlin/steps/Setup.kt
  tests/integration-tests/src/test/kotlin/steps/common/CommonSteps.kt
  tests/integration-tests/src/test/kotlin/steps/common/ParameterSteps.kt
  tests/integration-tests/src/test/kotlin/steps/connection/ConnectionSteps.kt
  tests/integration-tests/src/test/kotlin/steps/credentials/IssueCredentialsSteps.kt
  tests/integration-tests/src/test/kotlin/steps/credentials/RevokeCredentialSteps.kt
  tests/integration-tests/src/test/kotlin/steps/did/ManageDidSteps.kt
  tests/integration-tests/src/test/kotlin/steps/did/PublishDidSteps.kt
  tests/integration-tests/src/test/kotlin/steps/did/UpdateDidSteps.kt
  tests/integration-tests/src/test/kotlin/steps/proofs/PresentProofSteps.kt
  tests/integration-tests/src/test/kotlin/steps/schemas/CredentialSchemasSteps.kt
  tests/integration-tests/src/test/kotlin/steps/verification/VcVerificationSteps.kt
  tests/integration-tests/src/test/resources/features/credentials/issue_anoncred_with_published_did.feature
  tests/integration-tests/src/test/resources/features/credentials/issue_jwt_with_published_did.feature
  tests/integration-tests/src/test/resources/features/credentials/issue_jwt_with_unpublished_did.feature
  tests/integration-tests/src/test/resources/features/did/create_did.feature
  tests/integration-tests/src/test/resources/features/did/update_did.feature
  tests/integration-tests/src/test/resources/features/proofs/present_proof.feature
  tests/integration-tests/src/test/resources/features/proofs/present_proof_anoncred.feature
  tests/integration-tests/src/test/resources/features/revocation/revoke_jwt_credential.feature
  tests/integration-tests/src/test/resources/features/schemas/credential_schemas.feature
  tests/integration-tests/src/test/resources/features/verification/vc_verification.feature
  tests/integration-tests/src/test/resources/features/verificationapi/vc_verification.feature
Labels: ci

#1218 feat: Handle Error in Background Jobs - Improve the way we store errors and defects in DB
  build.sbt
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/agent/server/jobs/BackgroundJobError.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/agent/server/jobs/ConnectBackgroundJobs.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/agent/server/jobs/IssueBackgroundJobs.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/agent/server/jobs/PresentBackgroundJobs.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/didcomm/controller/DIDCommControllerError.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/didcomm/controller/DIDCommControllerImpl.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/oid4vci/controller/CredentialIssuerController.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/oid4vci/domain/Openid4VCIProofJwtOps.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/oid4vci/service/OIDCCredentialIssuerService.scala
  cloud-agent/service/wallet-api/src/main/scala/org/hyperledger/identus/agent/walletapi/model/error/DIDSecretStorageError.scala
  connect/core/src/main/scala/org/hyperledger/identus/connect/core/model/ConnectionRecord.scala
  connect/core/src/main/scala/org/hyperledger/identus/connect/core/repository/ConnectionRepository.scala
  connect/core/src/main/scala/org/hyperledger/identus/connect/core/repository/ConnectionRepositoryInMemory.scala
  connect/core/src/main/scala/org/hyperledger/identus/connect/core/service/ConnectionService.scala
  connect/core/src/main/scala/org/hyperledger/identus/connect/core/service/ConnectionServiceImpl.scala
  connect/core/src/main/scala/org/hyperledger/identus/connect/core/service/ConnectionServiceNotifier.scala
  connect/core/src/main/scala/org/hyperledger/identus/connect/core/service/MockConnectionService.scala
  connect/core/src/test/scala/org/hyperledger/identus/connect/core/repository/ConnectionRepositorySpecSuite.scala
  connect/sql-doobie/src/main/resources/sql/connect/V8__clear_content_of_meta_last_failure.sql
  connect/sql-doobie/src/main/scala/org/hyperledger/identus/connect/sql/repository/JdbcConnectionRepository.scala
  mercury/models/src/main/scala/org/hyperledger/identus/mercury/model/error/package.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/model/IssueCredentialRecord.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/model/PresentationRecord.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/repository/CredentialRepository.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/repository/CredentialRepositoryInMemory.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/repository/PresentationRepository.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/repository/PresentationRepositoryInMemory.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/CredentialService.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/CredentialServiceImpl.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/CredentialServiceNotifier.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/MockCredentialService.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/MockPresentationService.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/PresentationService.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/PresentationServiceImpl.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/PresentationServiceNotifier.scala
  pollux/core/src/test/scala/org/hyperledger/identus/pollux/core/repository/CredentialRepositorySpecSuite.scala
  pollux/core/src/test/scala/org/hyperledger/identus/pollux/core/repository/PresentationRepositorySpecSuite.scala
  pollux/sql-doobie/src/main/resources/sql/pollux/V23__clear_content_of_meta_last_failure.sql
  pollux/sql-doobie/src/main/scala/org/hyperledger/identus/pollux/sql/repository/JdbcCredentialRepository.scala
  pollux/sql-doobie/src/main/scala/org/hyperledger/identus/pollux/sql/repository/JdbcPresentationRepository.scala
  shared/core/src/main/scala/org/hyperledger/identus/shared/models/Failure.scala
Labels: pollux, build, shared, mercury, connect, cloud-agent

#1233 fix: avoid name and operationId conflict when creating oas client
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/oid4vci/CredentialIssuerEndpoints.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/oid4vci/http/CredentialErrorResponse.scala
Labels: cloud-agent
