Repository hyperledger-identus/cloud-agent, pull requests merged in 2024-02, with the labels that each got.

#872 ci: pin the 'action-semantic-pull-request' plugin version to 5.2.0
  .github/workflows/pr-lint.yml
Labels: ci

#854 docs(prism-agent): improve Connect OAS doc
  prism-agent/service/server/src/main/scala/io/iohk/atala/connect/controller/ConnectionEndpoints.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/connect/controller/http/AcceptConnectionInvitationRequest.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/connect/controller/http/Connection.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/connect/controller/http/ConnectionsPage.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/connect/controller/http/CreateConnectionRequest.scala
Labels: prism-agent

#853 docs(prism-agent): ADR - use ZIO failures and defects effectively
  docs/decisions/20240116-use-zio-failures-and-defects-effectively.md
Labels: docs

#870 feat: interoperable schema changes
  pollux/lib/core/src/main/scala/io/iohk/atala/pollux/core/model/schema/CredentialSchema.scala
  pollux/lib/core/src/main/scala/io/iohk/atala/pollux/core/service/CredentialDefinitionServiceImpl.scala
  pollux/lib/core/src/test/resources/anoncred-schema-example.json
  pollux/lib/core/src/test/resources/vc-schema-example.json
  prism-agent/service/server/src/main/scala/io/iohk/atala/pollux/credentialschema/SchemaRegistryEndpoints.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/pollux/credentialschema/SchemaRegistryServerEndpoints.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/pollux/credentialschema/controller/CredentialSchemaController.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/pollux/credentialschema/controller/CredentialSchemaControllerImpl.scala
  prism-agent/service/server/src/test/resources/anoncred-schema-example.json
  prism-agent/service/server/src/test/resources/vc-schema-example.json
  prism-agent/service/server/src/test/scala/io/iohk/atala/pollux/schema/CredentialSchemaBasicSpec.scala
  prism-agent/service/server/src/test/scala/io/iohk/atala/pollux/schema/CredentialSchemaTestTools.scala
  tests/integration-tests/src/test/kotlin/features/credentials/IssueCredentialsSteps.kt
Labels: pollux, prism-agent

#875 ci: upgrade action plugin versions
  .github/labeler.yml
  .github/workflows/labeler.yml
  .github/workflows/lint.yml
  .github/workflows/pr-lint.yml
  .github/workflows/unit-tests.yml
Labels: ci

#874 docs(node): Add instructions on how to use the node
  docs/guides/deploying-node.md
Labels: docs

#877 fix(prism-agent): update didcomm peerdid library to support latest spec
  .github/labeler.yml
  build.sbt
  mercury/mercury-library/agent-didcommx/src/main/scala/io/iohk/atala/mercury/AgentPeerService.scala
  mercury/mercury-library/agent-didcommx/src/main/scala/io/iohk/atala/mercury/PeerDID.scala
  mercury/mercury-library/resolver/src/main/scala/io/iohk/atala/resolvers/PeerDidResolver.scala
  mercury/mercury-library/resolver/src/test/scala/io/iohk/atala/resolvers/PeerDidResolverSpec.scala
Labels: build, ci, mercury

#885 docs(prism-agent): fix agent OAS spec issues and add contacts infos
  prism-agent/service/server/src/main/scala/io/iohk/atala/agent/server/http/DocModels.scala
Labels: prism-agent

#884 feat: support vault AppRole authentication
  .gitignore
  build.sbt
  pollux/lib/core/src/main/scala/io/iohk/atala/pollux/core/service/HttpURIDereferencerImpl.scala
  prism-agent/service/server/src/main/resources/application.conf
  prism-agent/service/server/src/main/scala/io/iohk/atala/agent/server/Main.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/agent/server/Modules.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/agent/server/PrismAgentApp.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/agent/server/config/AppConfig.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/agent/server/http/ZioHttpClient.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/iam/authentication/AuthenticationConfig.scala
  prism-agent/service/server/src/test/scala/io/iohk/atala/agent/server/AgentInitializationSpec.scala
  prism-agent/service/server/src/test/scala/io/iohk/atala/agent/server/config/AppConfigSpec.scala
  prism-agent/service/wallet-api/src/main/scala/io/iohk/atala/agent/walletapi/vault/VaultClient.scala
  prism-agent/service/wallet-api/src/test/scala/io/iohk/atala/test/container/VaultTestContainerSupport.scala
  project/LicenseReport.scala
  tests/integration-tests/src/test/kotlin/config/services/Vault.kt
  tests/integration-tests/src/test/resources/containers/agent.yml
Labels: pollux, prism-agent, build

#882 fix: remove hard code did:example:*
  mercury/mercury-library/resolver/src/main/scala/io/iohk/atala/resolvers/UniversalDidResolver.scala
  mercury/mercury-library/resolver/src/test/scala/io/iohk/atala/resolvers/AliceDidDoc.scala
  mercury/mercury-library/resolver/src/test/scala/io/iohk/atala/resolvers/BobDidDoc.scala
  mercury/mercury-library/resolver/src/test/scala/io/iohk/atala/resolvers/MediatorDidDoc.scala
Labels: mercury

#886 docs: update vault secret storage operation
  .github/CODEOWNERS
  docs/docusaurus/secrets/operation.md
Labels: ci, docs

#887 docs(prism-agent): remove the contact section from the OAS spec
  prism-agent/service/server/src/main/scala/io/iohk/atala/agent/server/http/DocModels.scala
Labels: prism-agent

#889 docs: Update DIDEndpoints.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/castor/controller/DIDEndpoints.scala
Labels: prism-agent

#888 docs: Update ConnectionEndpoints.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/connect/controller/ConnectionEndpoints.scala
Labels: prism-agent

#865 feat: add credential def performance test
  .github/workflows/performance-tests.yml
  infrastructure/single-tenant-testing-stack/run-performance-tests-local.sh
  tests/performance-tests/atala-performance-tests-k6/README.md
  tests/performance-tests/atala-performance-tests-k6/src/actors/Issuer.ts
  tests/performance-tests/atala-performance-tests-k6/src/common/Config.ts
  tests/performance-tests/atala-performance-tests-k6/src/common/CredentialsService.ts
  tests/performance-tests/atala-performance-tests-k6/src/scenarios/default.ts
  tests/performance-tests/atala-performance-tests-k6/src/tests/credentials/credential-definition-test.ts
Labels: infra, ci

#892 feat(pollux): add Json VC schema meta validation
  build.sbt
  pollux/lib/core/src/main/scala/io/iohk/atala/pollux/core/model/schema/type/CredentialJsonSchemaSerDesV1.scala
  pollux/lib/core/src/main/scala/io/iohk/atala/pollux/core/model/schema/type/CredentialJsonSchemaType.scala
  pollux/lib/core/src/main/scala/io/iohk/atala/pollux/core/model/schema/validator/JsonSchemaUtils.scala
  pollux/lib/core/src/test/scala/io/iohk/atala/pollux/core/model/schema/AnoncredSchemaTypeSpec.scala
  pollux/lib/core/src/test/scala/io/iohk/atala/pollux/core/model/schema/CredentialSchemaSpec.scala
  prism-agent/service/server/src/test/scala/io/iohk/atala/pollux/schema/CredentialSchemaAnoncredSpec.scala
  prism-agent/service/server/src/test/scala/io/iohk/atala/pollux/schema/CredentialSchemaBasicSpec.scala
  prism-agent/service/server/src/test/scala/io/iohk/atala/pollux/schema/CredentialSchemaMultiTenancySpec.scala
  prism-agent/service/server/src/test/scala/io/iohk/atala/pollux/schema/CredentialSchemaTestTools.scala
  tests/integration-tests/src/main/kotlin/models/JsonSchema.kt
Labels: pollux, prism-agent, build

#869 fix: re-enable logging with SLF4J and add traceId
  build.sbt
  logging.md
  prism-agent/service/server/src/main/resources/logback.xml
  prism-agent/service/server/src/main/scala/io/iohk/atala/LogUtils.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/agent/server/Main.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/castor/controller/DIDEndpoints.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/castor/controller/DIDRegistrarServerEndpoints.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/castor/controller/DIDServerEndpoints.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/connect/controller/ConnectionServerEndpoints.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/event/controller/EventServerEndpoints.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/iam/entity/http/EntityServerEndpoints.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/iam/wallet/http/WalletManagementServerEndpoints.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/issue/controller/IssueServerEndpoints.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/pollux/credentialdefinition/CredentialDefinitionRegistryServerEndpoints.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/pollux/credentialschema/SchemaRegistryServerEndpoints.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/pollux/credentialschema/VerificationPolicyServerEndpoints.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/presentproof/controller/PresentProofServerEndpoints.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/system/controller/SystemServerEndpoints.scala
Labels: prism-agent, build

#901 fix(prism-agent): increase http timeout communication channel closing…
  prism-agent/service/server/src/main/resources/application.conf
Labels: prism-agent

#902 fix: remove oas schema format for empty repsonse body
  prism-agent/service/server/src/main/scala/io/iohk/atala/api/http/codec/DIDCodec.scala
Labels: prism-agent

#847 docs(prism-agent): ADR - use Error handling report problem
  docs/decisions/20240115-Error-handling-report-problem-agent.md
Labels: docs

#905 fix: correct the config environment variable name
  prism-agent/service/server/src/main/resources/application.conf
  prism-agent/service/server/src/main/scala/io/iohk/atala/agent/server/Modules.scala
Labels: prism-agent

#792 feat: ZKP verification
  build.sbt
  docs/docusaurus/credentials/present-proof.md
  pollux/lib/anoncreds/src/main/scala/io/iohk/atala/pollux/anoncreds/AnoncredLib.scala
  pollux/lib/anoncreds/src/main/scala/io/iohk/atala/pollux/anoncreds/Models.scala
  pollux/lib/anoncredsTest/src/test/scala/io/iohk/atala/pollux/anoncreds/PoCNewLib.scala
  pollux/lib/core/src/main/scala/io/iohk/atala/pollux/core/model/IssueCredentialRecord.scala
  pollux/lib/core/src/main/scala/io/iohk/atala/pollux/core/model/PresentationRecord.scala
  pollux/lib/core/src/main/scala/io/iohk/atala/pollux/core/model/error/PresentationError.scala
  pollux/lib/core/src/main/scala/io/iohk/atala/pollux/core/model/schema/CredentialDefinition.scala
  pollux/lib/core/src/main/scala/io/iohk/atala/pollux/core/model/schema/CredentialSchema.scala
  pollux/lib/core/src/main/scala/io/iohk/atala/pollux/core/model/schema/validator/SchemaSerDes.scala
  pollux/lib/core/src/main/scala/io/iohk/atala/pollux/core/repository/CredentialRepository.scala
  pollux/lib/core/src/main/scala/io/iohk/atala/pollux/core/repository/CredentialRepositoryInMemory.scala
  pollux/lib/core/src/main/scala/io/iohk/atala/pollux/core/repository/PresentationRepository.scala
  pollux/lib/core/src/main/scala/io/iohk/atala/pollux/core/repository/PresentationRepositoryInMemory.scala
  pollux/lib/core/src/main/scala/io/iohk/atala/pollux/core/service/CredentialDefinitionServiceImpl.scala
  pollux/lib/core/src/main/scala/io/iohk/atala/pollux/core/service/CredentialService.scala
  pollux/lib/core/src/main/scala/io/iohk/atala/pollux/core/service/CredentialServiceImpl.scala
  pollux/lib/core/src/main/scala/io/iohk/atala/pollux/core/service/CredentialServiceNotifier.scala
  pollux/lib/core/src/main/scala/io/iohk/atala/pollux/core/service/LinkSecretService.scala
  pollux/lib/core/src/main/scala/io/iohk/atala/pollux/core/service/LinkSecretServiceImpl.scala
  pollux/lib/core/src/main/scala/io/iohk/atala/pollux/core/service/MockCredentialService.scala
  pollux/lib/core/src/main/scala/io/iohk/atala/pollux/core/service/MockPresentationService.scala
  pollux/lib/core/src/main/scala/io/iohk/atala/pollux/core/service/PresentationService.scala
  pollux/lib/core/src/main/scala/io/iohk/atala/pollux/core/service/PresentationServiceImpl.scala
  pollux/lib/core/src/main/scala/io/iohk/atala/pollux/core/service/PresentationServiceNotifier.scala
  pollux/lib/core/src/main/scala/io/iohk/atala/pollux/core/service/serdes/AnoncredCredentialProofsV1.scala
  pollux/lib/core/src/main/scala/io/iohk/atala/pollux/core/service/serdes/AnoncredPresentationRequestV1.scala
  pollux/lib/core/src/main/scala/io/iohk/atala/pollux/core/service/serdes/AnoncredPresentationV1.scala
  pollux/lib/core/src/test/resources/anoncred-presentation-schema-example.json
  pollux/lib/core/src/test/scala/io/iohk/atala/pollux/core/repository/CredentialRepositorySpecSuite.scala
  pollux/lib/core/src/test/scala/io/iohk/atala/pollux/core/repository/PresentationRepositorySpecSuite.scala
  pollux/lib/core/src/test/scala/io/iohk/atala/pollux/core/service/CredentialServiceImplSpec.scala
  pollux/lib/core/src/test/scala/io/iohk/atala/pollux/core/service/CredentialServiceNotifierSpec.scala
  pollux/lib/core/src/test/scala/io/iohk/atala/pollux/core/service/LinkSecretServiceImplSpec.scala
  pollux/lib/core/src/test/scala/io/iohk/atala/pollux/core/service/PresentationServiceNotifierSpec.scala
  pollux/lib/core/src/test/scala/io/iohk/atala/pollux/core/service/PresentationServiceSpec.scala
  pollux/lib/core/src/test/scala/io/iohk/atala/pollux/core/service/PresentationServiceSpecHelper.scala
  pollux/lib/core/src/test/scala/io/iohk/atala/pollux/core/service/serdes/AnoncredPresentationRequestSpec.scala
  pollux/lib/core/src/test/scala/io/iohk/atala/pollux/core/service/serdes/AnoncredPresentationSpec.scala
  pollux/lib/core/src/test/scala/io/iohk/atala/pollux/core/service/serdes/PublicCredentialDefinitionSchemaSerDesSpec.scala
  pollux/lib/sql-doobie/src/main/resources/sql/pollux/V17__add_anoncred_credentials_to_use_columns.sql
  pollux/lib/sql-doobie/src/main/resources/sql/pollux/V18__issue_credential_rename_schema_id.sql
  pollux/lib/sql-doobie/src/main/scala/io/iohk/atala/pollux/sql/repository/JdbcCredentialRepository.scala
  pollux/lib/sql-doobie/src/main/scala/io/iohk/atala/pollux/sql/repository/JdbcPresentationRepository.scala
  pollux/lib/vc-jwt/src/main/scala/io/iohk/atala/pollux/vc/jwt/VerifiableCredentialPayload.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/agent/server/Main.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/agent/server/jobs/IssueBackgroundJobs.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/agent/server/jobs/PresentBackgroundJobs.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/issue/controller/IssueControllerImpl.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/presentproof/controller/PresentProofController.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/presentproof/controller/PresentProofControllerImpl.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/presentproof/controller/http/RequestPresentationAction.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/presentproof/controller/http/RequestPresentationInput.scala
  prism-agent/service/server/src/test/scala/io/iohk/atala/issue/controller/IssueControllerTestTools.scala
  prism-agent/service/server/src/test/scala/io/iohk/atala/pollux/credentialdefinition/CredentialDefinitionBasicSpec.scala
Labels: Component: Cloud Agent, pollux, prism-agent, build, docs

#907 docs(prism-agent): ATL-6272 improve issue credentials OAS doc
  prism-agent/service/server/src/main/scala/io/iohk/atala/agent/server/http/DocModels.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/connect/controller/ConnectionEndpoints.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/issue/controller/IssueEndpoints.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/issue/controller/http/AcceptCredentialOfferRequest.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/issue/controller/http/CreateIssueCredentialRecordRequest.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/issue/controller/http/IssueCredentialRecord.scala
  prism-agent/service/server/src/main/scala/io/iohk/atala/issue/controller/http/IssueCredentialRecordPage.scala
Labels: prism-agent
