Repository hyperledger-identus/cloud-agent, pull requests merged in 2024-08, with the labels that each got.

#1275 fix: #1259 make GITHUB_TOKEN optional
  build.sbt
  project/plugins.sbt
Labels: build

#1276 feat: Expose Stored Error
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/connect/controller/http/Connection.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/issue/controller/http/IssueCredentialRecord.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/presentproof/controller/http/PresentationStatus.scala
Labels: cloud-agent

#1278 fix: improve k8s keycloak bootstrapping script
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/api/http/EndpointOutputs.scala
  infrastructure/charts/.gitignore
  infrastructure/charts/agent/templates/configmap.yaml
  infrastructure/charts/agent/templates/deployment.yaml
  infrastructure/charts/agent/values.yaml
  pollux/core/src/test/scala/org/hyperledger/identus/pollux/core/service/MockPresentationService.scala
Labels: pollux, infra, cloud-agent

#1284 feat: Move ADRs to the identus-docs repo
  docs/decisions/20220919-use-markdown-architectural-decision-records.md
  docs/decisions/20221005-using-tapir-library-as-a-dsl-for-openapi-specification.md
  docs/decisions/20221006-store-private-keys-of-issuers-inside-prism-agent.md
  docs/decisions/20230118-quill-library-for-sql-statement-generation.md
  docs/decisions/20230206-use-flyway-to-manage-migrations-for-application-services.md
  docs/decisions/20230206-use-scala3-instead-of-scala2-to-write-applications.md
  docs/decisions/20230206-use-zio-as-a-functional-effect-system-within-applications-to-manage-conccurency.md
  docs/decisions/20230405-did-linked-resources.md
  docs/decisions/20230509-message-routing-for-multi-tenant.md
  docs/decisions/20230515-mediator-message-storage.md
  docs/decisions/20230516-hierarchical-deterministic-key-generation-algorithm.md
  docs/decisions/20230518-data-isolation-for-multitenancy.md
  docs/decisions/20230527-use-keycloak-and-jwt-tokens-for-authentication-and-authorisation-to-facilitate-multitenancy-in-cloud-agent.md
  docs/decisions/20230628-apollo-as-centralised-and-secure-cryptography-management-module.md
  docs/decisions/20230714-performance-framework-for-atala-prism.md
  docs/decisions/20230926-use-keycloak-authorisation-service-for-managing-wallet-permissions.md
  docs/decisions/20230928-revocation-status-list-expansion-strategy.md
  docs/decisions/20240103-use-jwt-claims-for-agent-admin-auth.md
  docs/decisions/20240115-Error-handling-report-problem-agent.md
  docs/decisions/20240116-use-zio-failures-and-defects-effectively.md
  docs/decisions/20240307-handle-errors-in-bg-jobs-by-storing-on-state-records-and-sending-via-webhooks.md
  docs/decisions/20240520-use-did-urls-to-reference-resources.md
  docs/decisions/README.md
  docs/decisions/index.md
  docs/decisions/template.md
Labels: docs

#1286 chore: remove helm charts from the repository
  infrastructure/charts/.gitignore
  infrastructure/charts/cloud-agent-1.34.0.tgz
  infrastructure/charts/cloud-agent-1.35.0.tgz
  infrastructure/charts/cloud-agent-1.35.1.tgz
  infrastructure/charts/cloud-agent-1.36.0.tgz
  infrastructure/charts/cloud-agent-1.36.1.tgz
  infrastructure/charts/cloud-agent-1.37.0.tgz
  infrastructure/charts/cloud-agent-1.38.0.tgz
  infrastructure/charts/index.yaml
  infrastructure/charts/prism-agent-1.16.2.tgz
  infrastructure/charts/prism-agent-1.16.3.tgz
  infrastructure/charts/prism-agent-1.16.4.tgz
  infrastructure/charts/prism-agent-1.17.0.tgz
  infrastructure/charts/prism-agent-1.18.0.tgz
  infrastructure/charts/prism-agent-1.19.0.tgz
  infrastructure/charts/prism-agent-1.19.1.tgz
  infrastructure/charts/prism-agent-1.20.0.tgz
  infrastructure/charts/prism-agent-1.20.1.tgz
  infrastructure/charts/prism-agent-1.21.0.tgz
  infrastructure/charts/prism-agent-1.21.1.tgz
  infrastructure/charts/prism-agent-1.22.0.tgz
  infrastructure/charts/prism-agent-1.23.0.tgz
  infrastructure/charts/prism-agent-1.24.0.tgz
  infrastructure/charts/prism-agent-1.25.0.tgz
  infrastructure/charts/prism-agent-1.26.0.tgz
  infrastructure/charts/prism-agent-1.27.0.tgz
  infrastructure/charts/prism-agent-1.28.0.tgz
  infrastructure/charts/prism-agent-1.29.0.tgz
  infrastructure/charts/prism-agent-1.30.0.tgz
  infrastructure/charts/prism-agent-1.30.1.tgz
  infrastructure/charts/prism-agent-1.31.0.tgz
  infrastructure/charts/prism-agent-1.32.0.tgz
  infrastructure/charts/prism-agent-1.32.1.tgz
  infrastructure/charts/prism-agent-1.33.0.tgz
  infrastructure/charts/prism-agent-1.33.1.tgz
Labels: infra

#1285 feat: connection less presentation
  build.sbt
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/agent/server/ControllerHelper.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/agent/server/jobs/DIDStateSyncBackgroundJobs.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/agent/server/jobs/PresentBackgroundJobs.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/presentproof/controller/PresentProofController.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/presentproof/controller/PresentProofControllerImpl.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/presentproof/controller/PresentProofEndpoints.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/presentproof/controller/PresentProofServerEndpoints.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/presentproof/controller/http/AcceptRequestPresentationInvitation.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/presentproof/controller/http/OOBPresentationInvitation.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/presentproof/controller/http/OOBRequestPresentationInput.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/presentproof/controller/http/PresentationStatus.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/presentproof/controller/http/PresentationStatusPage.scala
  mercury/protocol-invitation/src/test/scala/org/hyperledger/identus/mercury/protocol/invitation/v2/OutOfBandSpec.scala
  mercury/protocol-present-proof/src/main/scala/org/hyperledger/identus/mercury/protocol/presentproof/PresentProofInvitation.scala
  mercury/protocol-present-proof/src/main/scala/org/hyperledger/identus/mercury/protocol/presentproof/RequestPresentation.scala
  mercury/protocol-present-proof/src/test/scala/org/hyperledger/identus/mercury/protocol/presentproof/RequestPresentationSpec.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/model/PresentationRecord.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/model/error/PresentationError.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/PresentationService.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/PresentationServiceImpl.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/PresentationServiceNotifier.scala
  pollux/core/src/test/scala/org/hyperledger/identus/pollux/core/repository/PresentationRepositorySpecSuite.scala
  pollux/core/src/test/scala/org/hyperledger/identus/pollux/core/service/MockPresentationService.scala
  pollux/core/src/test/scala/org/hyperledger/identus/pollux/core/service/PresentationServiceNotifierSpec.scala
  pollux/core/src/test/scala/org/hyperledger/identus/pollux/core/service/PresentationServiceSpec.scala
  pollux/core/src/test/scala/org/hyperledger/identus/pollux/core/service/PresentationServiceSpecHelper.scala
  pollux/sql-doobie/src/main/resources/sql/pollux/V24__add_invitation_column_presentation_record.sql
  pollux/sql-doobie/src/main/scala/org/hyperledger/identus/pollux/sql/repository/JdbcPresentationRepository.scala
Labels: pollux, build, mercury, cloud-agent

#1288 fix: misc spelling
  CONTRIBUTING.md
  README.md
  cloud-agent/service/README.md
  docs/docusaurus/multitenancy/tenant-onboarding-ext-iam.md
  docs/guides/deploying-node.md
  infrastructure/dev/README.md
  infrastructure/local/README.md
  infrastructure/multi/README.md
  mercury/protocol-coordinate-mediation/Coordinate-Mediation-Protocol.md
  mercury/protocol-did-exchange/DidExchange-Protocol.md
  mercury/protocol-invitation/Invitation-Protocol.md
  mercury/protocol-report-problem/Report-Problem-Protocol.md
  mercury/protocol-revocation-notification/Revocation-notification-protocol.md
  mercury/protocol-routing/Routing-Protocol.md
Labels: infra, docs, mercury, cloud-agent

#1289 ci: build and publish the cloud-agent revision together with a helm chart and http clients
  .github/workflows/build.yml
  .github/workflows/release-clients.yml
Labels: ci

#1291 ci: make-revision-semver-compliant
  .github/workflows/build.yml
Labels: ci

#1290 fix: migrate wallet nonsecret storage to quill
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/agent/server/ControllerHelper.scala
  cloud-agent/service/wallet-api/src/main/scala/org/hyperledger/identus/agent/walletapi/sql/JdbcWalletNonSecretStorage.scala
  cloud-agent/service/wallet-api/src/main/scala/org/hyperledger/identus/agent/walletapi/sql/model/Wallet.scala
  cloud-agent/service/wallet-api/src/main/scala/org/hyperledger/identus/agent/walletapi/sql/model/package.scala
  cloud-agent/service/wallet-api/src/main/scala/org/hyperledger/identus/agent/walletapi/sql/package.scala
  mercury/protocol-present-proof/src/main/scala/org/hyperledger/identus/mercury/protocol/presentproof/PresentProofInvitation.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/PresentationService.scala
Labels: pollux, mercury, cloud-agent, autoupdate

#1292 ci: make revision semver compliant (fix the order)
  .github/workflows/build.yml
Labels: ci

#1287 ci: fix release pipeline checkout
  .github/workflows/release.yml
Labels: ci

#1293 chore: bump the project version to proceed with the semver-sioning in…
  version.sbt
Labels: build

#1295 ci: set next version properly
  .github/workflows/release.yml
  release.config.mjs
Labels: ci

#1296 chore: remove dead code SchemaValidator
  build.sbt
  pollux/vc-jwt/src/main/scala/org/hyperledger/identus/pollux/vc/jwt/VerifiableCredentialPayload.scala
  pollux/vc-jwt/src/main/scala/org/hyperledger/identus/pollux/vc/jwt/schema/PlaceholderSchemaValidator.scala
  pollux/vc-jwt/src/main/scala/org/hyperledger/identus/pollux/vc/jwt/schema/ReactiveCoreSchemaValidator.scala
  pollux/vc-jwt/src/main/scala/org/hyperledger/identus/pollux/vc/jwt/schema/SchemaResolver.scala
  pollux/vc-jwt/src/main/scala/org/hyperledger/identus/pollux/vc/jwt/schema/SchemaValidator.scala
Labels: pollux, build

#1299 fix: migrate to quill for generic secret storage
  cloud-agent/service/wallet-api/src/main/scala/org/hyperledger/identus/agent/walletapi/sql/JdbcGenericSecretStorage.scala
  cloud-agent/service/wallet-api/src/main/scala/org/hyperledger/identus/agent/walletapi/sql/model/GenericSecret.scala
  cloud-agent/service/wallet-api/src/main/scala/org/hyperledger/identus/agent/walletapi/sql/model/Wallet.scala
  pollux/core/src/test/scala/org/hyperledger/identus/pollux/core/service/MockPresentationService.scala
Labels: pollux, cloud-agent, autoupdate

#1298 feat: API Supports ValidFrom And ValidTo
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/oid4vci/service/OIDCCredentialIssuerService.scala
  cloud-agent/service/server/src/test/scala/org/hyperledger/identus/verification/controller/VcVerificationControllerImplSpec.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/CredentialServiceImpl.scala
  pollux/core/src/test/scala/org/hyperledger/identus/pollux/core/service/verification/VcVerificationServiceImplSpec.scala
  pollux/vc-jwt/src/main/scala/org/hyperledger/identus/pollux/vc/jwt/VerifiableCredentialPayload.scala
  pollux/vc-jwt/src/main/scala/org/hyperledger/identus/pollux/vc/jwt/revocation/VCStatusList2021.scala
  pollux/vc-jwt/src/test/scala/org/hyperledger/identus/pollux/vc/jwt/JWTVerificationTest.scala
Labels: pollux, cloud-agent

#1279 feat: Handle Error Notify webhooks ATL-6934
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/agent/server/jobs/ConnectBackgroundJobs.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/agent/server/jobs/PresentBackgroundJobs.scala
  cloud-agent/service/server/src/test/scala/org/hyperledger/identus/issue/controller/IssueControllerImplSpec.scala
  connect/core/src/main/scala/org/hyperledger/identus/connect/core/model/ConnectionRecord.scala
  connect/core/src/main/scala/org/hyperledger/identus/connect/core/repository/ConnectionRepository.scala
  connect/core/src/main/scala/org/hyperledger/identus/connect/core/service/ConnectionServiceImpl.scala
  connect/core/src/main/scala/org/hyperledger/identus/connect/core/service/ConnectionServiceNotifier.scala
  connect/core/src/test/scala/org/hyperledger/identus/connect/core/repository/ConnectionRepositoryInMemory.scala
  connect/core/src/test/scala/org/hyperledger/identus/connect/core/repository/ConnectionRepositorySpecSuite.scala
  connect/core/src/test/scala/org/hyperledger/identus/connect/core/service/ConnectionServiceNotifierSpec.scala
  connect/sql-doobie/src/main/scala/org/hyperledger/identus/connect/sql/repository/JdbcConnectionRepository.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/model/PresentationRecord.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/repository/PresentationRepository.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/CredentialServiceNotifier.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/PresentationServiceImpl.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/PresentationServiceNotifier.scala
  pollux/core/src/test/scala/org/hyperledger/identus/pollux/core/repository/PresentationRepositoryInMemory.scala
  pollux/core/src/test/scala/org/hyperledger/identus/pollux/core/repository/PresentationRepositorySpecSuite.scala
  pollux/core/src/test/scala/org/hyperledger/identus/pollux/core/service/CredentialServiceNotifierSpec.scala
  pollux/core/src/test/scala/org/hyperledger/identus/pollux/core/service/PresentationServiceNotifierSpec.scala
  pollux/sql-doobie/src/main/scala/org/hyperledger/identus/pollux/sql/repository/JdbcPresentationRepository.scala
  tests/integration-tests/build.gradle.kts
  tests/performance-tests/agent-performance-tests-k6/.env
  tests/performance-tests/agent-performance-tests-k6/package.json
  tests/performance-tests/agent-performance-tests-k6/src/scenarios/default.ts
  tests/performance-tests/agent-performance-tests-k6/yarn.lock
Labels: pollux, connect, cloud-agent

#1302 feat: API Supports ValidFrom And ValidTo (PART 2)
  pollux/vc-jwt/src/main/scala/org/hyperledger/identus/pollux/vc/jwt/VerifiableCredentialPayload.scala
Labels: pollux

#1306 fix: operation id repeated error
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/issue/controller/IssueEndpoints.scala
Labels: cloud-agent

#1307 ci: change auto-merge token [skip ci]
  .github/workflows/auto-merge.yml
Labels: ci

#1304 feat: presentation-exchange model and json schema refactoring
  .github/workflows/unit-tests.yml
  build.sbt
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/agent/server/http/ZHttp4sBlazeServer.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/api/http/codec/CirceJsonInterop.scala
  connect/core/src/main/scala/org/hyperledger/identus/connect/core/model/ConnectionRecord.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/model/CredentialOfferAttachment.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/model/PresentationRecord.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/model/error/CredentialSchemaError.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/model/error/PresentationError.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/model/presentation/PresentationAttachment.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/model/schema/CredentialSchema.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/model/schema/type/AnoncredSchemaType.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/model/schema/type/CredentialJsonSchemaSerDesV1.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/model/schema/type/CredentialJsonSchemaType.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/model/schema/type/CredentialSchemaType.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/model/schema/type/anoncred/AnoncredSchemaSerDesV1.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/model/schema/validator/JsonSchemaError.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/model/schema/validator/JsonSchemaUtils.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/model/schema/validator/JsonSchemaValidator.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/model/schema/validator/JsonSchemaValidatorImpl.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/model/schema/validator/SchemaSerDes.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/CredentialDefinitionServiceImpl.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/CredentialServiceImpl.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/PresentationServiceNotifier.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/serdes/AnoncredCredentialProofsV1.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/serdes/AnoncredPresentationRequestV1.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/serdes/AnoncredPresentationV1.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/serdes/PrivateCredentialDefinitionSchemaSerDesV1.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/serdes/ProofKeyCredentialDefinitionSchemaSerDesV1.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/serdes/PublicCredentialDefinitionSchemaSerDesV1.scala
  pollux/core/src/test/scala/org/hyperledger/identus/pollux/core/model/presentation/PresentationAttachmentSpec.scala
  pollux/core/src/test/scala/org/hyperledger/identus/pollux/core/model/schema/AnoncredSchemaTypeSpec.scala
  pollux/core/src/test/scala/org/hyperledger/identus/pollux/core/model/schema/CredentialSchemaSpec.scala
  pollux/core/src/test/scala/org/hyperledger/identus/pollux/core/service/CredentialServiceSpecHelper.scala
  pollux/prex/src/main/scala/org/hyperledger/identus/pollux/prex/PresentationDefinition.scala
  pollux/prex/src/main/scala/org/hyperledger/identus/pollux/prex/PresentationDefinitionValidator.scala
  pollux/prex/src/test/resources/pd/filter_by_cred_type.json
  pollux/prex/src/test/resources/pd/minimal_example.json
  pollux/prex/src/test/resources/pd/single_group.json
  pollux/prex/src/test/resources/pd/two_filters_simplified.json
  pollux/prex/src/test/scala/org/hyperledger/identus/pollux/prex/PresentationDefinitionValidatorSpec.scala
  pollux/vc-jwt/src/main/scala/org/hyperledger/identus/pollux/vc/jwt/Proof.scala
  pollux/vc-jwt/src/main/scala/org/hyperledger/identus/pollux/vc/jwt/VerifiableCredentialPayload.scala
  project/LicenseReport.scala
  shared/json/src/main/resources/json-schema/draft-07.json
  shared/json/src/main/scala/org/hyperledger/identus/shared/json/Json.scala
  shared/json/src/main/scala/org/hyperledger/identus/shared/json/JsonInterop.scala
  shared/json/src/main/scala/org/hyperledger/identus/shared/json/JsonSchema.scala
Labels: pollux, build, ci, shared, connect, cloud-agent, autoupdate

#1309 fix: cleanup and minor refactoring to remove duplicates
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/agent/server/jobs/IssueBackgroundJobs.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/agent/server/jobs/PresentBackgroundJobs.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/presentproof/controller/PresentProofController.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/presentproof/controller/PresentProofControllerImpl.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/presentproof/controller/PresentProofEndpoints.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/presentproof/controller/PresentProofServerEndpoints.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/presentproof/controller/http/OOBRequestPresentationInput.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/presentproof/controller/http/RequestPresentationInput.scala
  connect/core/src/main/scala/org/hyperledger/identus/connect/core/model/ConnectionRecord.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/model/error/CredentialServiceError.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/model/error/PresentationError.scala
Labels: pollux, connect, cloud-agent, autoupdate

#1251 build: add predef to remove ???
  build.sbt
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/agent/server/jobs/IssueBackgroundJobs.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/oid4vci/controller/CredentialIssuerController.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/presentproof/controller/http/PresentationStatus.scala
  connect/sql-doobie/src/main/scala/org/hyperledger/identus/connect/sql/repository/JdbcConnectionRepository.scala
  mercury/agent-didcommx/src/main/scala/org/hyperledger/identus/mercury/model/Conversions.scala
  mercury/agent/src/main/scala/org/hyperledger/identus/mercury/CoordinateMediationPrograms.scala
  mercury/models/src/main/scala/org/hyperledger/identus/mercury/model/EncryptedMessage.scala
  mercury/protocol-issue-credential/src/main/scala/org/hyperledger/identus/mercury/protocol/issuecredential/Utils.scala
  mercury/protocol-report-problem/src/main/scala/org/hyperledger/identus/mercury/protocol/reportproblem/v1/ReportProblem.scala
  mercury/protocol-trust-ping/src/main/scala/org/hyperledger/identus/mercury/protocol/trustping/TrustPingResponse.scala
  mercury/resolver/src/main/scala/org/hyperledger/identus/resolvers/PeerDidResolver.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/CredentialDefinitionServiceImpl.scala
  pollux/sql-doobie/src/main/scala/org/hyperledger/identus/pollux/sql/repository/JdbcCredentialRepository.scala
  pollux/sql-doobie/src/main/scala/org/hyperledger/identus/pollux/sql/repository/JdbcPresentationRepository.scala
  pollux/vc-jwt/src/main/scala/org/hyperledger/identus/pollux/vc/jwt/VerifiableCredentialPayload.scala
  shared/predef/src/main/scala/org/hyperledger/identus/Predef.scala
Labels: pollux, build, shared, mercury, connect, cloud-agent

#1305 feat: API Supports ValidFrom And ValidTo Test
  pollux/vc-jwt/src/main/scala/org/hyperledger/identus/pollux/vc/jwt/VerifiableCredentialPayload.scala
  pollux/vc-jwt/src/test/scala/org/hyperledger/identus/pollux/vc/jwt/JWTVerificationTest.scala
Labels: pollux

#1311 feat: integrate json-path in presentation definition
  build.sbt
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/agent/server/jobs/BackgroundJobsHelper.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/issue/controller/IssueControllerImpl.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/CredentialServiceImpl.scala
  pollux/core/src/test/scala/org/hyperledger/identus/pollux/core/model/presentation/PresentationAttachmentSpec.scala
  pollux/prex/src/main/scala/org/hyperledger/identus/pollux/prex/PresentationDefinition.scala
  pollux/prex/src/main/scala/org/hyperledger/identus/pollux/prex/PresentationDefinitionValidator.scala
  pollux/prex/src/test/scala/org/hyperledger/identus/pollux/prex/PresentationDefinitionValidatorSpec.scala
  shared/json/src/main/scala/org/hyperledger/identus/shared/json/JsonPath.scala
  shared/json/src/test/scala/org/hyperledger/identus/shared/json/JsonPathSpec.scala
Labels: pollux, build, shared, cloud-agent

#1313 fix: the oob encode invitation
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/issue/controller/http/IssueCredentialOfferInvitation.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/presentproof/controller/http/OOBPresentationInvitation.scala
Labels: cloud-agent

#1314 fix: delete subject id from presentation record
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/agent/server/jobs/PresentBackgroundJobs.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/model/PresentationRecord.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/PresentationServiceImpl.scala
  pollux/core/src/test/scala/org/hyperledger/identus/pollux/core/repository/PresentationRepositorySpecSuite.scala
  pollux/core/src/test/scala/org/hyperledger/identus/pollux/core/service/PresentationServiceNotifierSpec.scala
  pollux/sql-doobie/src/main/resources/sql/pollux/V26__remove_subject_id_column_presentation_record.sql
  pollux/sql-doobie/src/main/scala/org/hyperledger/identus/pollux/sql/repository/JdbcPresentationRepository.scala
Labels: pollux, cloud-agent

#1310 fix: add License to the POM files #1099
  build.sbt
Labels: build
