Repository hyperledger-identus/cloud-agent, pull requests merged in 2025-03, with the labels that each got.

#1534 docs: fix broken documentation link
  README.md
Labels: infra, ci, docs, cloud-agent

#1538 fix: remove adding default service
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/agent/server/MainApp.scala
  cloud-agent/service/wallet-api/src/main/scala/org/hyperledger/identus/agent/walletapi/service/ManagedDIDServiceImpl.scala
  cloud-agent/service/wallet-api/src/main/scala/org/hyperledger/identus/agent/walletapi/service/ManagedDIDServiceWithEventNotificationImpl.scala
  cloud-agent/service/wallet-api/src/test/scala/org/hyperledger/identus/agent/walletapi/service/ManagedDIDServiceSpec.scala
Labels: cloud-agent

#1539 fix: code cleanup
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/agent/server/MainApp.scala
Labels: cloud-agent

#1540 fix: return proper error response for unauthorized access
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/connect/controller/ConnectionEndpoints.scala
Labels: cloud-agent

#1511 ci: update workflows
  .github/actions/upload-to-xray/action.yml
  .github/labeler.yml
  .github/workflows/build.yml
  .github/workflows/integration-tests.yml
  .github/workflows/lint.yml
  .github/workflows/oasdiff.yml
  .github/workflows/release-clients.yml
  .github/workflows/release.yml
  CHANGELOG.md
  package-lock.json
  package.json
  release.config.mjs
Labels: build, ci

#1543 build: rename all docker images in the cloud-agent repository
  CONTRIBUTING.md
  build.sbt
  infrastructure/shared/docker-compose-combined.yml
  infrastructure/shared/docker-compose-demo.yml
  infrastructure/shared/docker-compose-mt-keycloak.yml
  infrastructure/shared/docker-compose-with-kafka.yml
  infrastructure/shared/docker-compose.yml
  infrastructure/single-tenant-testing-stack/docker-compose.yml
  tests/didcomm-tests/docker/docker-compose.yml
  tests/integration-tests/src/test/resources/containers/agent.yml
  tests/integration-tests/src/test/resources/containers/vdr.yml
Labels: build, infra

#1545 docs: remove node deployment instructions, fix #1473
  docs/guides/deploying-node.md
Labels: docs, autoupdate

#1546 build: commit OAS if changed
  .github/workflows/auto-merge.yml
  .github/workflows/update-oas.yml
  .log4brains.yml
  cloud-agent/service/server/src/test/scala/org/hyperledger/identus/api/util/Tapir2StaticOAS.scala
Labels: ci, cloud-agent, autoupdate

#1551 build: deactivate the megalinter workflow on pull_request
  .github/workflows/lint.yml
Labels: ci

#1549 fix: mitigation to #1495 (update the outdated url)
  build.sbt
  cloud-agent/service/api/http/cloud-agent-openapi-spec.yaml
  docs/docusaurus/credentials/revocation.md
  pollux/vc-jwt/src/main/scala/org/hyperledger/identus/pollux/vc/jwt/revocation/VCStatusList2021.scala
  pollux/vc-jwt/src/test/scala/org/hyperledger/identus/pollux/vc/jwt/JWTVerificationTest.scala
Labels: pollux, build, docs, cloud-agent
