Repository hyperledger-identus/cloud-agent, pull requests merged in 2025-04, with the labels that each got.

#1554 fix(migration): quote reserved "format" column for PostgreSQL compatibility
  pollux/sql-doobie/src/main/resources/sql/pollux/V27__presentation_definition_table.sql
Labels: pollux

#1558 fix: JsonLD context resolution, SQL migration formatting, revocation list URL
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/docker/Dockerfile
  .github/workflows/build-test-docker.yml
  .github/workflows/build.yml
  .github/workflows/oasdiff.yml
  .github/workflows/release-clients.yml
  .github/workflows/release.yml
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  SECURITY.md
  build.sbt
  cloud-agent/client/kotlin/build.gradle
  cloud-agent/client/python/setup.py
  cloud-agent/client/typescript/package.json
  cloud-agent/service/api/http/cloud-agent-openapi-spec.yaml
  docs/docusaurus/credentials/oid4vci.md
  docs/docusaurus/credentials/revocation.md
  infrastructure/local/.env
  infrastructure/single-tenant-testing-stack/.env
  pollux/sql-doobie/src/main/resources/sql/pollux/V27__presentation_definition_table.sql
  pollux/vc-jwt/src/main/scala/org/hyperledger/identus/pollux/vc/jwt/revocation/VCStatusList2021.scala
  pollux/vc-jwt/src/test/scala/org/hyperledger/identus/pollux/vc/jwt/JWTVerificationTest.scala
  release.config.mjs
  shared/json/src/main/scala/org/hyperledger/identus/shared/json/Json.scala
  shared/json/src/test/scala/org/hyperledger/identus/shared/json/JsonLdLoadSpec.scala
  shared/predef/src/main/scala/org/hyperledger/identus/Predef.scala
  tests/integration-tests/README.md
Labels: pollux, build, infra, ci, docs, shared, cloud-agent

#1560 fix: add LRUDocumentLoader to optimize the JsonLD.toRdf call, fix #1553
  shared/json/src/main/scala/org/hyperledger/identus/shared/json/Json.scala
  shared/json/src/test/scala/org/hyperledger/identus/shared/json/JsonLdLoadSpec.scala
Labels: shared

#1563 chore: update workflows
  .github/workflows/build.yml
  .github/workflows/integration-tests.yml
  .github/workflows/labeler.yml
  .github/workflows/release.yml
Labels: ci
