Repository hyperledger-identus/cloud-agent, pull requests merged in 2025-02, with the labels that each got.

#1520 build: migrate to hyperledger-identus org and Docker Hub
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/docker/Dockerfile
  .github/workflows/build-test-docker.yml
  .github/workflows/build.yml
  .github/workflows/oasdiff.yml
  .github/workflows/release-clients.yml
  .github/workflows/release.yml
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  SECURITY.md
  cloud-agent/client/generator/publish-clients.sh
  cloud-agent/client/kotlin/build.gradle
  cloud-agent/client/kotlin/settings.gradle
  cloud-agent/client/python/setup.py
  cloud-agent/client/typescript/package.json
  docs/docusaurus/credentials/oid4vci/issue.md
  release.config.mjs
  shared/predef/src/main/scala/org/hyperledger/identus/Predef.scala
  tests/integration-tests/README.md
Labels: ci, docs, shared, cloud-agent

#1529 docs: refactor links from `docs` to `home`
  README.md
  docs/docusaurus/connections/connection.md
  docs/docusaurus/credentialdefinition/create.md
  docs/docusaurus/credentialdefinition/delete.md
  docs/docusaurus/credentials/connectionless/issue.md
  docs/docusaurus/credentials/didcomm/issue.md
  docs/docusaurus/credentials/didcomm/present-proof.md
  docs/docusaurus/credentials/oid4vci/issue.md
  docs/docusaurus/dids/create.md
  docs/docusaurus/dids/deactivate.md
  docs/docusaurus/dids/publish.md
  docs/docusaurus/dids/update.md
  docs/docusaurus/index.md
  docs/docusaurus/multitenancy/admin-authz-ext-iam.md
  docs/docusaurus/multitenancy/tenant-migration.md
  docs/docusaurus/multitenancy/tenant-onboarding-ext-iam.md
  docs/docusaurus/multitenancy/tenant-onboarding-self-service.md
  docs/docusaurus/multitenancy/tenant-onboarding.md
  docs/docusaurus/schemas/create.md
  docs/docusaurus/schemas/credential-schema.md
  docs/docusaurus/schemas/delete.md
  docs/docusaurus/schemas/update.md
Labels: docs

#1533 fix: add SDJWT value to the OAS enum validation in IssueCredentialRec…
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/issue/controller/http/CreateIssueCredentialRecordRequest.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/issue/controller/http/IssueCredentialRecord.scala
Labels: cloud-agent

#1531 fix: docker compose to pass enable API_KEY_ENABLED flag
  infrastructure/shared/docker-compose-combined.yml
  infrastructure/shared/docker-compose-demo.yml
  infrastructure/shared/docker-compose-mt-keycloak.yml
  infrastructure/shared/docker-compose-with-kafka.yml
  infrastructure/shared/docker-compose.yml
Labels: infra

#1535 build: publish http client assets to NPMJS and Maven Central
  .github/workflows/build.yml
  .github/workflows/release-clients.yml
  CONTRIBUTING.md
  cloud-agent/client/generator/publish-clients.sh
  cloud-agent/client/kotlin/build.gradle
  cloud-agent/client/kotlin/build.gradle.kts
  cloud-agent/client/kotlin/gradle.properties
  cloud-agent/client/typescript/package.json
Labels: ci, docs, shared, cloud-agent
