Repository hyperledger-identus/cloud-agent, pull requests merged in 2025-01, with the labels that each got.

#1487 fix: Add disclose claims to presentation record credential type SDJWT
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/agent/server/jobs/PresentBackgroundJobs.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/presentproof/controller/http/PresentationStatus.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/presentproof/controller/http/PresentationStatusPage.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/model/PresentationRecord.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/repository/PresentationRepository.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/PresentationService.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/PresentationServiceImpl.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/PresentationServiceNotifier.scala
  pollux/core/src/test/scala/org/hyperledger/identus/pollux/core/repository/PresentationRepositoryInMemory.scala
  pollux/core/src/test/scala/org/hyperledger/identus/pollux/core/repository/PresentationRepositorySpecSuite.scala
  pollux/core/src/test/scala/org/hyperledger/identus/pollux/core/service/MockPresentationService.scala
  pollux/core/src/test/scala/org/hyperledger/identus/pollux/core/service/PresentationServiceNotifierSpec.scala
  pollux/sd-jwt/src/test/scala/org/hyperledger/identus/pollux/sdjwt/ValidClaimsSpec.scala
  pollux/sql-doobie/src/main/resources/sql/pollux/V30__add_sdjwt_disclosed_claims_columns.sql
  pollux/sql-doobie/src/main/scala/org/hyperledger/identus/pollux/sql/repository/JdbcPresentationRepository.scala
Labels: pollux, cloud-agent

#1488 fix: documentation build
  docs/docusaurus/credentials/oid4vci/issue.md
  docs/docusaurus/sidebars.js
Labels: docs

#1493 docs: api spec documentation
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/issue/controller/http/IssueCredentialRecord.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/presentproof/controller/http/PresentationStatus.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/presentproof/controller/http/RequestPresentationInput.scala
Labels: cloud-agent

#1492 feat: add feature flag to enable/disable support for Anoncred (backend job and API) #1491
  build.sbt
  cloud-agent/service/server/src/main/resources/application.conf
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/agent/server/MainApp.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/agent/server/config/AppConfig.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/agent/server/jobs/IssueBackgroundJobs.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/agent/server/jobs/PresentBackgroundJobs.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/api/http/ErrorResponse.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/issue/controller/IssueControllerImpl.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/presentproof/controller/PresentProofControllerImpl.scala
  mercury/agent-didcommx/src/main/scala/org/hyperledger/identus/mercury/model/Conversions.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/model/error/PresentationError.scala
  pollux/vc-jwt/src/main/scala/org/hyperledger/identus/pollux/vc/jwt/VerifiablePresentationPayload.scala
  tests/integration-tests/src/test/resources/containers/agent.yml
Labels: pollux, build, mercury, cloud-agent

#1490 chore: update actions
  .github/workflows/build.yml
  .github/workflows/release-clients.yml
Labels: ci

#1498 docs: Broken link in Credential Schema Introduction page for hyperledger/identus-docs#199
  docs/docusaurus/schemas/credential-schema.md
  tests/integration-tests/src/test/resources/containers/agent.yml
Labels: docs

#1496 docs: add reference to the simple docker compose file in the root pro…
  README.md
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/agent/server/http/DocModels.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/castor/controller/DIDRegistrarEndpoints.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/credentialstatus/controller/http/StatusListCredential.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/event/controller/EventEndpoints.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/iam/entity/http/EntityEndpoints.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/iam/wallet/http/WalletManagementEndpoints.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/pollux/credentialdefinition/CredentialDefinitionRegistryEndpoints.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/pollux/credentialschema/SchemaRegistryEndpoints.scala
Labels: docs, cloud-agent

#1494 fix: openAPI mutability #1115
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/api/http/ErrorResponse.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/connect/controller/http/Connection.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/credentialstatus/controller/http/StatusListCredential.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/issue/controller/http/IssueCredentialRecord.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/presentproof/controller/http/PresentationStatus.scala
  cloud-agent/service/server/src/test/scala/org/hyperledger/identus/api/util/Tapir2StaticOAS.scala
Labels: cloud-agent

#1476 feat: add e2e tests for different createCredentialOffer API variations
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/issue/controller/IssueControllerImpl.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/issue/controller/http/CreateIssueCredentialRecordRequest.scala
  cloud-agent/service/server/src/test/scala/org/hyperledger/identus/issue/controller/CredentialSchemaReferenceParsingLogicSpec.scala
  cloud-agent/service/server/src/test/scala/org/hyperledger/identus/issue/controller/IssueControllerImplSpec.scala
  tests/integration-tests/build.gradle.kts
  tests/integration-tests/src/test/kotlin/common/CreateCredentialOfferAPIVersion.kt
  tests/integration-tests/src/test/kotlin/common/CredentialClaims.kt
  tests/integration-tests/src/test/kotlin/common/CredentialType.kt
  tests/integration-tests/src/test/kotlin/common/JwtCredentialProblem.kt
  tests/integration-tests/src/test/kotlin/common/SchemaErrorTemplate.kt
  tests/integration-tests/src/test/kotlin/eu/europa/ec/eudi/openid4vci/HttpsUrl.kt
  tests/integration-tests/src/test/kotlin/models/JwtCredential.kt
  tests/integration-tests/src/test/kotlin/steps/credentials/CredentialSteps.kt
  tests/integration-tests/src/test/kotlin/steps/oid4vci/ManageIssuerSteps.kt
  tests/integration-tests/src/test/kotlin/steps/schemas/CredentialSchemasSteps.kt
  tests/integration-tests/src/test/resources/features/credential/jwt/issuance-refactoring.feature
  tests/integration-tests/src/test/resources/features/credential/jwt/issuance.feature
  tests/integration-tests/src/test/resources/features/credential/sdjwt/issuance-refactoring.feature
  tests/integration-tests/src/test/resources/features/credential/sdjwt/issuance.feature
  tests/integration-tests/src/test/resources/features/oid4vci/issue_jwt.feature
  tests/integration-tests/src/test/resources/features/oid4vci/manage_credential_config.feature
Labels: cloud-agent

#1502 feat: AnonCreds e2e tests
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/issue/controller/IssueControllerImpl.scala
  cloud-agent/service/server/src/main/scala/org/hyperledger/identus/issue/controller/http/CreateIssueCredentialRecordRequest.scala
  infrastructure/local/.env
  infrastructure/single-tenant-testing-stack/.env
  tests/integration-tests/README.md
  tests/integration-tests/build.gradle.kts
  tests/integration-tests/src/test/kotlin/common/CreateCredentialOfferAPIVersion.kt
  tests/integration-tests/src/test/kotlin/common/CredentialClaims.kt
  tests/integration-tests/src/test/kotlin/steps/credentials/AnoncredSteps.kt
  tests/integration-tests/src/test/kotlin/steps/credentials/CredentialSteps.kt
  tests/integration-tests/src/test/resources/features/credential/anoncred/issuance-refactoring.feature
Labels: infra, cloud-agent

#1504 feat: add LOG_LEVEL environment variable to the cloud-agent logback.x…
  cloud-agent/service/server/src/main/resources/logback.xml
  tests/integration-tests/src/test/resources/containers/agent.yml
Labels: cloud-agent

#1505 fix: VPJWT JSON decoder in the issue-credential protocol
  mercury/agent-didcommx/src/main/scala/org/hyperledger/identus/mercury/MessagingService.scala
  pollux/core/src/main/scala/org/hyperledger/identus/pollux/core/service/CredentialServiceImpl.scala
  pollux/vc-jwt/src/main/scala/org/hyperledger/identus/pollux/vc/jwt/VerifiablePresentationPayload.scala
  tests/integration-tests/src/test/kotlin/steps/credentials/CredentialSteps.kt
Labels: pollux, mercury, cloud-agent
